<link rel="stylesheet" href="stylesheets/timepicker.css" type="text/css" />
<script src="javascripts/timepicker.js" type="text/javascript"></script>

<div class="container">
       <h1>ADD schedule</h1>
   <!-- Form COntainer -->
    
    <div class="form-section  wt-frame">
     

    
     <form  name="myForm" class="event-form"  novalidate>
               
            <div class="event-date fieldSection"> 
    
              <div class="tab-content">
                          
		<!--- Start Schedule code --->
	     
	        <div role="tabpanel"  id="multiple-event">
                
                <div ng-hide="error_message"><p class="error-fld" >{{error}}</p></div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="EndTime">Start Date<span class="req">*</span></label>
                      <div class="form-group datepicker">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="multiple_start_date" is-open="popup1.opened" datepicker-options="dateOptions"  close-text="Close" alt-input-formats="altInputFormats"  ng-change="recurring_period('start')"/>
                        <span class="input-group-btn">
                        <i class="glyphicon glyphicon-calendar" ng-click="open1()"></i></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="EndTime">End Date<span class="req">*</span></label>
                      <div class="form-group datepicker">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="multiple_end_date" is-open="popup2.opened" datepicker-options="dateOptions"  close-text="Close"  ng-change="recurring_period('end')"/>
                        <span class="input-group-btn">
                          <i class="glyphicon glyphicon-calendar" ng-click="open2()"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <label for="City">Recurring<span class="req">*</span></label>
                    <div class="form-group">
                      <select class="form-control" ng-model="data.period" ng-change="recurring_period('period')">
                        <option ng-repeat="option in timeperiod" value="{{option.id}}">{{option.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-4" ng-if="dailyrecurring_div">
                    <label>Repeat Every (Days)<span class="req">*</span></label>
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="rec_days_value" ng-change="rec_days_func(rec_days_value)" required>
                    </div>
                  </div>
                  
                  <div class="col-sm-8 event" ng-hide="days_div">
                    <div class="form-group custom-check m-t40">
                      <p class="custom-check" ng-repeat="day in days">
                        <input type="checkbox"  ng-model="day.selected" id={{day.id}} ng-change="select_checkbox(day.selected)"  value={{day.id}}>
                        <label for="{{day.id}}">{{day.name}}</label>
                      </p>
                    </div>
                  </div>
                  <!-- DIV END -->
                  <div class="col-sm-4 event" ng-hide="weekly_div">
                    <div class="form-group custom-check m-t30">
                      <select ng-model="data.weekly_option" ng-change="weekly_option_change()" class="form-control">
                        <option ng-repeat="day in days" value="{{day.id}}">{{day.name}}</option>
                      </select>
                    </div>
                  </div> 
                  <!-- MONTHLY START -->
                  <div class="col-sm-8 event m-t40" ng-hide="monthly_div">
                  	<div class="inline-radio">
                    <label class="radiolabel"><input type="radio" name="everythisday" value="everythisday" ng-model="monthly.type"><span>Select Particular Day</span></label></div> <div class="inline-radio"><label class="radiolabel"><input type="radio" name="everythisweek" value="everythisweek" ng-model="monthly.type"><span>Select Particular Week's Day</span></label></div>
                      <div class="monthly-padding" ng-show="monthly.type == 'everythisday'">
                        On day
                        <select ng-model="data.monthly_option" ng-change="change_month()" class="form-control sml-sel w-auto">
                          <option ng-repeat="date in dates" value="{{date.id}}">{{date.id}}</option>
                        </select> 
                        of every month
                      </div>
                   
                      <div class="monthly-padding" ng-show="monthly.type == 'everythisweek'">
                        On the 
                        <select ng-model="data.monthly_week_value" ng-change="rec_monthly_func()" class="form-control sml-sel w-auto">
                          <option ng-repeat="week_value in month_week_selection" value="{{week_value.id}}">{{week_value.name}}</option>
                        </select>
                        <select ng-model="data.monthly_day_value" ng-change="rec_monthly_func()" class="form-control sml-sel w-auto">
                          <option ng-repeat="day in days" value="{{day.id}}">{{day.name}}</option>
                        </select> 
                        of every month
                        <br><span style="color: red">{{monthly_error}}</span>
                      </div>
                     
                  </div>
                  <!-- MONTHLY END -->                 
                </div>
                
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="StartTime">Start Time<span class="req">*</span></label>
                      <div class="input-group bootstrap-timepicker timepicker">
                        <input  ng-model="multiple_starttime"  class="form-control input-small timepick" type="text" ng-change="multiplestart()"/><span class="input-group-addon timepick1"><i class="glyphicon glyphicon-time"></i></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="EndTime">End Time</label>
                      <div class="input-group bootstrap-timepicker timepicker">
                        <input  ng-model="multiple_endtime"  class="form-control input-small timepick" type="text" ng-change="multipleend()"/><span class="input-group-addon timepick1"><i class="glyphicon glyphicon-time"></i></span>
                      </div>
                      
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-xs-12">
                    <label>Select/Deselect Events</label>
                    <div class="row" ng-hide="error_time_message"  ><p class="error-fld" >{{error_time_display_message}}</p></div>
                    <div class="clearfix list-event-date form-inline"  ng-repeat="between in between_date track by $index">
                      <div class="col-sm-1 pull-right text-right lss-top"> <a ng-click="removediv($index)"><i class="fa fa-close"></i></a> </div>
                      
                      <div class="sel-d col-sm-3">
                        <label> {{between| date:'EEEE MMMM dd,yyyy'}} </label>
                      </div>
                      <div class="sel-d col-sm-4">
                        <label for="exampleInputName2">Start Time:</label>
                        <div class="input-group bootstrap-timepicker timepicker">
                          <input   class="form-control input-small timepick" type="text" ng-model="data.starttimeloop1[$index]" /><span class="input-group-addon timepick1"><i class="glyphicon glyphicon-time"></i></span>
                        </div>
                        
                        
                      </div>
                      <div class="sel-d col-sm-4">
                        <label for="exampleInputEmail2">End Time : </label>
                        <div class="input-group bootstrap-timepicker timepicker">
                          <input   class="form-control input-small timepick" type="text" ng-model="data.endtimeloop1[$index]" ng-change="checkStartEndTime($index)"/><span class="input-group-addon timepick1"><i class="glyphicon glyphicon-time"></i></span>
                        </div>
                        
                      </div>
                      
                      
                    </div>
                    
                  </div>
                </div>
                
                
              </div>
            </div>
            <!---oooooooooooo-->     
	  <!--- End Schedule code --->
             
              </div>
            </div>