<link rel="stylesheet" href="stylesheets/timepicker.css" type="text/css" />
<script src="javascripts/timepicker.js" type="text/javascript"></script>
<div class="container">
     <h1>Create an Package</h1>
    <!-- Step Form -->
    
    <div class="stage-container clearfix">
      <div class="stage" ng-repeat="step in steps" ng-class="{current: isActive2(step)}" ng-click="click_menu(step)">
      <div class="stage-icon"><i class="{{step.icon}}"></i> </div>
      <div class="stage-title">{{step.title}}</div> </div>
    </div>
    
    <!-- //Step Form --> 
    
    <!-- Form COntainer -->
    <span ng-show="success_message" class="ng-hide"><p class="success-fld ng-binding">{{success}}</p></span>
    <span ng-hide="error_message"><p class="error-fld" >{{error}}</p></span>
    <div class="form-section  wt-frame">
     
<!-- package section -->
<div ng-hide="eventdetail_div" class="eventseries">
 
     <form  name="myForm" class="event-form"  ng-submit="savedata(data)" novalidate>
          <div class="form-group">
            <label for="eventname">Package Name<span class="req">*</span></label>
            <input type="text" name="eventname" ng-model="data.eventname" class="form-control" placeholder="" required>
             <span style="color:red" ng-show="myForm.eventname.$dirty && myForm.eventname.$invalid">  <span  ng-show="myForm.eventname.$error.required">Package name is required</span></span>
          </div>
          <div class="editr">
        <label> Description<span class="req">*</span></label>
         <div ckeditor="option_ckeditor" name="content"  required ng-model="data.content" ready="onReady()" value=''>
           
         </div>
         </div>
         </form>
        
         
<!-- events section -->
           <div class="form-group field-group">
            <label>Events is Include in package<span class="req">*</span></label>
                 <section class="gray-frame sub-fields"> 
                  <div class="row">
                    <div class="col-sm-4">
                   <div class="form-group">
                     <label>Events<span class="req">*</span></label>
                       <button type="button" ng-click=add_remove() class="gray-btn btn">Add/remove event</button>
                  </div>
                    
                  </div>
                  </div>
          </section>
                </div>
            
            
        <!-- sale time section-->

   <section class="form-group field-group">
            <label>Sales Times</label>
            <section class="gray-frame sub-fields">             
                <section class="row">
                     <div class="col-sm-4">
                        <div class="form-group">
                            <label>Online Sales Open<span class="req">*</span></label>
                            <div class="form-group datepicker">
                         <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="multiple_start_date" is-open="popup3.opened" datepicker-options="dateOptions"  close-text="Close" alt-input-formats="altInputFormats"  ng-change="recurring_period('start')"/>
                         <span class="input-group-btn">
                           <button type="button" class="btn btn-default" ng-click="open3()"><i class="glyphicon glyphicon-calendar"></i></button></span>
                     </div>
                        </div>
                  </div>
                    <div class="col-sm-8">
                      <section class="row text-drop">
                          <section class="col-sm-4 form-group"><select class="form-control">
                                  <option value=" ">HR</option>
                                </select></section>
                            <section class="col-sm-4 form-group"><select class="form-control">
                                  <option value=" ">MIN</option>
                                </select></section>
                            <section class="col-sm-4 form-group"><select class="form-control">
                                  <option value=" ">PM</option>
                                </select></section>
                        </section>
                  </div>
                </section>
                <section class="radio-sec custom-check m-b20">
                    <p class="radio-inline">
                        <input type="checkbox" id="test2">
                        <label for="test2">Immediately</label>
                  </p>
               </section>
                       
                <section class="row">
                   <div class="col-sm-4">
                        <div class="form-group">
                            <label>Online Sales Open<span class="req">*</span></label>
                                  <div class="form-group datepicker">
                         <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="multiple_start_date" is-open="popup4.opened" datepicker-options="dateOptions"  close-text="Close" alt-input-formats="altInputFormats"  ng-change="recurring_period('start')"/>
                         <span class="input-group-btn">
                           <button type="button" class="btn btn-default" ng-click="open4()"><i class="glyphicon glyphicon-calendar"></i></button></span>
                     </div>
                  </div>
                  </div>
                    <div class="col-sm-8">
                      <section class="row text-drop">
                          <section class="col-sm-4 form-group"><select class="form-control">
                                  <option value=" ">HR</option>
                                </select></section>
                            <section class="col-sm-4 form-group"><select class="form-control">
                                  <option value=" ">MIN</option>
                                </select></section>
                            <section class="col-sm-4 form-group"><select class="form-control">
                                  <option value=" ">PM</option>
                                </select></section>
                        </section>
                  </div>
                </section>
            </section>
          </section>

<!-- setting section-->

        <div class="form-group field-group">
            <label for="Location">Settings</label>
            <!-- Date Event Group -->
            <div class="event-date fieldSection">
              <div class="row">
        <div class="col-sm-12">
        <div class="col-sm-4">
                      <label class="form-label">Type of Event</label>
                    </div>
                    <div class="col-sm-4">
                     <label for="EventName"> Categories<span class="req">*</span></label>
                    </div>

                    <div class="col-sm-4">
                     <label> Ages<span class="req">*</span></label>
                    </div>
                    </div>
                    <section class="radio-sec with-ftext col-sm-12">
                        <div class="col-sm-4">

                          <section class="radio-inline">
                              <input type="radio"  name="type_of_event" ng-model="data1.type_of_event" checked>
                              <label for="radio1"><span></span>Ticketed</label>
                          </section>
                          <section class="radio-inline">
                          <input type="radio"   name="type_of_event" ng-model="data1.type_of_event">
                          <label for="radio2"><span></span>Registration</label>
                          </section>
                        </div>
                        <div class="col-sm-4">
                   

                            <select class="form-control">
                              <option value="Ticket">Art/exhibit</option>
                            </select>
                        
                        </div>
                        <div class="col-sm-4">
                                <select class="form-control" name="ages" ng-model="data1.ages">
                                  <option ng-repeat="age in ages" value="{{age.id}}">{{age.name}}</option>
                                </select>
                               
                          <div class="col-sm-12">
                          <section>
                                <span ng-hide="age_text_div">
                                <a ng-click="custom_age()" style="cursor: pointer;" class="u-text with-ftext">
                                <strong>Define a custom age limit</strong>
                                </a></span>
                                <span ng-hide="return_age_text_div"><a ng-click="custom_default_age()" style="cursor: pointer;" class="u-text with-ftext"><strong>Return to Default age limits</strong></a></span>
                            </section>
                            </div>
                            
                        </div>
                         <div class="col-sm-12">
                      <label class="form-label">Series Website</label>
                   <input type="text" name="website" ng-model="website" class="form-control" required>
                   </div>
                  

                     <div class="col-sm-12">
                   <br>
                   <br>
                        <label class="form-label">Images</label>
                         <div class="col-sm-12">
                           <div class="col-sm-6">
                             <input type="file" name="choose file"  width="10%" height="10%"/required>
                           </div>
                          <div class="radio-sec custom-check m-b20 col-md-4 col-sm-4">
            
                            <p class="radio-inline">
                            <input type="checkbox" id="test2">
                            <label for="test2">Display image an event Listing</label>
                           </p>
                          </div>
                        </div>
                     </section>
                     

              
              

              </div>
              </section>
              </div>
              </div>
         <!--<span style="color:red;" ng-show="myForm.content.$dirty && myForm.content.$invalid">  <span  ng-show="myForm.content.$error.required">Event description is required</span></span>-->
         

         
        <div class="editor-btn">
          <button type="submit" 
ng-disabled="myForm.$invalid" class="gray-btn btn">Save</button> 
          <button type="button"  ng-click="click_menu(steps[1])" class="pink-btn btn">Next</button>
        </div>
        <div ng-hide="error_message"><p class="success-fld ng-binding">{{success}}</p></div>

    </div>
  



 <!--price and link part -->
 <div ng-hide="price_and_link_div">
           <!-- Event Detail Form -->
           
            

                    <section class="radio-sec with-ftext">
                          <section class="radio-inline">
                              <input type="radio" id="radio1" name="type_of_event" ng-model="data1.type_of_event" checked>
                              <label for="radio1"><span></span>Ticketed</label>
                          </section>
                            <section class="radio-inline">
                          <input type="radio" id="radio2"  name="type_of_event" ng-model="data1.type_of_event">
                          <label for="radio2"><span></span>Registration</label>
                          </section>
                   </section>
                  
    <form>

  
            
   
          <!-- Ticket Types Closed -->
          <!-- Bundles Start -->
          <div class="module">
              <section class="prof-hd">
                   <i class="fa fa-database hdicon pos-l16"></i>
                    <h2>Bundles <span class="rt-img"><i class="fa fa-caret-down"></i></span></h2>
                 </section>
                <section class="gray-frame sub-fields">
                  <section class="grid-btn-top row">
                      
                      <section class="col-sm-5 pull-right text-right">
                        <button class="pink-btn btn btn-small m-fw" ng-click="add_bundle('lg')">ADD a Bundle</button>
                         <!-- <button class="pink-btn btn btn-small m-fw"  ng-click="open()">ADD a Bundle</button>-->
                      </section>
                    </section>
                  <section class="grid-widget">
          <div class="table-responsive">
              

    <table class="table table-striped">
        <thead>
            <tr>
                <th width="15%">Name</th>
                <th width="10%" class="numbers">Sold</th>
                <th width="14%" class="numbers">Remaining</th>
                <th width="13%" class="numbers">Price</th>
                <th width="14%" class="numbers">Box office <span class="l-b">Price</span></th>
                <th width="12%" class="numbers">Limit</th>
                <th width="23%">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
 </tbody>
   </table>
 </div>
      </section>
                  
            <section class="grid-bottm clearfix">
                    <section class="gr-right pull-right">
                      <ul class="legends">
                          <li><i class="fa fa-pencil-square-o"></i> <span>Edit</span></li>
                            <li><i class="fa fa-tags"></i><span>change price</span></li>
                            <li><i class="fa fa-check-circle"></i><span>active</span></li>
                            <li><i class="fa fa-trash"></i><span>delete</span></li>
                        </ul>
                    </section>
                </section>
                
                  

            </section>
          </div>
          <!-- Bundles Closed --> 
          <!--Product Start -->
          <div class="module">
              <section class="prof-hd">
                   <i class="fa fa-shopping-cart hdicon pos-l16"></i>
                    <h2>Product <span class="rt-img"><i class="fa fa-caret-down"></i></span></h2>
            </section>
                <section class="gray-frame sub-fields">
                  <section class="grid-btn-top row">                      
                      <section class="col-sm-5 right-btns text-right">
                         <button class="pink-btn btn btn-small m-fw" ng-click="add_product('lg')">Add Product</button>
                          
                      </section>
                    </section>
                  <section class="grid-widget">
          <div class="table-responsive">
               

    <table class="table table-striped">
        <thead>
            <tr>
                <th width="15%">Name</th>
                <th width="10%" class="numbers">Sold</th>
                <th width="14%" class="numbers">Remaining</th>
                <th width="13%" class="numbers">Price</th>
                <th width="14%" class="numbers">Box office <span class="l-b">Price</span></th>
                <th width="12%" class="numbers">Limit</th>
                <th width="23%">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
     


        </tbody>

    </table>


          </div>
      </section>
                  
                  <section class="grid-bottm clearfix">
                    <section class="col-sm-3 f-12">
                              <label>&nbsp;</label>
                                <span><a style="cursor: pointer;" class="u-text with-ftext"><strong>Please set your fulfillment setting</strong></a></span>
                            </section>
                    <section class="gr-right pull-right">
                      <ul class="legends">
                          <li><i class="fa fa-pencil-square-o"></i> <span>Edit</span></li>
                            <li><i class="fa fa-tags"></i><span>change price</span></li>
                            <li><i class="fa fa-check-circle"></i><span>active</span></li>
                            <li><i class="fa fa-trash"></i><span>delete</span></li>
                        </ul>
                    </section>
                </section>
                
                  <!--<div class="row">
                      <div class="col-sm-12">
                          <div class="form-group row">                           
                            
                            <section class="col-sm-5 f-12">
                                <a href="#" class="u-text"><strong>Please set your Fulfillment Settings</strong></a>
                            </section>
                          </div>
                        </div>
                </div>-->

            </section>
          </div>
          <!-- Product Closed -->
        
          
           <div class="editor-btn">
          <button type="button" ng-click="click_menu(steps[0])" class="gray-btn btn">Previous</button>
           <button type="submit" class="pink-btn btn">Save</button>
          <button type="button" ng-click="click_menu(steps[2])" class="pink-btn btn">Next</button>
        </div>
</form>
       </div>


           <div ng-hide="setting_div">
          
      <form class="event-form">
        
          <section class="form-group field-group">
            <label>Delivery Methods</label>
            <section class="gray-frame sub-fields">
              <label>Print at Home</label>
                <section class="row">
                  <section class="col-sm-8">
                        <section class="radio-sec">
                          <section class="radio-inline">
                              <input type="radio" name="radio1" id="radio1">
                              <label for="radio1"><span></span>Always Available</label>
                            </section>
                            <section class="radio-inline">
                              <input type="radio" name="radio1" id="radio2">
                              <label for="radio2"><span></span>Never Available</label>
                          </section>
                             <section class="radio-inline">
                              <input type="radio" name="radio1" id="radio3">
                              <label for="radio3"><span></span>Set Dates</label>
                             </section>
                       </section>
                 
               <section class="row">
                  <section class="col-sm-8">
                      <section class="form-group">
                            <label>Extra Info</label>
                          <textarea name="textarea" class="form-control" cols=" " rows="5"></textarea>
                      </section>
                    </section>
                   
               </section>
                    </section>
                 

                </section>
            </section>
          </section><!--/Delivery Methods-->
        
        <!--/Sales Times-->
          
          <section class="form-group field-group">
            <section class="row">
              <label class="col-md-2 col-sm-4">Donations </label>
              <section class="col-md-4 col-sm-4">
                    <div class="onoffswitch mt-3">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                        <label class="onoffswitch-label" for="myonoffswitch"></label>
                    </div>
                </section>
            </section>
            <section class="gray-frame sub-fields" style="display:none;">             
               sss
            </section>
          </section><!--/Donations-->
          
        <section class="form-group field-group">
            <section class="row">
              <label class="col-md-2 col-sm-4">Custom Fee </label>
              <section class="col-md-4 col-sm-4">
                    <div class="onoffswitch mt-3">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch2" checked>
                        <label class="onoffswitch-label" for="myonoffswitch2"></label>
                    </div>
                </section>
            </section>
            <section class="gray-frame sub-fields">             
               <section class="row">
                  <section class="col-sm-6">
                      <section class="form-group">
                            <label>Fee Name</label>
                            <input type="text" placeholder="Fee Name" class="form-control" value=" " name=" ">
                        </section>
                    </section>
               </section>
               
               <section class="row">
                  <section class="col-sm-4">
                      <section class="form-group">
                            <label>Fee Type</label>
                            <select class="form-control">
                              <option value=" ">Percentage</option>
                            </select>
                        </section>
                    </section>
                    
                    <section class="col-sm-4">
                      <section class="form-group">
                            <label>Amount %</label>
                            <input type="text" placeholder="Fee Name" class="form-control" value=" " name=" " placeholder="0.00">
                        </section>
                    </section>
                    
                    <section class="col-sm-4">
                      <section class="form-group">
                            <label>When to Apply Fee</label>
                            <select class="form-control">
                              <option value=" ">Before Discount</option>
                            </select>
                        </section>
                    </section>
               </section>
            </section>
          </section><!--/Custom Fee-->
          
          <section class="form-group field-group">
            <section class="row">
                <label class="col-md-2 col-sm-4">Question </label>
                <section class="col-md-4 col-sm-4">
                    <div class="onoffswitch mt-3">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch3" checked>
                        <label class="onoffswitch-label" for="myonoffswitch3"></label>
                    </div>
                </section>
            </section>
            <section class="gray-frame sub-fields">             
               <section class="row">
                  <section class="col-sm-6">
                      <section class="form-group">
                            <label>Type</label>
                            <select class="form-control">
                              <option value=" ">Fixed Amount</option>
                            </select>
                        </section>
                    </section>
               </section>
               
               <section class="row">
                  <section class="col-sm-8">
                      <section class="form-group">
                            <label>Question</label>
                          <textarea name="textarea" class="form-control" cols=" " rows="5"></textarea>
                      </section>
                    </section>
                   
               </section>
               
              

            </section>
          </section><!--/Question-->
          
          <section class="form-group field-group">            
            <label>Additional Settings </label>
               
               <section class="gray-frame sub-fields">              
                   <section class="row">
                        <section class="col-sm-6">
                            <section class="row">
                                <section class="col-sm-6">
                                     <section class="form-group">
                                        <label>Online Service Fee</label>
                                        <input type="text" placeholder="Online Service Fee" class="form-control" value="" name="StartTime">
                                       <p class="info-text">%Covered</p>
                                    </section>
                                </section>
                                
                                <section class="col-sm-6">
                                     <section class="form-group">
                                        <label>Box Office Service Fee</label>
                                        <input type="text" placeholder="Box Office Service Fee" class="form-control" value="" name="StartTime">
                                        <p class="info-text">%Covered</p>
                                    </section>
                                </section>
                            </section>
                        </section>
                        <section class="col-sm-6">
                          <section class="form-group">
                                <label>Ticket Note</label>
                                <input type="text" name="StartTime" value="" class="form-control" placeholder="Ticket Note">
                            </section>
                        </section>
                   </section>
                   
                 <section class="row">
                        <section class="col-sm-6">
                            <section class="row">
                                <section class="col-sm-6">
                                     <section class="form-group">
                                        <label>Ticket Transaction Limit</label>
                                       <input type="text" placeholder="Ticket Transaction Limit" class="form-control" value="" name="StartTime">
                                    </section>
                                </section>
                                
                                <section class="col-sm-6">
                                     <section class="form-group">
                                        <label>Checkout Time Limit</label>
                                        <input type="text" placeholder="Box Office Service Fee" class="form-control" value="" name="StartTime">
                                    </section>
                                </section>
                            </section>
                        </section>
                        <section class="col-sm-6">
                          <section class="form-group">
                                <label>Ticket Layout</label>
                                <input type="text" name="StartTime" value="" class="form-control" placeholder="Ticket Layout">
                            </section>
                        </section>
                 </section>
                   
                   <section class="form-group">
                        <label>Collect Name on Each Ticket</label>
                        <div class="onoffswitch mt-3">
                          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch5">
                          <label class="onoffswitch-label" for="myonoffswitch5"></label>
                     </div>
                 </section>
            </section>
          </section><!--/Additional Settings-->
          
       
       <!--/Public Contact Info-->
          
          <section class="form-group field-group">
              <label>Advanced Settings</label>
            
            <section class="gray-frame sub-fields">             
               <section class="content f-sb">
                  <p>Make modifications to various customer-facing features, including your event listing, checkout process and Print@home tickets, using these advanced customizations. Do not make any adjustments if you're uncertain as to what will be modified </p>
                  <br>
                  <p>Any changes you mode to the Default Advanced Settings will automatically be set on this event You can turn any setting off or on, and even override the default, during this step </p>
                  <br>
                    <p><a ui-sref="advance_setting"><button class="pink-btn btn btn-small m-fw"  >Edit Event Advanced Setting</button></a></p>
               </section>
            </section>
          </section><!--/Advanced Settings-->
        
      </form>
      <div class="editr">        
        <div class="editor-btn">
          <button class="gray-btn btn">Save</button>
          <button class="pink-btn btn">Next</button>
        </div>
      </div>
    
       </div>
       </div>
</div>
      
  </div>
    </div>
     
