.ev-container{max-width:1024px; padding-left:15px; padding-right:15px; margin: 0 auto;}
.wtframe{background:#fff;}
.ev-image{margin-bottom:15px;}
.media-sc{background:#f3f3f3; padding:10px;}

.module-div{margin-bottom:20px;}

.footer-block{padding:15px; margin-top:20px;}

