<style>
  .label-padding{ padding-top: 5% ; padding-left: 0 !important; margin-left: 0 !important;}
  .info-padding {padding-top: 1.5%;}
  .collect-name { margin-top: 2% !important; padding-top: 5% !important;}
  .left-margin-zero { margin-left: 0 !important; padding-left: 0 !important; }
  /*.gray-frame { border-radius: 30px; }*/
</style>

<script src="javascripts/timepicker.js" type="text/javascript"></script>
<link rel="stylesheet" href="stylesheets/timepicker.css" type="text/css" />

<div class="container">
    <h1>Create an Package</h1>
    <!-- Step Form -->
    <div class="stage-container clearfix">
        <div class="stage" ng-repeat="step in steps" ng-class="{current: isActive2(step)}" ng-click="click_menu(step)">
            <div class="stage-icon"><i class="{{step.icon}}"></i> </div>
            <div class="stage-title">{{step.title}}</div>
        </div>
    </div>
    <!-- //Step Form -->
    <!-- Form COntainer -->
    <span ng-hide="error_message"><p class="error-fld" >{{error}}</p></span>

     <span ng-show="success_message"><p class="success-fld ng-binding">{{success}}</p></span>

    <div class="form-section  wt-frame">
        <style>
        .border {
            border: 2px solid black;
        }
        
        .row {
            margin: 10px;
        }
        </style>
        <div ng-hide="setting_div">
            <form name="eventSettingForm" class="event-form"  ng-submit="postThirdStepPackageData(data)" novalidate>
                <section class="form-group field-group">
                    <label>Delivery Methods</label>
                    <section class="gray-frame sub-fields">
                        <label>Print at Home</label>
                        <section class="row">
                            <section class="col-sm-12">
                                <section class="radio-sec">
                                    <section class="radio-inline">
                                        <input type="radio" name="radio1" id="radio1" ng-model="data.print_home" value="1">
                                        <label for="radio1"><span></span>Always Available</label>
                                    </section>
                                    <section class="radio-inline">
                                        <input type="radio" name="radio1" id="radio2" ng-model="data.print_home" value="0">
                                        <label for="radio2"><span></span>Never Available</label>
                                    </section>
                                    <section class="radio-inline">
                                        <input type="radio" name="radio1" id="radio3" ng-model="data.print_home" value="2">
                                        <label for="radio3"><span></span>Set Dates</label>
                                    </section>
                                </section>
                                <section ng-if="data.print_home == 2">
                                    <div class="" style="display: block; margin: 10px;">
                                        <section class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Enable On :</label>
                                                </div>
                                            </div>
                                        </section>
                                        <section class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group datepicker">
                                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="data.print_enable_date.date" is-open="popup5.opened" datepicker-options="options" close-text="Close" alt-input-formats="altInputFormats" />
                                                    <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open5()"><i class="glyphicon glyphicon-calendar"></i></button></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="input-group bootstrap-timepicker timepicker">
                                                  <input  ng-model="data.print_enable_date.time" class="form-control input-small timepick" type="text"/><span class="input-group-addon timepick1"><i class="glyphicon glyphicon-time"></i></span>
                                                </div>
                                            </div>
                                        </section>

                                    </div>
                                    <div class="" style="display: block; margin: 10px;">
                                        <section class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Disable On: </label>
                                                </div>
                                            </div>
                                        </section>
                                        <section class="row">
                                            <div class="col-sm-4">
                                                    <div class="form-group datepicker">
                                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="data.print_disable_date.date" is-open="popup6.opened" datepicker-options="options1" close-text="Close" alt-input-formats="altInputFormats"  />
                                                        <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="open6()"><i class="glyphicon glyphicon-calendar"></i></button></span>
                                                    </div>
                                            </div>
                                            <div class="col-sm-4">
                                              <div class="input-group bootstrap-timepicker timepicker">
                                                <input  ng-model="data.print_disable_date.time" ng-change=""  class="form-control input-small timepick" type="text" id="timepicker2"/><span class="input-group-addon timepick1"><i class="glyphicon glyphicon-time"></i></span>
                                              </div>
                                            </div>
                                        </section>
                                    </div>
                                </section>
                                <section class="row">
                                    <button type="button" class="pink-btn btn btn-small" ng-hide="desc_box_1 || data.print_description != '' " ng-click="desc_box_1=true">Add a Description</button>
                                    <textarea class="desc_1 input form-control" ng-show="desc_box_1 || data.print_description != ''"  rows="7" ng-model="data.print_description" tooltips tooltip-template="Provide customers with additional information about the delivery method. For example: Will Call
                                tickets can be picked up at the venue box office. The info entered here will be displayed next to the delivery
                                method option during the checkout process."></textarea>
                                </section>
                            </section>
                            <div style="height: 30px;" class="col-sm-12"></div>

                             <label>Will Call</label>

                            <section class="col-sm-12 mob-mt20">
                                
                                <section class="radio-sec">
                                    <section class="radio-inline">
                                        <input type="radio" name="radio_willcall" id="radio_willcall1" ng-model="data.will_call" value="1">
                                        <label for="radio_willcall1"><span></span>Always Available</label>
                                    </section>
                                    <section class="radio-inline">
                                        <input type="radio" name="radio_willcall" id="radio_willcall2" ng-model="data.will_call" value="0">
                                        <label for="radio_willcall2"><span></span>Never Available</label>
                                    </section>
                                    <section class="radio-inline">
                                        <input type="radio" name="radio_willcall" id="radio_willcall3" ng-model="data.will_call" value="2">
                                        <label for="radio_willcall3"><span></span>Set Dates</label>
                                    </section>
                                </section>



                                 <section ng-if="data.will_call == 2">
                                    <div class="" style="display: block; margin: 10px;">
                                        <section class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Enable On :</label>
                                                </div>
                                            </div>
                                        </section>
                                        <section class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group datepicker">
                                                    <input type="text" name="will_call_enable_date" class="form-control" uib-datepicker-popup="{{format}}" ng-model="data.will_call_enable_date.date" is-open="popup7.opened" datepicker-options="options" close-text="Close" alt-input-formats="altInputFormats"  />
                                                    <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open7()"><i class="glyphicon glyphicon-calendar"></i></button></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="input-group bootstrap-timepicker timepicker">
                                                  <input  ng-model="data.will_call_enable_date.time" class="form-control input-small timepick" type="text"/><span class="input-group-addon timepick1"><i class="glyphicon glyphicon-time"></i></span>
                                                </div>
                                            </div>
                                        </section>

                                    </div>
                                    <div class="" style="display: block; margin: 10px;">
                                        <section class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Disable On: </label>
                                                </div>
                                            </div>
                                        </section>
                                        <section class="row">
                                            <div class="col-sm-4">
                                                    <div class="form-group datepicker">
                                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="data.will_call_disable_date.date" is-open="popup8.opened" datepicker-options="options1" close-text="Close" alt-input-formats="altInputFormats" name="will_call_disable_date" />
                                                        <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="open8()"><i class="glyphicon glyphicon-calendar"></i></button></span>
                                                    </div>
                                            </div>
                                            <div class="col-sm-4">
                                              <div class="input-group bootstrap-timepicker timepicker">
                                                <input  ng-model="data.will_call_disable_date.time" ng-change=""  class="form-control input-small timepick" type="text" id="timepicker2"/><span class="input-group-addon timepick1"><i class="glyphicon glyphicon-time"></i></span>
                                              </div>
                                            </div>
                                        </section>
                                    </div>
                                </section>







                                <section class="row">
                                    <button type="button" class="pink-btn btn btn-small" ng-hide="desc_box_2" ng-click="desc_box_2=true">Add a Description</button>
                                    <textarea class="desc_2 form-control input" ng-show="desc_box_2" rows="7" ng-model="data.will_call_description"> </textarea>
                                </section>


                            </section> 
                        </section>
                    </section>
                </section>
                <!--/Delivery Methods-->
                
                <section class="form-group field-group">
                    <label>Sales Times</label>
                    <section class="gray-frame sub-fields">
                        <section class="row">
                            <div class="col-sm-4">
                                <label>Online Sales Open<span class="req">*</span></label>
                            </div>
                        </section>
                        <section class="row">
                            <div class="col-sm-4">
                                    <div class="form-group datepicker" ng-class="{ 'has-error' : eventSettingForm.online_sales_open.$dirty && eventSettingForm.online_sales_open.$invalid }">
                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="data.online_sales_open.date" is-open="popup3.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" ng-change="recurring_period('start')" name="online_sales_open" required/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open3()"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                    <p class="help-inline error-fld ng-binding"  ng-show="eventSettingForm.online_sales_open.$dirty && eventSettingForm.online_sales_open.$invalid">Date is required</p>
                            </div>
                            <div class="col-sm-4">
                              <div class="input-group bootstrap-timepicker timepicker">
                                <input  ng-model="data.online_sales_open.time" ng-change=""  class="form-control input-small timepick" type="text" id="timepicker1"/><span class="input-group-addon timepick1"><i class="glyphicon glyphicon-time"></i></span>
                              </div>
                            </div>
                        </section>
                        <section class="row" style="margin-bottom: 30px;">
                              <div class="col-sm-12">
                                <section class="radio-sec custom-check">
                                    <p class="radio-inline">
                                        <input type="checkbox" id="test2"  ng-model="data.sales_immediatly" ng-true-value="1" ng-false-value="0">
                                        <label for="test2">Immediately</label>
                                    </p>
                                </section>
                              </div>
                        </section>
                        <section class="row">
                            <div class="col-sm-4">
                                    <label>Online Sales Close<span class="req">*</span></label>
                            </div>
                        </section>
                        <section class="row">
                            <div class="col-sm-4">
                                <div class="form-group datepicker" ng-class="{ 'has-error' : eventSettingForm.online_sales_close.$dirty && eventSettingForm.online_sales_close.$invalid }">
                                    <input type="date" class="form-control" uib-datepicker-popup="{{format}}"  ng-model="data.online_sales_close.date" is-open="popup4.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" ng-change="recurring_period('start')" name="online_sales_close" required/>
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open4()"><i class="glyphicon glyphicon-calendar"></i></button></span>
                                </div>
                                <p class="help-inline error-fld ng-binding"  ng-show="eventSettingForm.online_sales_close.$dirty && eventSettingForm.online_sales_close.$invalid">Date is required</p>
                            </div>
                            <div class="col-sm-4">
                              <div class="input-group bootstrap-timepicker timepicker">
                                <input  ng-model="data.online_sales_close.time" ng-change=""  class="form-control input-small timepick" type="text"/><span class="input-group-addon timepick1"><i class="glyphicon glyphicon-time"></i></span>
                              </div>
                            </div>
                        </section>
                        <span style="font: red;">{{date_error_message}}</span>
                    </section>
                </section>
                <!--/Sales Times-->

                <section class="" style="margin-top: 50px; padding-bottom: 20px; margin-bottom: 20px;">
                    <label class="col-md-2 col-sm-4 left-margin-zero">Donations </label>
                </section>


                <section class="gray-frame sub-fields">
                    <section class="row">
                        <section class="col-sm-3">
                          Enable
                        </section>
                        <section class="col-md-4 col-sm-4">
                            <div class="onoffswitch mt-3">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" ng-model="data.donation" ng-true-value="1" ng-false-value="0">
                                <label class="onoffswitch-label" for="myonoffswitch"></label>
                            </div>
                        </section>
                    </section>
                    <section class="row" ng-if="data.donation == 1">
                        <section class="form-group">
                            <div class="col-sm-3">
                                <label class="label-padding">Donation Name</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" placeholder="Donation Name" class="form-control" value="" name="StartTime" ng-model="data.donation_name" tooltips tooltip-template="The name of the organization that is receiving the donations you’re collecting.">
                            </div>
                        </section>
                    </section>
                </section>

                <!--/Donations-->

                <section class="" style="margin-top: 50px; padding-bottom: 20px;">
                    <label class="col-md-2 col-sm-4" style="margin-left: 0; padding-left: 0;">Custom Fee </label>
                </section>

                <section class="form-group field-group">
                    <section class="gray-frame sub-fields">
                        <section class="row">
                                <div class="col-sm-3 left-margin-zero">
                                    <label class="label-padding">Enable</label>
                                </div>
                                <div class="col-sm-9">
                                        <div class="onoffswitch mt-3">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch2" checked ng-model="data.custom_fee" ng-true-value='1' ng-false-value='0'>
                                            <label class="onoffswitch-label" for="myonoffswitch2"></label>
                                        </div>
                                </div>
                        </section>
                      <div ng-if="data.custom_fee == 1">
                        <section class="row">
                            <!-- <section class="col-sm-12"> -->
                                  <div class="col-sm-3 left-margin-zero">
                                    <label class="label-padding">Fee Name</label>
                                  </div>
                                  <div class="col-sm-9">
                                    <input type="text" placeholder="Fee Name" class="form-control" value=" " name="custom_fee_name" ng-model="data.custom_fee_name" tooltips tooltip-template="Enter the name of the fee. This will be publicly added as a line item to the checkout process for your customers.">
                                  </div>
                            <!-- </section> -->
                        </section>

                        <section class="row">
                            <!-- <section class="col-sm-12"> -->
                                  <div class="col-sm-3 left-margin-zero">
                                    <label class="label-padding">Fee Type</label>
                                  </div>
                                  <div class="col-sm-9">
                                  <!--  ng-model="data.custom_fee_type" tooltips tooltip-template="Select whether the fee is a fixed amount or a percentage of the order total." -->
                                    <select class="form-control" name="custom_fee_type" >
                                        <option value="1">Fixed Amount</option>
                                        <option value="2">Percentage</option>
                                    </select>
                                  </div>
                            <!-- </section> -->
                        </section>

                        <section class="row">
                            <!-- <section class="col-sm-12"> -->
                                  <div class="col-sm-3 left-margin-zero">
                                    <label class="label-padding">Amount ($)</label>
                                  </div>
                                  <div class="col-sm-9">
                                    <input type="text" class="form-control" value="" name="custom_fee_amount"  ng-model="data.custom_fee_amount" >
                                  </div>
                            <!-- </section> -->
                        </section>

                        <section class="row">
                            <!-- <section class="col-sm-12"> -->
                                  <div class="col-sm-3 left-margin-zero">
                                    <label class="label-padding">When to Apply Fee</label>
                                  </div>
                                  <div class="col-sm-9">
                                  <!-- tooltips tooltip-template="Select whether to apply this fee to the order before or after a discount coupon has adjusted the order total. If no discount coupons are in effect, this option will not affect the order." -->
                                    <select class="form-control" name="custom_when" ng-model="data.custom_when" >
                                        <option value="1">Before Discount</option>
                                        <option value="2">After Discount</option>
                                    </select>
                                  </div>
                            <!-- </section> -->
                        </section>
                      </div>
                    </section>
                </section>
                <!--/Custom Fee-->

                <section class="form-group field-group" style="margin-top: 50px;">
                    <label>Additional Settings </label>
                    <section class="gray-frame sub-fields">
                        <section class="">
                            <section class="col-sm-12">
                                <section class="row" >
                                    <!-- <section class="col-sm-6"> -->
                                        <section class="form-group">
                                            <div class="col-sm-3 left-margin-zero" >
                                              <label class="label-padding">Online Service Fee</label>
                                            </div>
                                            <div class="col-sm-7">
                                              <input type="text" placeholder="Online Service Fee" class="form-control" value="" name="StartTime" ng-model="data.online_service_fee" tooltips tooltip-template="The percentage (0 – 100) of the per ticket service fee that you’re paying when processing online. If you’re passing the entire service fee on to the customer, set to 0%.">
                                            </div>
                                            <div class="col-sm-2 info-padding" >%Covered</div>
                                        </section>
                                    <!-- </section> -->
                                </section>
                                <section class="row">
                                    <section class="form-group">
                                      <div class="col-sm-3 left-margin-zero">
                                        <label class="label-padding">Box Office Service Fee</label>
                                      </div>
                                      <div class="col-sm-7">
                                        <input type="text" placeholder="Box Office Service Fee" class="form-control" value="" name="StartTime" ng-model="data.box_office_service_fee" tooltips tooltip-template="The percentage (0 – 100) of the service fee per ticket that you will pay when processing orders in the Box Office. If you’re passing the entire service fee on to the customer, set to 0%. If you\'re covering the entire service fee, set to 100% (Note: fees for credit card processing are not included and must be paid by seller).">
                                      </div>
                                      <div class="col-sm-2 info-padding">
                                        %Covered
                                      </div>
                                    </section>
                                </section>

                                <section class="row">
                                    <section class="form-group">
                                      <div class="col-sm-3 left-margin-zero">
                                        <label class="label-padding">Ticket Note</label>
                                      </div>
                                      <div class="col-sm-7">
                                        <input type="text" name="StartTime" value="" class="form-control" placeholder="Ticket Note"  ng-model="data.ticket_note" tooltips tooltip-template="Note appears on each ticket.  Typically helpful info for buyers (e.g. Doors open at 6pm). Limited to 40 characters.">
                                      </div>
                                      <div class="col-sm-2 info-padding">

                                      </div>
                                    </section>
                                </section>

                                <section class="row">
                                    <section class="form-group">
                                      <div class="col-sm-3 left-margin-zero">
                                        <label class="label-padding">Ticket Transaction Limit</label>
                                      </div>
                                      <div class="col-sm-7">
                                        <input type="number" placeholder="Ticket Transaction Limit" class="form-control" value="" name="StartTime"  ng-model="data.ticket_transaction_limit" min="0" max="100" tooltips tooltip-template="The maximum number of tickets that can be purchased in one transaction. Must be a number between 1 – 100.">
                                      </div>
                                      <div class="col-sm-2 info-padding">

                                      </div>
                                    </section>
                                </section>

                                <section class="row">
                                    <section class="form-group">
                                      <div class="col-sm-3 left-margin-zero">
                                        <label class="label-padding">Checkout Time Limit</label>
                                      </div>
                                      <div class="col-sm-7" >

                                        <!--<input type="number" placeholder="Checkout Time Limit" class="form-control" value="" name="StartTime" min="0" max="100" ng-model="data.checkout_time_limit" >-->
                                    <select class="form-control" name="checkout_time_limit" ng-model="data.checkout_time_limit" placeholder="Checkout Time Limit" >
                                        <option ng-repeat="to in timeout" value="{{to.value}}" >{{to.minutes}}</option>
                                    </select>

                                      </div>
                                      <div class="col-sm-2 info-padding">

                                      </div>
                                    </section>
                                </section>

                                <!--<section class="row">
                                    <section class="form-group">
                                      <div class="col-sm-3 left-margin-zero">
                                        <label class="label-padding">Ticket Layout</label>
                                      </div>
                                      <div class="col-sm-7">
                                        <input type="text" name="StartTime" value="" class="form-control" placeholder="Ticket Layout"  ng-model="data.ticket_layout">
                                      </div>
                                      <div class="col-sm-2 info-padding">

                                      </div>
                                    </section>
                                </section> -->
                            </section>
                        </section>
                        <div style="height: 30px;" class="col-sm-12"></div>
                        <section class="row">
                            <label class="col-md-4 col-sm-6">Collect Name on Each Ticket</label>
                            <section class="col-md-4 col-sm-4">
                              <div class="onoffswitch mt-3" tooltips tooltip-template="Select YES to collect names on each ticket, or select NO to collect a single name for all tickets.">
                                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch5" ng-model="data.collect_name" ng-true-value='1' ng-false-value='0' >
                                  <label class="onoffswitch-label" for="myonoffswitch5"></label>
                              </div>
                            </section>
                        </section>


                         <section class="row">
                            <label class="col-md-4 col-sm-6">Private Event</label>
                            <section class="col-md-4 col-sm-4">
                              <div class="onoffswitch mt-3"  tooltips tooltip-template="Select NO if you would like people to be able to search for and find your event on search engines, tickets.alistixs.com/, or other public listings.<hr/>Select YES if you do not want people to be able to search for your event. People will only be able to access the ticketing page through the URL that you distribute. Good for private or invite-only events.">
                                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="private_event" ng-model="data.private_event" ng-true-value='1' ng-false-value='0'>
                                  <label class="onoffswitch-label" for="private_event"></label>
                              </div>
                            </section>
                        </section>


                            <section class="row">
                            <label class="col-md-4 col-sm-6">Show Seating Chart</label>
                            <section class="col-md-8 col-sm-6">
                                  <label > There is no seating chart assigned to this event's venue.</label>
                            </section>
                        </section>


<section class="row">
                                    <section class="form-group">
                                      <div class="col-sm-3 left-margin-zero">
                                        <label class="label-padding">URL Short Name</label>
                                      </div>
                                      <div class="col-sm-7">

                                        <input type="url" placeholder="URL Short Name" class="form-control"  value="tickets.alistixs.com/event/XYZ"  name="url_short_name"  ng-model="data.url_short_name"  tooltips tooltip-template="A ticketing page’s unique URL. By default, the Event Name is plugged in as the last part of the URL. Must be 5 - 30 characters in length.">
                                      </div>
                                      <div class="col-sm-2 info-padding">

                                      </div>
                                    </section>
                                </section>



                    </section>
                </section>
            
                <section class="form-group field-group">
                    <label>Advanced Settings</label>
                    <section class="gray-frame sub-fields">
                        <section class="content f-sb">
                          <div style="border: 2px solid #ccc; padding: 5px;">
                            <p>Make modifications to various customer-facing features, including your event listing, checkout process and Print@home tickets, using these advanced customizations. Do not make any adjustments if you're uncertain as to what will be modified </p>
                            <br>
                            <p>Any changes you mode to the Default Advanced Settings will automatically be set on this event You can turn any setting off or on, and even override the default, during this step </p>
                          </div>
                            <br>
                            <p>
                                <a  href="#/edit_package_advance_setting/{{advSettingPackageId}}" >
                                    <button class="pink-btn btn btn-small m-fw">Edit Event Advanced Setting</button>
                                </a>
                            </p>
                        </section>
                    </section>
                </section>
                <!--/Advanced Settings-->
            
                <div class="editr">
                    <div class="editor-btn">
                        <button type="submit" class="gray-btn btn">Save</button>
                        <button class="pink-btn btn" ng-click="redirectToDashboard()">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
