<script type="text/ng-template" id="myModalContentBundle.html"> 
    <div class="modal-header">
        <h3 class="modal-title" style="float:left;">Add a Bundle</h3><a style="float:right;cursor: pointer;" ng-click="cancel()">X</a>
    </div>
    <div class="modal-body">
       
    <!-- Step Form -->
    <div class="stage-container stage-container-3steps clearfix">
      <div class="stage" ng-repeat="step in steps" data-ng-class="{current: $index + 1 === selectedClass}" ng-click="click_menu(step)"><div class="stage-icon"><i class="{{step.icon}}"></i> </div>
        <div class="stage-title">{{step.title}}</div> </div>
    </div>
    <!-- //Step Form --> 
    <span ng-hide="error_message"><p class="error-fld" >{{error}}</p></span>

    <div class="form-section  wt-frame">
            <span ng-show="success_message" class="ng-hide"><p class="success-fld ng-binding">{{success}}</p></span>
            <!-- Step 1 start -->
               <div ng-show="step_1">
                <!-- Event Detail Form -->
                      <form  name="bundleForm" ng-submit="bundleForm.$valid && addBundle(bundle)" novalidate>
                      <input type="hidden" name="id" ng-model="bundle.id" value=""/>

                             <div>
                                <div class="module">
                                    <section class="prof-hd" > <!-- add  class="prof-hd"if u need to display this as tab -->
                                     <i class="fa fa-link hdicon pos-l16"></i>
                                      <h2> Details <span class="rt-img"><i class="fa fa-caret-down"></i></span></h2>
                                    </section>
                                    <section class="gray-frame">
                                     
                                      <div class="row">
                                        <div class="col-sm-4">
                                          <div class="form-group" ng-class="{true: 'error'}[submitted]">
                                            <label for="EventName">Name<span class="req">*</span></label>
                                            <input type="text" class="form-control" name="bundle_name" placeholder="Bundle name" ng-model="bundle.bundle_name" required/>
                                            <p class="help-inline error-fld ng-binding" ng-show="submitted && bundleForm.bundle_name.$error.required">Please enter bundle name</p>
                                          </div>
                                        </div>
                                        <div class="col-sm-8">
                                          <div class="form-group">
                                            <label for="EventName"> Description</label>
                                            <div class="bundle-editr" >
                                              <div ckeditor="option_ckeditor" ng-model="bundle.bundle_description" ready="onReady()"></div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-sm-4" >
                                          <div class="form-group">
                                            <label for="EventName"> Limit<span class="req-limit">*</span></label>
                                            <input  type="number" min="0" class="form-control" placeholder="Limit" ng-model="bundle.bundle_limit" name="bundle_limit"/>
                                            <p class="help-inline error-fld ng-binding"  ng-show="bundleForm.bundle_limit.$invalid && !bundleForm.bundle_limit.$pristine">Please enter valid limit</p>
                                            
                                          </div>
                                          
                                        </div>
                                        <div class="col-sm-4">
                                          <div class="form-group">
                                            <label for="EventName"> Minimum Purchase</label>
                                            <input type="number" min="0"  class="form-control" placeholder="Minimum Purchase" ng-model="bundle.bundle_minimum_purchase" name="bundle_minimum_purchase"/>

                                            <p class="help-inline error-fld ng-binding"  ng-show="bundleForm.bundle_minimum_purchase.$invalid && !bundleForm.bundle_minimum_purchase.$pristine">Please enter valid minimum purchase limit</p>
                                           
                                          </div>
                                        </div>
                                        <div class="col-sm-4">
                                          <div class="form-group">
                                            <label for="EventName"> Multiple Ticket Holders?</label>
                                            <div class="onoffswitch">
                                              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch2" ng-model="bundle.multiple_ticket_holder" checked>
                                              <label class="onoffswitch-label" for="myonoffswitch2"></label>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <br/>
                                      <br/>
                                      <div class="row">
                                        <div class="col-sm-12">
                                          <div class="form-group">
                                            <p for="EventName"> When an inventory is not set on this bundle it will fallback to the inventory of events and pricing levels in this bundle</p>
                                          </div>
                                        </div>
                                      </div>
                                      <br/>
                                      <br/>
                                      <div class="row">
                                        <div class="col-sm-4">
                                          <div class="form-group">
                                            <label for="EventName"> Assign Inventory?<span class="req">*</span></label>
                                            <div class="onoffswitch">
                                              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch4" ng-model="bundle.assign_inventory"  ng-model="checked" checked>
                                              <label class="onoffswitch-label" for="myonoffswitch4"></label>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-sm-4">
                                          <div class="form-group">
                                            <label for="EventName"> Inventory</label>
                                            <input type="number" min="0" class="form-control" ng-disabled="!bundle.assign_inventory" placeholder="Inventory" ng-model="bundle.bundle_inventory" name="bundle_inventory"/>
                                            <p class="help-inline error-fld ng-binding"  ng-show="bundleForm.bundle_inventory.$invalid && !bundleForm.bundle_inventory.$pristine">Please enter valid value</p>
                                          </div>
                                        </div>
                                        <div class="col-sm-4">
                                          <div class="form-group">
                                            <label for="EventName"> Active</label>
                                            <div class="onoffswitch">
                                              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch1" ng-model="bundle.status" checked>
                                              <label class="onoffswitch-label" for="myonoffswitch1"></label>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-sm-4">
                                          <div class="form-group">
                                            <label for="EventName"> Hide Online?</label>
                                            <div class="onoffswitch">
                                              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch3" ng-model="bundle.hide_online" checked>
                                              <label class="onoffswitch-label" for="myonoffswitch3"></label>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-sm-4">
                                          <div class="form-group">
                                            <label for="EventName"> Hide in box office?</label>
                                            <div class="onoffswitch">
                                              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch5" ng-model="bundle.hide_in_box_office" checked>
                                              <label class="onoffswitch-label" for="myonoffswitch5"></label>
                                            </div>
                                          </div>
                                        </div>
                                      </div>


                                   </section>
                              </div>
                            </div>
                            
                            <div>
                                <div class="editor-btn">
                                    <button type="submit" class="pink-btn btn" ng-click="submitted=true">Save</button>
                                    <button type="submit" class="pink-btn btn" ng-click="submitted=true && click_menu({id:2});">Next</button>
                              </div>   
                            </div>
                    </form>
           </div>
           <!-- Step 1 end -->
          
             
          <!-- Step 2 start -->
          <div ng-show="step_2">
            <div class="module">
              <form class="" name="bundlestep2" ng-submit="bundlestep2.$valid && updateQty()" novalidate>
                

                <section ng-if="price_level.length > 0" class="prof-hd">
                  <i class="fa fa-link hdicon pos-l16"></i>
                  <h2>Event<span style="float:right;">Quantity</span></h2>
                </section>
                <section ng-if="price_level.length > 0" class="gray-frame">
                  <div class="row" ng-repeat="price in price_level" >
                    <div class="col-sm-8" >
                      <div class="form-group">
                        <label for="EventName">  {{price.price_level_name}} (Online Price: {{price.online_price}}, Box Office Price: {{price.box_office_price}}) </label>
                      </div>
                    </div>
                    <div class="col-sm-4" >
                      <div class="form-group">
                        <select class="form-control" ng-model="price_level[$index].qty">
                          <option ng-repeat="n in range(price.min_per_order,price.max_per_order)" value="{{n}}">{{n}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </section>

                <section class="prof-hd">
                  <i class="fa fa-link hdicon pos-l16"></i>
                  <h2>Products<span style="float:right;">Quantity</span></h2>
                </section>
                <section class="gray-frame">
                  <div class="row" ng-repeat="product in productList" >
                    <div class="col-sm-8" >
                      <div class="form-group">
                        <label for="EventName"> {{product.product_name}} (Price: {{product.retail_price}}) </label>
                      </div>
                    </div>
                    <div class="col-sm-4" >
                      <div class="form-group">
                        <select class="form-control" ng-model="productList[$index].qty">
                          <option ng-repeat="n in range(1,product.inventory)" value="{{n}}">{{n}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </section>
                <div class="editor-btn">
                  <button class="pink-btn btn" ng-click="click_menu({id:1});">Prev</button>
                  <button class="pink-btn btn" ng-click="submitted2=true">Save</button>
                  <button class="pink-btn btn" ng-click="submitted2=true && click_menu({id:3});">Next</button>
                </div>
              </form>
            </div>
          </div>
           <!-- Step 2 end -->
           
           <!-- Step 3 start -->
           <div ng-show="step_3">
                <div class="module">
                    <section class="prof-hd"> <i class="fa fa-link hdicon pos-l16"></i>
                      <h2>How much does the bundle cost?<span class="rt-img"><i class="fa fa-caret-down"></i></span></h2>
                    </section>
                    <section class="gray-frame">
                        <div class="row">
                          <div class="col-sm-12" >
                            <div class="form-group">
                              <label for="EventName"> Event</label>
                            </div>
                          </div>
                       </div>
                        <section class="grid-widget">
                            <div class="table-responsive">
                              <table class="table table-striped">
                                <thead>
                                  <tr>
                                      <th width="25%">Price Level</th>
                                      <th width="25%">Quantity</th>
                                      <th width="25%">Online Price</th>
                                      <th width="25%">Box Office Price</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="price in price_level">
                                    <td>{{price.price_level_name}}</td>
                                    <td>{{price.qty}}</td>
                                    <td>${{price.online_price * price.qty}}</td>
                                    <td>${{price.box_office_price * price.qty}}</td>
                                   </tr>
                                  </tbody>
                              </table>
                            </div>
                       </section>
                  </section>
                  <br/>
                  <section class="gray-frame">
                        <div class="row">
                          <div class="col-sm-12" >
                            <div class="form-group">
                              <label for="EventName"> Product</label>
                            </div>
                          </div>
                       </div>
                        <section class="grid-widget">
                            <div class="table-responsive">
                              <table class="table table-striped">
                                <thead>
                                  <tr>
                                      <th width="25%">Price Level</th>
                                      <th width="25%">Quantity</th>
                                      <th width="25%">Online Price</th>
                                      <th width="25%">Box Office Price</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="product in productList">
                                    <td>{{product.product_name}}</td>
                                    <td>{{product.qty}}</td>
                                    <td>${{product.qty*product.retail_price}}</td>
                                    <td>${{product.qty*product.retail_price}}</td>
                                   </tr>
                                  </tbody>
                              </table>
                            </div>
                       </section>
                  </section>

                  <section class="gray-frame">
                        <div class="row">
                          <div class="col-sm-12" >
                            <div class="form-group">
                              <label for="EventName"> Total</label>
                            </div>
                          </div>
                       </div>
                        <section class="grid-widget">
                            <div class="table-responsive">
                              <table class="table table-striped">
                                <thead>
                                  <tr>
                                      <th width="25%">Price Level</th>
                                      <th width="25%">Quantity</th>
                                      <th width="25%">Online Price</th>
                                      <th width="25%">Box Office Price</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Total</td>
                                    <td>{{totalQty}}</td>
                                    <td>{{totalOnlineShow}}</td>
                                    <td>{{totalBoxofficeShow}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                       </section>
                  </section>

                  <section class="gray-frame">
                        <div class="row">
                          <div class="col-sm-12" >
                            <div class="form-group">
                              <label for="EventName">Discounted Price </label>
                            </div>
                          </div>
                       </div>
                        <section class="grid-widget">
                            <div class="table-responsive">
                              <table class="table table-striped">
                                <thead>
                                  <tr>
                                      <th width="50%">Online Price (Service Fee)</th>
                                      <th width="50%">Box Office Price (Service Fee)</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>$<input type="text" name="totalOnline" ng-model="totalOnline"/> ($23)</td>
                                    <td>$<input type="text" name="totalBoxoffice" ng-model="totalBoxoffice"/> ($36)</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                       </section>
                  </section>


                  <div class="editor-btn">
                    <button class="pink-btn btn" ng-click="click_menu({id:2});">Prev</button>
                    <button class="pink-btn btn" ng-click="updateQty()">Save</button>
                    <button class="pink-btn btn" ng-click="updateQty('submit')">Submit</button>
                  </div> 
              </div>
           </div>
           <!-- Step 3 end --> 
      </div>
     </div>
    </form>
    <div class="modal-footer">
    </div>
</script>

<script type="text/ng-template" id="deleteBundle.html">
   <div class="modal-header">
          <h3 class="modal-title">Remove Bundle</h3>
      </div>
      <div class="modal-body">
          Are you sure you want to remove this bundle?
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" type="button" ng-click="removeBundle()">Remove</button>
          <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </div>
</script>

<script type="text/ng-template" id="myModalContentProduct.html">
    <div class="modal-header">
        <h3 class="modal-title">Add a Product</h3>
    </div>
    <form  name="productForm" ng-submit="productForm.$valid && addEventProduct(product)" novalidate>
    <input type="hidden" ng-model="product.id" name="id" />
    <div class="modal-body">
        
        <fieldset class="form-group">
           <div class="col-sm-4">Available Products</div>
           <div class="col-sm-8">
           <select ng-model="product.product_id" name="product_id" class="form-control" ng-change="showPrice()" required>
              <option ng-repeat="productVal in productList" value="{{productVal.id}}">{{productVal.product_name}}</option>
           </select>
           <p class="help-inline error-fld ng-binding" ng-show="submittedProduct && productForm.product_id.$error.required">Please select product</p>
           </div>
        </fieldset>
        <fieldset class="form-group">
           <div class="col-sm-4">Retail Price</div>
           <div class="col-sm-8"><span class="form-control">{{product_retail_price}}</span></div> 
        </fieldset>
        
        <fieldset class="form-group" ng-hide="min_price">
           <div class="col-sm-4">Price(USD $)</div>
           <div class="col-sm-8"><input type="text" ng-model="product.price" name="minimum_price" class="form-control"></div>
        </fieldset>
        
        <fieldset class="form-group">
           <div class="col-sm-4">Placement</div>
           <div class="col-sm-8">
              <section class="radio-sec custom-check">
                <section class="radio-inline">
                  <input type="checkbox" id="checkbox03" name="listing" ng-model="product.placement_listing">
                  <label for="checkbox03">Listing Page</label>
                </section>
                <section class="radio-inline">
                  <input type="checkbox" id="checkbox04"  name="confirmation" ng-model="product.placement_confirmation">
                  <label for="checkbox04"> Confirmation Page</label>
                </section>
              </section>
           </div>
        </fieldset>

        <fieldset class="form-group">
           <div class="col-sm-4">Hide in Box Office</div>
           <div class="col-sm-8">

            <section class="radio-sec">
              <section class="radio-inline">
                <div class="onoffswitch">
                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch5" ng-model="product.hide_in_box_office" checked>
                  <label class="onoffswitch-label" for="myonoffswitch5"></label>
                </div>
              </section>
            </section>
           </div>
        </fieldset>
        
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="submittedProduct=true">Submit</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
    </form>
</script>
