<link rel="stylesheet" href="stylesheets/timepicker.css" type="text/css" />
<script src="javascripts/timepicker.js" type="text/javascript"></script>
<div class="container">
     <h1>Create an Event</h1>
    <!-- Step Form -->
    
    <div class="stage-container clearfix">
      <div class="stage" ng-repeat="step in steps" ng-class="{current: isActive2(step)}" ng-click="click_menu(step)"><div class="stage-icon"><i class="{{step.icon}}"></i> </div>
        <div class="stage-title">{{step.title}}</div> </div>
    
    </div>
    
    <!-- //Step Form --> 
    
    <!-- Form COntainer -->
    
    <div class="form-section  wt-frame">
     

<div ng-hide="eventdetail_div">
     <form  name="myForm" class="event-form"  ng-submit="savedata(data)" novalidate>
          <div class="form-group">
            <label for="eventname">Event Name<span class="req">*</span></label>
            <input type="text" name="eventname" ng-model="data.eventname" class="form-control" placeholder="Title of your Event" required>
             <span style="color:red" ng-show="myForm.eventname.$dirty && myForm.eventname.$invalid">  <span  ng-show="myForm.eventname.$error.required">Event name is required</span></span>
          </div>
           <div class="form-group field-group">
            <label>Date and Time<span class="req">*</span></label>
            <div class="event-date fieldSection"> 
              <!-- Nav tabs -->
              <div class="content-tab">
                <ul class="nav nav-tabs responsive-tabs" id="event-date" role="tablist">
               <li ng-repeat="event in events" ng-click="select(event)" ng-class="{active: isActive(event)}" ><a class="pointer" href="javascript:void(0)" >{{event.name}}</a>
                    <input type="hidden" name="eventtype" ng-init="data.eventtype='single'" ng-model="data.eventtype" >
               </li>
              
                </ul>
              </div>
              
              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="active"  id="single-event" ng-hide="single_event_div">
                  <div class="row">
                    <div class="col-sm-4">
                     
                      <div class="form-group">
                       <!-- <label>From</label>-->
                        
                       <uib-datepicker ng-model="start_date" class="well well-sm" datepicker-options="options" ng-change="single_eventstart(this)"></uib-datepicker>
 
                      </div>
                        <!-- <div class="form-group">
                        <label>To</label>
                        <uib-datepicker ng-model="end_date" class="well well-sm" datepicker-options="options1" ng-change="single_eventend()"></uib-datepicker>
                      </div>-->
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                   <div class="form-group">
                        <label for="StartTime">Start Time</label>
                         <div class="input-group bootstrap-timepicker timepicker">
                          <input  ng-model="starttime" ng-change="changedstarttime()"  class="form-control input-small timepick" type="text"/><span class="input-group-addon timepick1"><i class="glyphicon glyphicon-time"></i></span>
                        </div>
                    </div>
                   </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="EndTime">End Time</label>
                         <div class="input-group bootstrap-timepicker timepicker">
                          <input ng-model="endtime" ng-change="changedendtime()" class="form-control input-small timepick" type="text"/><span class="input-group-addon timepick1"><i class="glyphicon glyphicon-time"></i></span>
                         </div>
                      </div>
                    </div>
                    
                  </div>
             <div class="row" ng-hide="error_message"><p class="error-fld" >{{error}}</p></div>
                  <div class="row" ng-hide="select_delect_event">
                    <div class="col-xs-12">
                      <label>Select/Deselect Events</label>
                      <div class="clearfix list-event-date">
                      <div class="col-sm-3 pull-right text-right lss-top"> <a  href="javascript:void(0)" ng-click="remove_event()"><i class="fa fa-close"></i></a> </div>
                        <div class="col-sm-3"> {{selectevent_date }} <span style="display:none;">{{single_start_date}}</span> </div>
                        <div class="col-sm-3"> Start Time :{{startevent_time}}</div>
                        <div class="col-sm-3"> End Time :{{endevent_time}} </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div role="tabpanel"  id="multiple-event"  ng-hide="multiple_event_div">
                   
               <div ng-hide="error_message"><p class="error-fld" >{{error}}</p></div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="EndTime">Start Date<span class="req">*</span></label>
                      <div class="form-group datepicker">
                         <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="multiple_start_date" is-open="popup1.opened" datepicker-options="dateOptions"  close-text="Close" alt-input-formats="altInputFormats"  ng-change="recurring_period('start')"/>
                         <span class="input-group-btn">
                           <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button></span>
                     </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="EndTime">End Date<span class="req">*</span></label>
                      <div class="form-group datepicker">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="multiple_end_date" is-open="popup2.opened" datepicker-options="dateOptions"  close-text="Close"  ng-change="recurring_period('end')"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-4">
                  	<label for="City">Recurring<span class="req">*</span></label>
                    <div class="form-group">                      
                      <select class="form-control" ng-model="data.period" ng-change="recurring_period('period')">
                        <option ng-repeat="option in timeperiod" value="{{option.id}}">{{option.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-8 event" ng-hide="days_div">
                    <div class="form-group custom-check m-t40">
                      <p class="custom-check" ng-repeat="day in days">
                        <input type="checkbox"  ng-model="day.selected" id={{day.id}} ng-change="select_checkbox(day.selected)"  value={{day.id}}>
                        <label for="{{day.id}}">{{day.name}}</label>
                      </p>
                      
                    </div>
                  </div>
                  <div class="col-sm-4 event" ng-hide="weekly_div">
                    <div class="form-group custom-check m-t30">
                        <select ng-model="data.weekly_option" ng-change="weekly_option_change()" class="form-control">
                         <option ng-repeat="day in days" value="{{day.id}}">{{day.name}}</option>
                        </select>
                    </div>
                  </div>
                  
                  <div class="col-sm-4 event" ng-hide="monthly_div">
                    <div class="form-group custom-check m-t30">
                        <select class="form-control" ng-model="data.monthly_option" ng-change="change_month()">
                         <option ng-repeat="date in dates" value="{{date.id}}">{{date.id}}</option>
                        </select>
                    </div>
                  </div>
                  
                  
                  

                </div>
                 <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="StartTime">Start Time<span class="req">*</span></label>
                     
                         <div class="input-group bootstrap-timepicker timepicker">
                         <input  ng-model="multiple_starttime"  class="form-control input-small timepick" type="text" ng-change="multiplestart()"/><span class="input-group-addon timepick1"><i class="glyphicon glyphicon-time"></i></span>
                         </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="EndTime">End Time</label>
                         <div class="input-group bootstrap-timepicker timepicker">
                         <input  ng-model="multiple_endtime"  class="form-control input-small timepick" type="text" ng-change="multipleend()"/><span class="input-group-addon timepick1"><i class="glyphicon glyphicon-time"></i></span>
                         </div>
                      
                    </div>
                  </div>
                </div>

                             
                <div class="row">
                  <div class="col-xs-12">
                    <label>Select/Deselect Events</label>
                     <div class="row" ng-hide="error_time_message"  ><p class="error-fld" >{{error_time_display_message}}</p></div>

                    <div class="clearfix list-event-date form-inline"  ng-repeat="between in between_date track by $index">
                         <div class="col-sm-1 pull-right text-right lss-top"> <a ng-click="removediv($index)"><i class="fa fa-close"></i></a> </div>
                        
                           <div class="sel-d col-sm-3">
                             <label> {{between| date:'EEEE MMMM dd,yyyy'}} </label>
                           </div>
                           <div class="sel-d col-sm-4">
                             <label for="exampleInputName2">Start Time:</label>
                          <div class="input-group bootstrap-timepicker timepicker">
                              <input   class="form-control input-small timepick" type="text" ng-model="data.starttimeloop1[$index]" /><span class="input-group-addon timepick1"><i class="glyphicon glyphicon-time"></i></span>
			 </div>
                   
                
                           </div>
                           <div class="sel-d col-sm-4">
                             <label for="exampleInputEmail2">End Time : </label>
                              <div class="input-group bootstrap-timepicker timepicker">    
                              <input   class="form-control input-small timepick" type="text" ng-model="data.endtimeloop1[$index]" ng-change="checkStartEndTime($index)"/><span class="input-group-addon timepick1"><i class="glyphicon glyphicon-time"></i></span>
                              </div>
                    
                           </div>

           

                      
                       </div>
      
                  </div>
                </div>
                
                
                </div>
              </div>
            </div>
          </div>

 <div class="form-group field-group">
            <label for="Location">Location<span class="req">*</span></label>
            <!-- Date Event Group -->
            <div class="event-date fieldSection">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <ul class="nav nav-tabs responsive-tabs">
                 <li ng-repeat="venue in venues" ng-click="select_venue(venue)" ng-class="{active: isActive1(venue)}" ><a class="pointer" href="javascript:void(0)" >{{venue.name}}</a> </li>
                   </ul>
               
              <div class="tab-content">
                    <div role="tabpanel"  id="venue-event" ng-hide="venue_event_div">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="EventName">Venue Type<span class="req">*</span></label>
                            <select class="form-control" ng-model="data.venuetype">
                              <option>Ticket</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="form-group">
                            <label for="Venue">Venue<span class="req">*</span></label>
                            <input type="text" class="form-control" ng-model="data.venuename" name="venuename" value="" required>
                              <span style="color:red" ng-show="myForm.venuename.$dirty && myForm.venuename.$invalid">  <span  ng-show="myForm.venuename.$error.required">Venue name is required</span></span>
                            <input type="hidden" class="form-control" ng-model="data.venueid">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="form-group">
                            <label for="Address">Address<span class="req">*</span></label>
                             <input type="text" class="form-control" name="place" ng-model="data.place"  g-places-autocomplete required>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="City">City<span class="req">*</span></label>
                            <input type="text" class="form-control" name="city" ng-model="data.city" required>
                              <span style="color:red" ng-show="myForm.city.$dirty && myForm.city.$invalid">  <span  ng-show="myForm.city.$error.required">City is required</span></span>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="Zipcode">Zipcode<span class="req">*</span></label>
                            <input type="text" class="form-control" ng-model="data.zipcode" name="zipcode" required>
                           <span style="color:red" ng-show="myForm.zipcode.$dirty && myForm.zipcode.$invalid">  <span  ng-show="myForm.zipcode.$error.required">Zipcode is required</span></span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="City">State<span class="req">*</span></label>
                            <input type="text" class="form-control" ng-model="data.state" name="state" required>
                              <span style="color:red" ng-show="myForm.state.$dirty && myForm.state.$invalid">  <span  ng-show="myForm.state.$error.required">State is required</span></span>
                              
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="Zipcode">Country<span class="req">*</span></label>
                            <input type="text" class="form-control" ng-model="data.country" name="country" required>
                              <span style="color:red" ng-show="myForm.country.$dirty && myForm.country.$invalid">  <span  ng-show="myForm.country.$error.required">Country is required</span></span>
                            <input type="hidden" class="form-control" ng-model="data.latitude">
                            <input type="hidden" class="form-control" ng-model="data.longitude">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div role="tabpanel"  id="location-event" ng-hide="location_event_div">
                         <div class="row">
                        <div class="col-sm-12 loc-list">
                         
                  	 <ul>
                              
                            <li ng-repeat="venue in total_venue track by $index">
                                   <i class="fa fa-map-marker"></i>
                                    <a ng-click="venue_info(venue)">{{venue.venue_name}}</a>
                                       <span>{{venue.address}}, {{venue.city}}&nbsp;,&nbsp;{{venue.state}}&nbsp;,&nbsp;{{venue.zipcode}}</span>
                            </li>
                          
                        </ul>
                  	  </div>
                     </div>
                    </div>
                  </div>
                  
                  <!-- Tab panes -->
                  
                </div>
                <div class="col-sm-12 col-md-6"> <!--<img src="images/map.jpg" class="img-responsive" alt="" />-->
                 <div id="map" style="height: 400px;"></div>
                </div>
              </div>
            </div>
          </div>
 <fieldset>
          <div class="form-top">
            <div class="form-top-left">
              <h3>Step 2 / 3</h3>
              <p>Set up your account:</p>
            </div>
            <div class="form-top-right"> <i class="fa fa-key"></i> </div>
          </div>
          <div class="form-bottom">
            <div class="form-group">
              <label class="sr-only" for="form-email">Email</label>
              <input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">
            </div>
            <div class="form-group">
              <label class="sr-only" for="form-password">Password</label>
              <input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">
            </div>
            <div class="form-group">
              <label class="sr-only" for="form-repeat-password">Repeat password</label>
              <input type="password" name="form-repeat-password" placeholder="Repeat password..." 
				                        				class="form-repeat-password form-control" id="form-repeat-password">
            </div>
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next">Next</button>
          </div>
       
</fieldset>
        <fieldset>
          <div class="form-top">
            <div class="form-top-left">
              <h3>Step 3 / 3</h3>
              <p>Social media profiles:</p>
            </div>
            <div class="form-top-right"> <i class="fa fa-twitter"></i> </div>
          </div>
          <div class="form-bottom">
            <div class="form-group">
              <label class="sr-only" for="form-facebook">Facebook</label>
              <input type="text" name="form-facebook" placeholder="Facebook..." class="form-facebook form-control" id="form-facebook">
            </div>
            <div class="form-group">
              <label class="sr-only" for="form-twitter">Twitter</label>
              <input type="text" name="form-twitter" placeholder="Twitter..." class="form-twitter form-control" id="form-twitter">
            </div>
            <div class="form-group">
              <label class="sr-only" for="form-google-plus">Google plus</label>
              <input type="text" name="form-google-plus" placeholder="Google plus..." class="form-google-plus form-control" id="form-google-plus">
            </div>
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn">Sign me up!</button>
          </div>
        </fieldset>
     
      <div class="editr">
              
                    

        <label>Event Description<span class="req">*</span></label>
         <div ckeditor="option_ckeditor" name="content" required ng-model="data.content" ready="onReady()"></div>
         
        <div class="editor-btn">
          <button type="submit" 
ng-disabled="myForm.$invalid" class="gray-btn btn">Save</button> 
          <button type="button"  ng-click="click_menu(steps[1])" class="pink-btn btn">Next</button>
        </div>
        <div ng-hide="error_message" style="color:green;">{{success}}</div>
      </div>
      </form>
       </div>
 <div ng-hide="price_and_link_div">
           <!-- Event Detail Form -->
   	<form  name="myForm1" novalidate>

   <section class="row">
          	  <section class="col-sm-4">
                  <div class="form-group">
                    <label class="form-label">Event Inventory<span class="req">*</span></label>
                    <input type="number" name="eventinventory" ng-model="data1.eventinventory" class="form-control" placeholder="Event Inventory" required>
                     <span style="color:red" ng-show="myForm1.eventinventory.$dirty && myForm1.eventinventory.$invalid">
  <span ng-show="myForm1.eventinventory.$error.required">Event Inventory is required</span>
  </span>
                  </div>
<!--
<p>
  <input type="submit"
  ng-disabled="myForm1.$dirty && myForm1.$invalid ">
</p>-->
              </section>
              <section class="col-sm-4">
                  <div class="form-group">
                    <label class="form-label">Type of Event</label>
                    <section class="radio-sec with-ftext">
                      		<section class="radio-inline">
                              <input type="radio"  name="type_of_event" ng-model="data1.type_of_event" checked>
                              <label for="radio1"><span></span>Ticketed</label>
                          </section>
                            <section class="radio-inline">
                          <input type="radio"   name="type_of_event" ng-model="data1.type_of_event">
                          <label for="radio2"><span></span>Registration</label>
                          </section>
                   </section>
                  </div>
              </section>
          </section>
   <!--Ticket Types Start -->
          <div class="module">
             	<section class="prof-hd">
                   <i class="fa fa-ticket hdicon pos-l16"></i>
                    <h2>Ticket Types <span class="rt-img"><i class="fa fa-caret-down"></i></span></h2>
            </section>
                <section class="gray-frame sub-fields">
                  <section class="grid-btn-top row">
                  	  <section class="col-sm-7">
                      	<section class="radio-sec">
                      		<section class="radio-inline">
                              <input type="radio"  name="arrange_by_price" ng-model="data1.arrange_by_price"  checked>
                              <label for="radio01"><span></span>Arrange by price</label>
                          </section>
                            <section class="radio-inline">
                          <input type="radio"  name="arrange_by_price" ng-model="data1.arrange_by_price"  >
                          <label for="radio02"><span></span>Manually Arrange</label>
                          </section>
                         </section>
                      </section>
                      <section class="col-sm-5 right-btns text-right">
                        
                         <button class="pink-btn btn btn-small m-fw" ng-click="open_price_level('lg')">ADD PRICE LEVEL</button>
                      </section>
                    </section>
                  <section class="grid-widget">
      	  <div class="table-responsive">
          	  

    <table class="table table-striped">
        <thead>
            <tr>
                <th width="15%">Name</th>
                <th width="10%" class="numbers">Sold</th>
                <th width="14%" class="numbers">Remaining</th>
                <th width="13%" class="numbers">Price</th>
                <th width="14%" class="numbers">Box office <span class="l-b">Price</span></th>
                <th width="12%" class="numbers">Limit</th>
                <th width="23%">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
           <!-- <tr>
                <td><strong>Balcony</strong></td>
                <td class="numbers">12</td>
                <td class="numbers">900</td>
                <td class="numbers">$10.00</td>
                <td class="numbers">$15.00</td>
                <td class="numbers">850</td>
                <td class="action"><a href="#"><i class="fa fa-edit"></i></a><a href="#"><i class="fa fa-tags"></i></a><a href="#"><i class="fa fa-check-circle"></i></a><a href="#"><i class="fa fa-trash"></i></a></td>
            </tr>-->
           
           

        </tbody>

    </table>


          </div>
      </section>
                  
                  <section class="grid-bottm clearfix">
                    <section class="gr-right pull-right">
                    	<ul class="legends">
                        	<li><i class="fa fa-pencil-square-o"></i> <span>Edit</span></li>
                            <li><i class="fa fa-tags"></i><span>change price</span></li>
                            <li><i class="fa fa-check-circle"></i><span>active</span></li>
                            <li><i class="fa fa-trash"></i><span>delete</span></li>
                        </ul>
                    </section>
                </section>
                
                  <div class="row">
                    	<div class="col-sm-12">
                          <div class="form-group row">                            
                            <section class="col-sm-3" ng-hide="age_div">
                                <label> Ages<span class="req">*</span></label>
                                <select class="form-control" name="ages" ng-model="data1.ages">
                                  <option ng-repeat="age in ages" value="{{age.id}}">{{age.name}}</option>
                                </select>
                               
                            </section>
                            <section class="col-sm-3" ng-hide="dynamic_age_div">
                              <label>Ages<span class="req">*</span></label>
                              <input type="text" class="form-control"  name="dynamic_age" ng-model="data1.dynamic_age">
                            </section>
                            <section class="col-sm-3 f-12">
                            	<label>&nbsp;</label>
                                <span ng-hide="age_text_div"><a ng-click="custom_age()" style="cursor: pointer;" class="u-text with-ftext"><strong>Define a custom age limit</strong></a></span>
                                <span ng-hide="return_age_text_div"><a ng-click="custom_default_age()" style="cursor: pointer;" class="u-text with-ftext"><strong>Return to Default age limits</strong></a></span>
                            </section>
                          </div>
                        </div>
                </div>

      			</section>
          </div>
          <!-- Ticket Types Closed -->
          <!-- Bundles Start -->
          <section class="module">
             	<section class="prof-hd">
                   <i class="fa fa-database hdicon pos-l16"></i>
                    <h2>Bundles <span class="rt-img"><i class="fa fa-caret-down"></i></span></h2>
                 </section>
                <section class="gray-frame sub-fields">
                  <section class="grid-btn-top row">
                  	  
                      <section class="col-sm-5 pull-right text-right">
                        <button class="pink-btn btn btn-small m-fw" ng-click="add_bundle('lg')">ADD a Bundle</button>
                         <!-- <button class="pink-btn btn btn-small m-fw"  ng-click="open()">ADD a Bundle</button>-->
                      </section>
                    </section>
                  <section class="grid-widget">
      	  <div class="table-responsive">
          	  

    <table class="table table-striped">
        <thead>
            <tr>
                <th width="15%">Name</th>
                <th width="10%" class="numbers">Sold</th>
                <th width="14%" class="numbers">Remaining</th>
                <th width="13%" class="numbers">Price</th>
                <th width="14%" class="numbers">Box office <span class="l-b">Price</span></th>
                <th width="12%" class="numbers">Limit</th>
                <th width="23%">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
           <!-- <tr>
                <td><strong>Balcony</strong></td>
                <td class="numbers">12</td>
                <td class="numbers">900</td>
                <td class="numbers">$10.00</td>
                <td class="numbers">$15.00</td>
                <td class="numbers">850</td>
                <td class="action"><a href="#"><i class="fa fa-edit"></i></a><a href="#"><i class="fa fa-tags"></i></a><a href="#"><i class="fa fa-check-circle"></i></a><a href="#"><i class="fa fa-trash"></i></a></td>
            </tr>
            -->

        </tbody>

    </table>


          </div>
      </section>
                  
                  <section class="grid-bottm clearfix">
                    <section class="gr-right pull-right">
                    	<ul class="legends">
                        	<li><i class="fa fa-pencil-square-o"></i> <span>Edit</span></li>
                            <li><i class="fa fa-tags"></i><span>change price</span></li>
                            <li><i class="fa fa-check-circle"></i><span>active</span></li>
                            <li><i class="fa fa-trash"></i><span>delete</span></li>
                        </ul>
                    </section>
                </section>
                
                  

      			</section>
          </section>
          <!-- Bundles Closed --> 
          <!--Product Start -->
          <div class="module">
             	<section class="prof-hd">
                   <i class="fa fa-shopping-cart hdicon pos-l16"></i>
                    <h2>Product <span class="rt-img"><i class="fa fa-caret-down"></i></span></h2>
            </section>
                <section class="gray-frame sub-fields">
                  <section class="grid-btn-top row">                  	  
                      <section class="col-sm-5 right-btns text-right">
                         <button class="pink-btn btn btn-small m-fw" ng-click="add_product('lg')">Add Product</button>
                          
                      </section>
                    </section>
                  <section class="grid-widget">
      	  <div class="table-responsive">
          	   

    <table class="table table-striped">
        <thead>
            <tr>
                <th width="15%">Name</th>
                <th width="10%" class="numbers">Sold</th>
                <th width="14%" class="numbers">Remaining</th>
                <th width="13%" class="numbers">Price</th>
                <th width="14%" class="numbers">Box office <span class="l-b">Price</span></th>
                <th width="12%" class="numbers">Limit</th>
                <th width="23%">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
           <!-- <tr>
                <td><strong>Balcony</strong></td>
                <td class="numbers">12</td>
                <td class="numbers">900</td>
                <td class="numbers">$10.00</td>
                <td class="numbers">$15.00</td>
                <td class="numbers">850</td>
                <td class="action"><a href="#"><i class="fa fa-edit"></i></a><a href="#"><i class="fa fa-tags"></i></a><a href="#"><i class="fa fa-check-circle"></i></a><a href="#"><i class="fa fa-trash"></i></a></td>
            </tr>-->
            

        </tbody>

    </table>


          </div>
      </section>
                  
                  <section class="grid-bottm clearfix">
                    <section class="gr-right pull-right">
                    	<ul class="legends">
                        	<li><i class="fa fa-pencil-square-o"></i> <span>Edit</span></li>
                            <li><i class="fa fa-tags"></i><span>change price</span></li>
                            <li><i class="fa fa-check-circle"></i><span>active</span></li>
                            <li><i class="fa fa-trash"></i><span>delete</span></li>
                        </ul>
                    </section>
                </section>
                
                  <!--<div class="row">
                    	<div class="col-sm-12">
                          <div class="form-group row">                           
                            
                            <section class="col-sm-5 f-12">
                                <a href="#" class="u-text"><strong>Please set your Fulfillment Settings</strong></a>
                            </section>
                          </div>
                        </div>
                </div>-->

      			</section>
          </div>
          <!-- Product Closed -->
          <!--Links Start -->
          <div class="module">
  <section class="prof-hd"> <i class="fa fa-link hdicon pos-l16"></i>
    <h2>Links <span class="rt-img"><i class="fa fa-caret-down"></i></span></h2>
  </section>
  <section class="gray-frame">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="EventName"> Video</label>
          <input type="text" name="video" ng-model="data1.video" class="form-control" placeholder="Video Url"/>
          <span style="color:red" ng-show="myForm1.video.$dirty && myForm1.video.$invalid">
  <span ng-show="myForm1.video.$error.required">Video is required</span>
  </span>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="EventName"> Facebook</label>
          <input type="text" name="facebook" ng-model="data1.facebook"  class="form-control" placeholder="Facebook Url"/>
          <span style="color:red" ng-show="myForm1.facebook.$dirty && myForm1.facebook.$invalid">
  <span ng-show="myForm1.video.$error.required">Facebook Url is required</span>
  </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="EventName"> Twitter</label>
          <input type="text" name="twitter" ng-model="data1.twitter"   class="form-control"  placeholder="Twitter Url"/>
           <span style="color:red" ng-show="myForm1.twitter.$dirty && myForm1.twitter.$invalid">
  <span ng-show="myForm1.twitter.$error.required">Twitter is required</span>
  </span>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="EventName"> Event Website</label>
          <input type="text" class="form-control"  name="eventwebsite" ng-model="data1.eventwebsite"   placeholder="Event Website" />
          <span style="color:red" ng-show="myForm1.eventwebsite.$dirty && myForm1.eventwebsite.$invalid">
  <span ng-show="myForm1.eventwebsite.$error.required">Event Website is required</span>
  </span>
        </div>
      </div>
    </div>
  </section>
</div>
          <!--Links Closed -->
          <!-- Search options Start -->
           <div class="form-group clearfix">
             	<section class="prof-hd">
                   <i class="fa fa-search hdicon pos-l16"></i>
                    <h2>Search options <span class="rt-img"><i class="fa fa-caret-down"></i></span></h2>
            </section>
                <section class="gray-frame">
                	<div class="row">
                	    <div class="col-sm-6">
                          <div class="form-group">
                            <label for="EventName"> Additional Keywords/Tags</label>
                            <input type="text" name="keyword"  ng-model="data1.keyword" class="form-control" placeholder="Additional Keywords/Tags"/>
                            <span style="color:red" ng-show="myForm1.keyword.$dirty && myForm1.keyword.$invalid">
  <span ng-show="myForm1.keyword.$error.required">Additional Keywords/Tags is required</span>
  </span>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                	<div class="col-sm-4">
                          <div class="form-group">
                            <label for="EventName"> Categories<span class="req">*</span></label>
                            <select class="form-control">
                              <option value="Ticket">Dance</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-4 text-drop">
                          <div class="form-group">
                            <select class="form-control">
                              <option value="Ticket">Comedy</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-4 text-drop">
                          <div class="form-group">
                            <select class="form-control">
                              <option value="Ticket">Singing</option>
                            </select>
                          </div>
                        </div></div>

      			</section>
          </div>
           <!-- Search options Closed -->
           <div class="editor-btn">
          <button type="button" ng-click="click_menu(steps[0])" class="gray-btn btn">Back</button>
           <button type="submit" class="pink-btn btn">Save</button>
          <button type="button" ng-click="click_menu(steps[2])" class="pink-btn btn">Next</button>
        </div>
</form>
       </div>
       <div ng-hide="look_and_feel_div"><div class="module template-view">
       <div class="main-image"><img src="images/img/f-img.jpg" alt=""/></div>
         
          <!--With Right Img start-->
          <div class="row editor-row">
       	    <div class="col-sm-8">
              	  <h3>Heading</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-sm-4"><img src="images/img/s-img.jpg" alt=""/></div>
          </div>
          <!--With Right Img Closed-->
          
          <!--Only Text start-->
          <div class="row editor-row">
       	    <div class="col-sm-12">
              	  <h3>Heading</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
          <!--Only Text Closed-->
          
          <!--With Left Img start-->
          <div class="row editor-row">
          	<div class="col-sm-4"><img src="images/img/s-img.jpg" alt=""/></div>
       	    <div class="col-sm-8">
              	  <h3>Heading</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
          <!--With Left Img Closed-->
          
          <!--Footer start-->
          <div class="editor-row editor-bottom">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>            
          </div>
          <!--Footer Closed-->
          

      </div></div>
       <div ng-hide="setting_div">Settting Div.</div>

</div>
    
    <!-- //Form COntainer --> 
  </div>
<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Remove Previous Event</h3>
        </div>
        <div class="modal-body">
            Are you sure to remove this previous created Event?
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="remove()">Remove</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
<script type="text/ng-template" id="myModalContentPrice.html">
        <div  class="modal-header">
            <h3 class="modal-title" style="float:left;">Manage Price Level</h3><a style="float:right;cursor: pointer;" ng-click="cancel()">X</a>
        </div>
        <form  name="pricelevelForm" class="pricelevelForm"  ng-submit="savepriceleveldata(data1)" novalidate>
        <div  class="modal-body">
         
            <fieldset  class="form-group" style="padding-top:10px">
               <div class="col-sm-4">Price Level Name<span class="req">*</span></div>
               <div class="col-sm-8"><input type="text" ng-model="data1.price_level" name="price_level" class="form-control" required></div>
               <span style="color:red" ng-show="pricelevelForm.price_level.$dirty && pricelevelForm.price_level.$invalid">
                <span ng-show="pricelevelForm.price_level.$error.required">Price Level Name is required</span>
               </span>
            </fieldset>
            <fieldset class="form-group">
               <div class="col-sm-4">Price Level Type</div>
               <div class="col-sm-8"><select ng-model="data1.price_type" name="price_type" class="form-control"
               ng-change="change_price_type()">
                    <option value="">---</option>
                    <option value="fixed_price">Fixed Price</option>
                    <option value="name_your_price">Name your Price</option>
               </select></div>
            </fieldset>
            <fieldset class="form-group" ng-hide="online_price">
               <div class="col-sm-4">Online Price(USD $)</div>
               <div class="col-sm-8"><input type="text" ng-model="data1.online_price" name="online_price" class="form-control" ng-blur="onlinePricefunc()"></div> 
            </fieldset>
            
            <fieldset class="form-group" ng-hide="min_price">
               <div class="col-sm-4">Minimum Price(USD $)</div>
               <div class="col-sm-8"><input type="text" ng-model="data1.minimum_price" name="minimum_price" class="form-control"></div>
            </fieldset>
            <fieldset class="form-group" ng-hide="min_price">
               <div class="col-sm-4">Suggested Price(USD $)</div>
               <div class="col-sm-8"><input type="text" ng-model="data1.suggested_price" name="suggested_price" class="form-control" ng-blur="suggestedPricefunc()"></div>
            </fieldset>
            <fieldset class="form-group">
               <div class="col-sm-4">Box Office Price(USD $)</div>
               <div class="col-sm-8"><input type="text" ng-model="data1.box_office_price" name="box_office_price" class="form-control"></div>
            </fieldset>
            <fieldset class="form-group">
               <div class="col-sm-4">Quantity Available</div>
               <div class="col-sm-8"><input type="text" ng-model="data1.quantity_available" name="quantity_available" class="form-control"></div>
            </fieldset>
            <fieldset class="form-group">
               <div class="col-sm-4">Hide Online</div>
               <div class="col-sm-8">
            <section class="radio-sec">
                      		<section class="radio-inline">
                              <input id="radio01" type="radio"  name="hide_online" ng-model="data1.hide_online"  value="1">
                              <label for="radio01"><span></span>Yes</label>
                          </section>
                            <section class="radio-inline">
                          <input id="radio02" type="radio"  name="hide_online" ng-model="data1.hide_online" checked value="0">
                          <label for="radio02"><span></span>No</label>
                          </section>
                         </section>
               </div>
            </fieldset>
            <fieldset class="form-group">
               <div class="col-sm-4">Hide in Box Office</div>
               <div class="col-sm-8">
            <section class="radio-sec">
                      		<section class="radio-inline">
                              <input type="radio" id="radio03" name="hide_in_box_office" ng-model="data1.hide_in_box_office" value="1" >
                              <label for="radio03"><span></span>Yes</label>
                          </section>
                            <section class="radio-inline">
                          <input type="radio" id="radio04"  name="hide_in_box_office" ng-model="data1.hide_in_box_office" checked value="0" >
                          <label for="radio04"><span></span>No</label>
                          </section>
                         </section>
               </div>
            </fieldset>
            <fieldset class="form-group">
               <div class="col-sm-4">Minimum Per Order</div>
               <div class="col-sm-8"><input type="text" ng-model="data1.minimum_per_order" name="minimum_per_order" class="form-control"></div>
            </fieldset>
            <fieldset class="form-group">
               <div class="col-sm-4">Maximum Per Order</div>
               <div class="col-sm-8"><input type="text" ng-model="data1.maximum_per_order" name="maximum_per_order" class="form-control"></div>
            </fieldset>
            <fieldset class="form-group">
               <div class="col-sm-4">Description</div>
               <div class="col-sm-8"><textarea ng-model="data1.description" name="description" class="form-control"/></div>
            </fieldset>
           
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary"  
ng-disabled="pricelevelForm.$invalid"  type="submit">Submit</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
        </form>
    </script>

<script type="text/ng-template" id="myModalContentBundle.html">
        <div class="modal-header">
            <h3 class="modal-title">Add a Bundle</h3>
        </div>
        <div class="modal-body">
            Modal Content Price
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button">Submit</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

<script type="text/ng-template" id="myModalContentProduct.html">
        <div class="modal-header">
            <h3 class="modal-title">Add a Product</h3>
        </div>
        <div class="modal-body">
            Modal Content Price
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button">Submit</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>



