
<div ng-hide="look_and_feel_div" ng-controller="step3Controller">
 <!-- Form COntainer -->
    
    <div ng-hide="campaign_div">
      <h2 class="head">Choose campaign template from below</h2>
       <section class="module row">
       		<section class="col-sm-3 temp-view" ng-repeat="template in templates track by $index">
            	<section class="form-group">
                    <p class="temp-image"><img src="{{template.image}}" alt=""/></p>	
                    <section class="top-buttons text-center">
		      <button ng-click="preview_btn(template.id,'')" class="btn pink-btn btn-small mw-100" type="button">Preview</button>
		      <button ng-click="select_btn(template.id)" class="btn pink-btn btn-small mw-100" type="button">Select</button>
		    </section>
                </section>
            </section>
            
       </section>
    </div>
    
    <!-- //Form COntainer --> 
  <div class="module template-view" ng-hide="module_div">
 <div class="gridster">
    <ul>
	 
      
      <li data-row="1" data-col="1" data-sizex="2" data-sizey="1"><div  contenteditable="true" ng-mouseover="abc();"> <img src="images/img/f-img.jpg" alt="banner image" width="100%"height="200px"></div></li>
	  
      <li data-row="2" data-col="1" data-sizex="1" data-sizey="1"><div  style="text-align:justify;">  <h3>Heading</h3>Edit<br/><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet</p></div></li>
	  
      <li data-row="3" data-col="1" data-sizex="1" data-sizey="1"><div contenteditable="true">  <h3>Heading</h3>Edit<br/><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet</p></div></li>
	  
      <li data-row="2" data-col="2" data-sizex="1" data-sizey="1"><div contenteditable="true" style="float:left;width:60%;text-align:justify; padding-right:20px;">Edit<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p></div><div style="float:left;width:40%;"> <img src="images/img/s-img.jpg" alt="banner imageee"  width="100%"></div></li>
	  
	  <li data-row="3" data-col="2" data-sizex="1" data-sizey="1"><div> <img src="images/img/f-img.jpg" alt="banner imageee" height="125px" width="100%"></div></li>
	  
	  <li data-row="4" data-col="1" data-sizex="2" data-sizey="1" id="footer"><div id="footerid" contenteditable="true"><span class="edit" style="display:none;">Edit</span><p id="footerdata">Footer content will be shown here.</p></div></li>
    </ul>
  </div> 
</div>
 <script type="text/javascript">
 function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }
      var gridster;

      $(function(){

        gridster = $(".gridster ul").gridster({
          //widget_base_dimensions: [100, 100],
          widget_margins: [5, 5],
		  helper: 'clone',
		  resize: {
            enabled: true,
			handles: ['n', 'e', 's', 'w', 'se', 'sw']
          },
		  pushing: true,
		floating: true,
		draggable: {
			enabled: true
		}
        }).data('gridster');


        // resize widgets on hover
        gridster.$el
          .on('mouseenter', '> li', function() {
		   if($(this).attr('id')=='footer')
		   {
		    $('#footer .edit').show();
		   }
          }).on('mouseleave', '> li', function() {
		  if($(this).attr('id')=='footer')
		   {
		 
		    $('#footer .edit').hide();
		   }
          })
      });
    </script>
<script type="text/ng-template" id="previewtemplate.html">
     <div class="modal-header">
            <h3 class="modal-title">Preview Template</h3>
        </div>
        <div class="modal-body">
            <img src='{{preview_image}}'/>
        </div>
        <div class="modal-footer">
            
            <button class="btn btn-warning" type="button" ng-click="cancel()">close</button>
        </div>
  </script>

