<link rel="stylesheet" href="stylesheets/timepicker.css" type="text/css" />
<script src="javascripts/timepicker.js" type="text/javascript"></script>
<div class="container">
    <h1>Create an Package</h1>
    <!-- Step Form -->
    <div class="stage-container clearfix">
        <div class="stage" ng-repeat="step in steps" ng-class="{current: isActive2(step)}" ng-click="click_menu(step)">
            <div class="stage-icon"><i class="{{step.icon}}"></i> </div>
            <div class="stage-title">{{step.title}}</div>
        </div>
    </div>
    <!-- //Step Form --> 
    <!-- Form COntainer -->
    <div class="form-section  wt-frame">
        <div ng-hide="eventdetail_div" class="eventseries">
            <form  name="myForm" class="event-form" novalidate>
                <section class="gray-frame sub-fields">
                    <div class="form-group">
                        <label for="package_name">Package Name<span class="req">*</span></label> <!--<i class="fa fa-question icon-fa"></i><span class="glyphicon glyphicon-question-sign"></span>-->

                        <input type="text" name="package_name" ng-model="data.package_name" class="form-control" placeholder="Package Name" maxlength="50" minlength="3" required  tooltips tooltip-template="This is the title of your package. Minimum 3 characters, maximum 50 characters." >

                         <p ng-show="myForm.package_name.$invalid && !myForm.package_name.$pristine" class="error-fld ng-binding">Package name is required.</p>

                    </div>
                    <div class="editr">
                        <label for="package_description"> Description<span class="req">*</span></label>
                        <div ckeditor="option_ckeditor" name="package_description"  id="package_description" ng-model="data.package_description" ready="onReady()" value='' tooltips tooltip-template="The area of the ticketing page where you can display additional details about the event. The description box is HTML enabled, which means that you can add HTML code to change the color and size of the font in this area of the ticketing page, as well as embed images, video and audio.">
                        </div>

                         <!-- <p ng-show="data.package_description == '' && myForm.package_description.$invalid && !myForm.package_description.$pristine" class="error-fld ng-binding">Package description is required.</p> -->
                    </div>
                </section>
            
            <!-- events section -->
            <div class="form-group field-group">
                <label>
                    <h4><b>Events to Include in Packages</b></h4>
                </label>
                <section class="gray-frame sub-fields">
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Events<span class="req">*</span></label>
                            <button type="button" ng-click="showEventPopup()" class="gray-btn btn">Add/Remove Events</button>
                        </div>
                    </div>
                </section>
                <section class="gray-frame sub-fields" ng-show="choosenEventsArea">
                    <div class="table-responsive">
                        <table class="table table-striped" >
                            <thead>
                                <tr>
                                    <th width="22%">ID</th>
                                    <th width="36%">Event</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="event in FinalEvents" >
                                    <td><a href="#"><strong>{{event.id}}</strong></a></td>
                                    <td>
                                        <p> <b>{{event.title}}</b> @ {{event.event_address}} {{event.city}}</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
            <!-- sale time section-->
            <section class="form-group field-group">
                <label  tooltips tooltip-template="The date and time your event will take place. Time is relative to venue's timezone.">Sales Times</label>
                <section class="gray-frame sub-fields">
                    <section class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label >Online Sales Open<span class="req">*</span></label>
                                <div class="form-group datepicker">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="data.online_sales_open_date" is-open="popup3.opened" datepicker-options="dateOptions"  close-text="Close" alt-input-formats="altInputFormats" ng-disabled="data.immidiately" ng-required="!data.immidiately"  />
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open3()"><i class="glyphicon glyphicon-calendar"></i></button></span>

                                    

                                </div>
                                <p ng-show="myForm.online_sales_open_date.$invalid && !myForm.online_sales_open_date.$pristine" class="error-fld ng-binding">Online sales open date is required.</p>
                            </div>
                        </div>

                      

                        <div class="col-sm-4">
                    <div class="form-group">
                      <label for="StartTime">Start Time</label>
                      <div class="input-group bootstrap-timepicker timepicker">
                        <input type="text"  id="online_sales_open_time" name="online_sales_open_time" ng-model="data.online_sales_open_time"  class="form-control input-small timepick" ng-disabled="data.immidiately" /><span class="input-group-addon timepick1" ><i class="glyphicon glyphicon-time"></i></span>
                      </div>
                    </div>

                        </div>
                    </section>
                    <section class="radio-sec custom-check m-b20">
                        <p class="radio-inline">
                            <input type="checkbox" id="immidiately" name="immidiately" ng-model="data.immidiately" ng-true-value="1" ng-false-value="0" ng-click="disableOpenDateTime()">
                            <label for="immidiately">Immediately</label>
                        </p>
                    </section>
                    <section class="row">

                                <div class="col-sm-4">
                            <div class="form-group">
                                <label>Online Sales Close<span class="req">*</span></label>
                                <div class="form-group datepicker">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="data.online_sales_close_date" is-open="popup4.opened" datepicker-options="dateOptions"  close-text="Close" alt-input-formats="altInputFormats" required  />
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open4()"><i class="glyphicon glyphicon-calendar"></i></button></span>

                               

                                </div>
                                 <p ng-show="myForm.online_sales_close_date.$invalid && !myForm.online_sales_close_date.$pristine" class="error-fld ng-binding">Online sales close date is required.</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                      <label for="EndTime">End Time</label>
                      <div class="input-group bootstrap-timepicker timepicker">
                        <input type="text" id="online_sales_close_time" name="online_sales_close_time" ng-model="data.online_sales_close_time" class="form-control input-small timepick" /><span class="input-group-addon timepick1"><i class="glyphicon glyphicon-time"></i></span>
                      </div>
                    </div>
                        </div>
                    </section>
                </section>
            </section>
            <!-- setting section-->
            <div class="form-group field-group">
                <label for="Location">Settings</label>
                <!-- Date Event Group -->
                <div class="event-date fieldSection">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label class="form-label" tooltips tooltip-template="Select the type of event to change the language throughout the checkout process (e.g., Register will replace Buy Tickets)." >Type of Event</label>
                            </div>
                            <div class="col-sm-4">
                                <label for="EventName"> Category<span class="req">*</span></label>
                            </div>
                            <div class="col-sm-4">
                                <label> Ages<span class="req">*</span></label>
                            </div>
                        </div>
                        <section class="radio-sec with-ftext col-sm-12">
                            <div class="col-sm-4">
                                <section class="radio-inline">
                                    <input type="radio"  name="event_type" ng-model="data.event_type" id="event_type0" value="0" ng-checked="data.event_type==0" >
                                    <label for="event_type0"><span></span>Ticketed</label>
                                </section>
                                <section class="radio-inline">
                                    <input type="radio"   name="event_type" ng-model="data.event_type" id="event_type1" value="1" ng-checked="data.event_type==1" >
                                    <label for="event_type1"><span></span>Registration</label>
                                </section>

                             

                            </div>

                            <div class="col-sm-4">

<select class="form-control" ng-model="data.category" id="category" name="category" required>
<option value="9">Art / Exhibit</option><option value="23">Classes</option><option value="17">Club Night</option><option value="5">Comedy</option><option value="7">Community</option><option value="1">Concert</option><option value="4">Conference</option><option value="19">Dance</option><option value="6">Festival</option><option value="20">Film</option><option value="14">Fundraiser</option><option value="3">Networking</option><option value="24">Online Events</option><option value="10">Other</option><option value="11">Party</option><option value="2">Performing Arts</option><option value="13">Raffle</option><option value="16">Retreat</option><option value="15">Reunion</option><option value="12">Sporting</option><option value="22">Teacher Training</option><option value="21">Tour</option><option value="8">Trade Show</option><option value="18">Workshop</option>
                                </select>

                                 <p ng-show="myForm.category.$invalid && !myForm.category.$pristine" class="error-fld ng-binding">Event category is required.</p>


                            </div>

                            <div class="col-sm-4">
                                <select class="form-control" name="ages" ng-model="data.ages" ng-show="!data.defined_age" ng-required="!data.defined_age">
                                    <option ng-repeat="age in ages" value="{{age.id}}">{{age.name}}</option>
                                </select>

                                <input type="number" min="0"  ng-model="data.custom_age" id="custom_age" name="custom_age" class="form-control" placeholder="Custom Age" ng-show="data.defined_age ==1" ng-required="data.defined_age ==1">


                                 <p ng-show="myForm.ages.$invalid && !myForm.ages.$pristine" class="error-fld ng-binding">Age is required.</p>

                                  <p ng-show="myForm.custom_age.$invalid && !myForm.custom_age.$pristine" class="error-fld ng-binding">Age is required.</p>

                                <div class="col-sm-12">
                                    <div class="radio-sec custom-check">
                                        <p class="radio-inline">
                                            <input type="checkbox" id="defined_age" name="defined_age" ng-model="data.defined_age" ng-true-value="1" ng-false-value="0" /><label for="defined_age">Define a custom age limit</label>
                                        </p>
                                    </div>
                                </div>
                            </div>


                        
                        </section>
                    </div>
                </div>
            </div>

                <div class="col-sm-12">
                                <label class="form-label">Package Website</label>
                                <input type="url" name="website" ng-model="data.website" class="form-control" tooltips tooltip-template="The website URL you provide will appear on your ticketing page. If you do not have a website, you can input a Facebook, MySpace or blog link in this section." >
                            </div>
                            <div class="col-sm-12">
                                <br>
                                <br>
                                <label class="form-label">Image</label>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                  


<span class="file-input btn pink-btn btn-small btn-file">
Choose File
<input  id="inputFileToLoad_1" type="file" onchange="angular.element(this).scope().encodeImageFileAsURL(this,1)" file-model="file.myFiles" accept="image/x-png, image/gif, image/jpeg"  tooltips tooltip-template="Image to be displayed on the event listing page. Must be under 2MB." /> 
<div id="imgTest_1" ng-model="picDatatest1" width="100" height="100"></div>
<img height="100" width="100" ng-src="/images/products/{{data.image_1}}" ng-show="data.image_1 && data.image_1 != 'undefined'">     
</span>

                                </div>
                                <div class="radio-sec custom-check col-sm-6">
                                    <p class="radio-inline">
                                        <input type="checkbox" id="display_image_in_listing" ng-model="data.display_image_in_listing" name="display_image_in_listing" ng-true-value="1" ng-false-value="0">
                                        <label for="display_image_in_listing" >Display image an event Listing</label>
                                    </p>
                                </div>
                            </div>

<!-- ng-disabled="myForm.$invalid || eventsChoosedFlag == false" -->
            <dvi class="editor-btn">
                <button type="submit"  ng-click="stepOne()" class="gray-btn btn">Save</button> 
                <button type="button" ng-click="click_menu(steps[1])" class="pink-btn btn">Next</button>
            </div>

           

            </form>

             <div ng-hide="error_message">
                <p class="success-fld ng-binding">{{success}}</p>
            </div>

        </div>


        <!--price and link part -->
        <div ng-hide="price_and_link_div">
            <!-- Event Detail Form -->
            <h3>Price Levels</h3>
            <section class="gray-frame sub-fields">
                <section class="radio-sec with-ftext">
                    <section class="radio-inline">
                        <input type="radio" id="radio1" name="type_of_event" ng-model="data1.type_of_event" checked>
                        <label for="radio1"><span></span>Arrange by price</label>
                    </section>
                    <section class="radio-inline">
                        <input type="radio" id="radio2"  name="type_of_event" ng-model="data1.type_of_event">
                        <label for="radio2"><span></span>Manually Arrange</label>
                    </section>
                </section>
                <form>
                    <!-- Ticket Types Closed -->
                    <!-- Bundles Start -->
                    <div class="module">
                        <section class="prof-hd">
                            <i class="fa fa-database hdicon pos-l16"></i>
                            <h2>Bundles <span class="rt-img"><i class="fa fa-caret-down"></i></span></h2>
                        </section>
                        <section class="gray-frame sub-fields">
                            <section class="grid-btn-top row">
                                <section class="col-sm-5 pull-right text-right">
                                    <button class="pink-btn btn btn-small m-fw" ng-click="add_bundle('lg')">ADD a Bundle</button>
                                    <!-- <button class="pink-btn btn btn-small m-fw"  ng-click="open()">ADD a Bundle</button>-->
                                </section>
                            </section>
                            <section class="grid-widget">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th width="15%">Name</th>
                                                <th width="10%" class="numbers">Sold</th>
                                                <th width="14%" class="numbers">Remaining</th>
                                                <th width="13%" class="numbers">Price</th>
                                                <th width="14%" class="numbers">Box office <span class="l-b">Price</span></th>
                                                <th width="12%" class="numbers">Limit</th>
                                                <th width="23%">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                            <section class="grid-bottm clearfix">
                                <section class="gr-right pull-right">
                                    <ul class="legends">
                                        <li><i class="fa fa-pencil-square-o"></i> <span>Edit</span></li>
                                        <li><i class="fa fa-tags"></i><span>change price</span></li>
                                        <li><i class="fa fa-check-circle"></i><span>active</span></li>
                                        <li><i class="fa fa-trash"></i><span>delete</span></li>
                                    </ul>
                                </section>
                            </section>
                        </section>
                    </div>
                    <!-- Bundles Closed --> 
                    <!--Product Start -->
                    <div class="module">
                        <section class="prof-hd">
                            <i class="fa fa-shopping-cart hdicon pos-l16"></i>
                            <h2>Product <span class="rt-img"><i class="fa fa-caret-down"></i></span></h2>
                        </section>
                        <section class="gray-frame sub-fields">
                            <section class="grid-btn-top row">
                                <section class="col-sm-5 right-btns text-right">
                                    <button class="pink-btn btn btn-small m-fw" ng-click="add_product('lg')">Add Product</button>
                                </section>
                            </section>
                            <section class="grid-widget">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th width="15%">Name</th>
                                                <th width="10%" class="numbers">Sold</th>
                                                <th width="14%" class="numbers">Remaining</th>
                                                <th width="13%" class="numbers">Price</th>
                                                <th width="14%" class="numbers">Box office <span class="l-b">Price</span></th>
                                                <th width="12%" class="numbers">Limit</th>
                                                <th width="23%">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                            <section class="grid-bottm clearfix">
                                <section class="gr-right pull-right">
                                    <ul class="legends">
                                        <li><i class="fa fa-pencil-square-o"></i> <span>Edit</span></li>
                                        <li><i class="fa fa-tags"></i><span>change price</span></li>
                                        <li><i class="fa fa-check-circle"></i><span>active</span></li>
                                        <li><i class="fa fa-trash"></i><span>delete</span></li>
                                    </ul>
                                </section>
                            </section>
                        </section>
                    </div>
                    <!-- button for save,next -->
                    <div class="editor-btn">
                        <button type="button" ng-click="click_menu(steps[0])" class="gray-btn btn">Previous</button>
                        <button type="submit" class="pink-btn btn">Save</button>
                        <button type="button" ng-click="click_menu(steps[2])" class="pink-btn btn">Next</button>
                    </div>
                </form>
            </section>
        </div>
        <!--SETTING SECTION-->
        <div ng-hide="setting_div">
            <form class="event-form">
                <section class="form-group field-group">
                    <label>Delivery Methods</label>
                    <section class="gray-frame sub-fields">
                        <label>Price at Home</label>
                        <section class="row">
                            <section class="col-sm-8">
                                <section class="radio-sec">
                                    <section class="radio-inline">
                                        <input type="radio" name="radio1" id="radio5">
                                        <label for="radio5"><span></span>Always Available</label>
                                    </section>
                                    <section class="radio-inline">
                                        <input type="radio" name="radio1" id="radio6">
                                        <label for="radio6"><span></span>Never Available</label>
                                    </section>
                                    <section class="radio-inline">
                                        <input type="radio" name="radio1" id="radio7">
                                        <label for="radio7"><span></span>Set Dates</label>
                                    </section>
                                </section>
                                <section class="row">
                                    <section class="col-sm-8">
                                        <section class="form-group">
                                            <br>
                                            <label>Extra Info</label>
                                            <textarea name="textarea" class="form-control" cols=" " rows="5"></textarea>
                                        </section>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
                <!-- DONATION CUSTOM FREE-->
                <section class="form-group field-group">
                    <section class="row">
                        <label class="col-md-2 col-sm-4">Donations </label>
                        <section class="col-md-4 col-sm-4">
                            <div class="onoffswitch mt-3">
                                <input type="checkbox" name="donations" class="onoffswitch-checkbox" id="donations"  ng-model="data.donations" ng-true-value="1" ng-false-value="0">
                                <label class="onoffswitch-label" for="donations"></label>
                            </div>
                        </section>
                    </section>
                    <section class="gray-frame sub-fields" style="display:none;">             
                        sss
                    </section>
                </section>
                <!--/Donations--> 
                <section class="form-group field-group">
                    <section class="row">
                        <label class="col-md-2 col-sm-4">Custom Fee </label>
                        <section class="col-md-4 col-sm-4">
                            <div class="onoffswitch mt-3">
                                <input type="checkbox" name="custom_fee" class="onoffswitch-checkbox" id="custom_fee" ng-model="data.custom_fee" checked>
                                <label class="onoffswitch-label" for="custom_fee"></label>
                            </div>
                        </section>
                    </section>
                    <section class="gray-frame sub-fields">
                        <section class="row">
                            <section class="col-sm-8">
                                <section class="form-group">
                                    <label>Fee Name</label>
                                    <input type="text" class="form-control" value=" " name=" ">
                                </section>
                            </section>
                        </section>
                        <section class="row">
                            <section class="col-sm-4">
                                <section class="form-group">
                                    <label>Fee Type</label>
                                    <select class="form-control">
                                        <option value=" ">Percentage</option>
                                    </select>
                                </section>
                            </section>
                            <section class="col-sm-4">
                                <section class="form-group">
                                    <label>Amount (%)</label>
                                    <input type="text"  class="form-control"  placeholder="0.00">
                                </section>
                            </section>
                            <section class="col-sm-4">
                                <section class="form-group">
                                    <label>When to Apply Fee</label>
                                    <select class="form-control">
                                        <option value=" ">Before Discount</option>
                                    </select>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
                <!--/ADDITIONAL SETTING-->
                <section class="form-group field-group">
                    <label>Additional Settings </label>
                    <section class="gray-frame sub-fields">
                        <section class="row">
                            <section class="col-sm-12">
                                <section class="row">
                                    <section class="col-sm-4">
                                        <section class="form-group">
                                            <label>Online Service Fee</label>
                                            <input type="text" placeholder="0" class="form-control" value="" name="StartTime">
                                        </section>
                                    </section>
                                    <section class="col-sm-4">
                                        <section class="form-group">
                                            <label>Box Office Service Fee</label>
                                            <input type="text" placeholder="0" class="form-control" value="" name="StartTime">
                                        </section>
                                    </section>
                                    <section class="col-sm-4">
                                        <section class="form-group">
                                            <label>Ticket Transaction Limit</label>
                                            <input type="text" name="" value="" class="form-control" placeholder="10">
                                        </section>
                                    </section>
                                </section>
                            </section>
                        </section>
                        <section class="row">
                            <section class="col-sm-8">
                                <section class="form-group">
                                    <label>Ticket Note</label>
                                    <input type="text" class="form-control" value=" " name=" ">
                                </section>
                            </section>
                            <section class="col-sm-4">
                                <section class="form-group">
                                    <label>Checkout Time Limit</label>
                                    <select class="form-control">
                                        <option value=" ">5 minute</option>
                                    </select>
                                </section>
                            </section>
                        </section>
                        <section class="row">
                            <section class="col-sm-4">
                                <section class="form-group">
                                    <label>Collect Name on Each Ticket</label>
                                    <div class="onoffswitch mt-3">
                                        <input type="checkbox" name="name_on_each_ticket" class="onoffswitch-checkbox" id="name_on_each_ticket" ng-model="data.name_on_each_ticket" >
                                        <label class="onoffswitch-label" for="name_on_each_ticket"></label>
                                    </div>
                                </section>
                            </section>
                            <section class="col-sm-4">
                                <section class="form-group">
                                    <label>Pricing</label>
                                    <div class="onoffswitch mt-3">
                                        <input type="checkbox" name="pricing" class="onoffswitch-checkbox" id="pricing" ng-model="data.pricing">
                                        <label class="onoffswitch-label" for="pricing"></label>
                                    </div>
                                </section>
                            </section>
                        </section>
                        <section class="row">
                            <section class="col-sm-8">
                                <section class="form-group">
                                    <br>
                                    <label>show seating chart</label>
                                    <label>There is no seating chart assigned to this event's vanue</label>
                                </section>
                            </section>
                            <section class="col-sm-4">
                                <section class="form-group">
                                    <label>URL short name<span class="req">*</span></label>
                                    <input type="text"  class="form-control" />
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
                <!--/Advance  Settings-->
                <section class="form-group field-group">
                    <label>Advanced Settings</label>
                    <section class="gray-frame sub-fields">
                        <section class="content f-sb">
                            <p>Make modifications to various customer-facing features, including your event listing, checkout process and Print@home tickets, using these advanced customizations. Do not make any adjustments if you're uncertain as to what will be modified </p>
                            <br>
                            <br><br>
                            <p>Any changes you mode to the Default Advanced Settings will automatically be set on this event You can turn any setting off or on, and even override the default, during this step </p>
                            <br>
                            <div class="editor-btn">
                                <a ui-sref="advance_setting"><button class="pink-btn btn">Edit Event Advanced Setting</button></a>
                                <button class="gray-btn btn">No custom setting enable</button>
                            </div>
                        </section>
                    </section>
                </section>
                <!--/Advanced Settings-->
            </form>
            <div class="editr">
                <div class="editor-btn">
                    <button class="gray-btn btn">Privious</button>
                    <button class="gray-btn btn">Save</button>
                    <button class="pink-btn btn">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>


<!-------------------------------------------- EVENT POPUP START ---------------------------------------->

 <script type="text/ng-template" id="eventModalContent.html">
        <div  class="modal-header">
            <h3 class="modal-title" style="float:left;">Select Events for package </h3><a style="float:right;cursor: pointer;" ng-click="cancel()">X</a>
        </div>
        <form  name="pricelevelForm" class="pricelevelForm"  ng-submit="saveData(data1)" novalidate>
        <div  class="modal-body">
        <!-- {{data1}}-->
            <fieldset  class="table table-striped" style="padding-top:10px">

                <div class="col-sm-5 form-group datepicker">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" ng-change="viewEvents()"/>
                                    <span class="input-group-btn assign-discount">
                                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button></span>
               </div>
                         

               <div class="col-sm-2">    
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
               </div>
                <div class="col-sm-1">
                    &nbsp;
               </div>

               <div class="col-sm-4">
                    <select name="search_type" class="form-control btn-date" ng-model="search_type">
                                <option value="1">Specific Date</option>
                                <option value="2">All Dates Before</option>
                                <option value="3">All Dates After</option>
                    </select>
               </div>

            </fieldset>
                        
            <div class="table-responsive">
                        <table ng-table="tableParams" class="table table-striped table-ng-style">
                        <tbody>
                                    <tr ng-repeat="edata in $data | filter:filter">
                                                                             
                                        <td  width="5%" header-class="'header-text-align'" header="'ng-table/headers/checkbox4.html'"><input type="checkbox" name="checkall" ng-model="edata.selected"  ng-click="eventoptionToggled(edata.id);" >

                    </td>
                                        <td width="15%" header-class="'header-text-align'" title="'Event Name'" filter="{ title: 'text'}" sortable="'title'"><strong>{{edata.title}}</strong>
                    </td>
                                        <td width="12%" header-class="'header-text-align'" title="'Venue'" filter="{ event_address: 'text'}" sortable="'event_address'">{{edata.event_address}}
                    </td>
                                        <td width="12%" header-class="'header-text-align'" title="'City'" filter="{ city: 'text'}" sortable="'city'" class="numbers">{{edata.city}}</td>
                                    </tr>
                    <tr ng-if="$data == ''">
                                        <td colspan="4" align="center">No Record found!</td>
                                    </tr>
                                    <tr ng-show="loader">
                                        <td colspan="4" align="center"><img src="/images/icons/loader.gif"></td>
                                    </tr>
                                </tbody>
                            </table>
          </div>
          </fieldset>
            
        </div>
        <div class="modal-footer">
             <button ng-show="enableEventAssign" ng-click="eventmakeAssignment();" class="btn btn-primary"  type="submit">Make Selection</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
        </form>
         <script type="text/ng-template" id="ng-table/headers/checkbox4.html">
          <input type="checkbox" name="checkall" ng-model="eventisAllSelected"ng-click="eventtoggleAll(all_check_point);">
        </script>
    </script>

<!-------------------------------------------- EVENT POPUP END ---------------------------------------->
