.input-group-addon,.fa.fa-close { cursor: pointer;}
.m-t30{ margin-top:30px;}
.help-inline{margin-top: 3px; color: red;}
.welcometxt .btn-group.dropdown{ float: left;}
.ng-table-counts .btn{ color:#333; }
.col-sm-4.event label > input{   display: inline-block;}
.monthly-padding {padding-top: 20px; padding-bottom: 20px;}

