.input-group-addon,.fa.fa-close { cursor: pointer;}
.m-t30{ margin-top:30px;}
.help-inline{margin-top: 3px; color: red;}
.welcometxt .btn-group.dropdown{ float: left;}
.ng-table-counts .btn{ color:#333; }
.col-sm-4.event label > input{display:inline-block}
.monthly-padding {/*padding-top: 20px;*/ padding-bottom: 20px; padding-left:30px; margin-bottom:10px;}

.radiolabel{
	position:relative;
}

.radiolabel span{
	font-size: 14px;
	color:#333;
}

.radiolabel input[type="radio"]{
	    position: absolute;
    left: -9999px;
    opacity: 0;
}

.radiolabel input[type="radio"]:not(:checked)+span, .radiolabel input[type="radio"]:checked+span {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
     
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radiolabel input[type="radio"]+span:before, .radiolabel input[type="radio"]+span:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    transition: .28s ease;
	    border-radius: 50%;
}

.radiolabel input[type="radio"]:not(:checked)+span:before, .radiolabel input[type="radio"]:not(:checked)+span:after {
    border: 2px solid #969696;
}

.radiolabel input[type="radio"]:checked+span:before {
    border: 2px solid transparent;
}

.radiolabel input[type="radio"]:checked+span:before {
    border: 2px solid #c129b9;
}

.radiolabel input[type="radio"]:checked+span:after{
    background-color: #c129b9;
    z-index: 0;
	transform: scale(0.5);
}

select.sml-sel{height:30px; font-size:14px; padding:0 12px}
.drag{position:absolute; right:-26px; top:10px;}
.drag a, .drag span{display:block; margin-bottom: 1px; color: #333;}
.drag .fa{background:#f3f3f3; border-bottom:1px #ccc solid; padding:10px; min-width: 36px; text-align: center;}
.social_link{display:inline-block; margin-bottom: 1px; color: #333;padding:10px; min-width: 36px; text-align: center;}
.inline-radio{display:inline-block; margin-right:20px;}
.wrap-word{ word-wrap: break-word;}
.p5{ padding:5%;} 
.ScrollVenueList{ overflow-y:scroll;overflow-x:hidden;height:400px;width:100%;padding: 0 15px;}

/* css 150716 */


.templateWrap section{
  word-wrap: break-word;
}

.templateContainer{
  word-wrap: break-word; 
}

.templateContainer p{
    margin-top: 0;
    margin-bottom: 10px;
}

.templateContainer h4{
    margin-top: 5px;
}
 

.templateContainer .main-image{
    max-width: 1024px;
    overflow: hidden;
}

.templateContainer .main-image img{
    width: 1020px;
    height: 340px;
}

.templateContainer .template_right{
    padding-left: 0;
}

.templateContainer #sc_widget_container{
    width: 100% !important;
}

.templateContainer .sideImg_first img{
    max-height: 312px;
    max-width: 309px;
}   