<div class="container">
    <h1>ALL USERS</h1>
    <div class="module">
        <section class="gray-frame sub-fields">
         <div class="form-group row">
                <section class="col-sm-6">
                    <section class="search-event">
                        <input type="text" name="filter" class="form-control search-field" placeholder="Enter your keyword" ng-model="filter">
                        <i class="fa fa-search"></i>
                    </section>
                </section>
            </div>
            <section class="grid-btn-top row">
                <section class="col-sm-7">
                    <section class="top-buttons">
                        <a href="#/add_user"  ><button class="btn pink-btn btn-small" type="button"><i class="fa fa-plus-square"></i> Add User</button></a>
                    </section>
                </section>
                <section class="col-sm-5 right-btns text-right">
                </section>
            </section>
            <section class="grid-widget">
                <div class="table-responsive">
                    <table  ng-table="tableParams" class="table table-striped">
                     
                        <tbody>

                          <tr ng-repeat="data1 in $data | filter:filter">
           
                                <td title="'Email'" filter="{ name: 'text'}" sortable="'email'">{{data1.email}}</td>
                                <td title="'FIRSTNAME'" filter="{ name: 'text'}" sortable="'first_name'">{{data1.first_name}}</td>
                                <td title="'LASTNAME'" filter="{ name: 'text'}" sortable="'last_name'">{{data1.last_name}}</td>
                                <td  title="'MANAGE'" class="action">
                                    <a title="Edit User" href="#/edit_user/{{data1.id}}"><i class="fa fa-edit"></i></a>
                                    <a title="User Status"  ng-click="changeStatus(data1.id,data1.status)" ng-confirm-click="Would you like to change Venue status ?">
                                     <i class="fa fa-check-circle" ng-if="data1.status == 1"></i>
                                     <i class="fa fa-times" ng-if="data1.status == 0"></i>
                                    </a>
                                    <a title="Delete User" ng-click="deleteUser(data1.id)" ng-confirm-clicks="Would you like to delete this User?"  style="cursor: pointer;"><i class="fa fa-trash"></i></a>
                                    <a title="Change permission" href="#/user_permission/{{data1.id}}" style="cursor: pointer;"><i class="glyphicon glyphicon-check"></i></a>
                                </td>
                            </tr>
                              <tr ng-show="loader">
                                        <td colspan="4" align="center"><img src="/images/icons/loader.gif"></td>
                                    </tr>
                                    <tr ng-if="$data == ''">
                                        <td colspan="4" align="center">No Record found!</td>
                                    </tr>
                        </tbody>
                    </table>
                </div>
            </section>

     </section>
                <section class="grid-bottm clearfix">
<!--                    
 -->                        <section class="gr-right pull-right">
                            <ul class="legends">
                                <li><i class="fa fa-pencil-square-o"></i> <span>Edit</span></li>
                                <li><i class="fa fa-check-circle"></i><span>active</span></li>
                                <li><i class="fa fa-trash"></i><span>delete</span></li>
                            </ul>
                        </section>
                    </section>
      </section>
        </section>
    </div>
</div>
