<!-- Container -->
<div class="container">
    <h1>Venue Overview</h1>
    <!-- Form COntainer -->
    <div class="wt-frame form-section">
        <form class="event-form">
            <section class="top-buttons bb-1 text-right">
                <a href="#/edit_venue/{{data.id}}" class="btn pink-btn btn-small">Edit</a>
            </section>
            <!--/Top Buttons-->
            <section class="form-group field-group row">
                <section class="col-sm-6">
                    <!--/Package-->
                    <section class="form-group field-group">
                        <h4>Venue Details</h4>
                        <section class="gray-frame sub-fields">
                            <section class="content">
                               <div class="row"> 
			        <div class="col-sm-4 pull-left"><strong>Venue Type :</strong> </div> <div class="col-sm-8 pull-left">{{data.venue_type}}</div>
			       </div>
			       <div class="row">&nbsp;</div>
			       <div class="row">
                               <div class="col-sm-4 pull-left"><strong>Venue Name :</strong> </div><div class="col-sm-8 pull-left">{{data.venue_name}}</div>
			       </div>
			        <div class="row">&nbsp;</div>
			       <div class="row">
                                <div class="col-sm-4 pull-left"><strong>Capacity : </strong></div><div class="col-sm-8 pull-left">{{data.capacity}}</div>
			       </div>
                            </section>
                        </section>
                        <h4>Address</h4>
                        <section class="gray-frame sub-fields">
                            <section class="content">
                                <div class="row"> 
			        <div class="col-sm-4 pull-left"><strong>Address :</strong></div><div class="col-sm-8 pull-left"> {{data.address}}</div>
				</div>
				 <div class="row">&nbsp;</div>
                                <div class="row"> 
			        <div class="col-sm-4 pull-left"><strong>City : </strong></div><div class="col-sm-8 pull-left"> {{data.city}}</div>
				</div>
				 <div class="row">&nbsp;</div>
                                <div class="row"> 
			        <div class="col-sm-4 pull-left"><strong>State :</strong> </div><div class="col-sm-8 pull-left"> {{data.state}}</div>
				</div>
				 <div class="row">&nbsp;</div>
                                <div class="row"> 
			        <div class="col-sm-4 pull-left"><strong>Country :</strong> </div><div class="col-sm-8 pull-left"> {{data.country}}</div>
				</div>
				 <div class="row">&nbsp;</div>
                                <div class="row"> 
			        <div class="col-sm-4 pull-left"><strong>Zipcode :</strong></div><div class="col-sm-8 pull-left">  {{data.zipcode}}</div>
				</div>
                            </section>
                        </section>
                        <h4>Contact</h4>
                        <section class="gray-frame sub-fields">
                            <section class="content">
                                <div class="row"> 
			        <div class="col-sm-4 pull-left"><strong>Contact Name : </strong></div><div class="col-sm-8 pull-left"> {{data.contact_name}}</div>
				</div>
				 <div class="row">&nbsp;</div>
                                <div class="row"> 
			        <div class="col-sm-4 pull-left"><strong>Phone :</strong></div><div class="col-sm-8 pull-left"> {{data.phone}}</div>
				</div>
				 <div class="row">&nbsp;</div>
                               <div class="row"> 
			        <div class="col-sm-4 pull-left"><strong>Fax : </strong></div><div class="col-sm-8 pull-left">{{data.fax}}</div>
			       </div>
				 <div class="row">&nbsp;</div>
                                <div class="row"> 
			        <div class="col-sm-4 pull-left"><strong>Email :</strong> </div><div class="col-sm-8 pull-left">{{data.email}}</div>
				</div>
				 <div class="row">&nbsp;</div>
                                <div class="row"> 
			        <div class="col-sm-4 pull-left"><strong>URL :</strong> </div><div class="col-sm-8 pull-left">{{data.url}}</div>
				</div>
                            </section>
                        </section>
                    </section>
                    <!--/Package Details-->
                </section>
                <!--/Left-->
                <section class="col-sm-6">
                    <section class="panel panel-primary">
                        <section class="panel-heading">
                            <h5 class="m-b0">Venue Map</h5>
                        </section>
                        <section class="panel-body">
                            <section class="v-map-overview">
                                <div id="map" style="height:400px;"></div>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </form>
    </div>
    <!-- //Form COntainer --> 
</div>
<!-- //Container --> 
</div>
