<div class="container">
  <h1>Create an Event</h1>
  <!-- Step Form -->
  
  <div class="stage-container clearfix">
    <div class="stage" ng-repeat="step in steps" ng-class="{current: isActive2(step)}" ng-click="click_menu(step)">
      <div class="stage-icon"><i class="{{step.icon}}"></i> </div>
      <div class="stage-title">{{step.title}}</div>
    </div>
 </div>
    
    <!-- //Step Form -->
    
    <!-- Form COntainer -->
    
    <span ng-hide="error_message"><p class="error-fld" >{{error}}</p></span>
    
    <div class="form-section  wt-frame">
        I am here
    </div>
</div>
    