<div class="container">
    <h1>downloads</h1>

<div class="form-section  wt-frame">
<section class="form-group">
            <label><h3>Sidekick</h3></label>
<P>Sidekick is a native utility that connects to our ticketing system to smoothly run your hardware peripherals. Run Sidekick when using our website to:</P><br>

    <p>Print thermal tickets or receipts from your connected Boca printer.</p>

    <p>Trigger the opening of an APG NetPRO cash drawer after a cash sale in the box office.</p>
</section>
</div>

    </div>