<div class="container">
    <h1>{{page_title}} a Product</h1>
    <!-- Step Form -->
    <div class="stage-container stage-container-product clearfix">
        <div class="stage" ng-repeat="step in steps" ng-class="{current: isActive2(step)}" ng-click="click_menu(step)">
            <div class="stage-icon"><i class="{{step.icon}}"></i> </div>
            <div class="stage-title">{{step.title}}</div>
        </div>
    </div>
    <!-- //Step Form --> 
    <!-- Form COntainer -->
    
    <div class="form-section  wt-frame">

 <div>
        <span >
            <p class="success-fld" ng-show="successmessage">{{ successmessage }}</p>
        </span>
    </div>
        <!-- Step 1 start ------------------->
        <form class="event-form" name="userForm" novalidate>
            <div ng-show="step_1">
                <!-- Event Detail Form -->
                <div>
                    <!-- //Event Detail Form -->
                    <!--Links Start -->

                    <div class="module">
                        <section class="prof-hd">
                            <i class="fa fa-link hdicon pos-l16"></i>
                            <h2>Product Details <span class="rt-img"><i class="fa fa-caret-down"></i></span></h2>
                        </section>
                        <section class="gray-frame">
                            <div class="row">
                                <div class="col-sm-6" ng-class="{ 'has-error' : userForm.product_name.$invalid && !userForm.product_name.$pristine }">
                                    <div class="form-group">
                                        <label for="EventName"> Name<span class="req">*</span></label>
                                        <input type="text" class="form-control" name="product_name" placeholder="Product name" ng-model="data.product_name" required/>
                                        <p ng-show="userForm.product_name.$invalid && !userForm.product_name.$pristine" class="error-fld ng-binding">Enter Name.</p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="EventName"> Model</label>
                                        <input type="text" class="form-control" placeholder="Model" ng-model="data.product_model"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="EventName"> UPC</label>
                                        <input type="text" class="form-control" placeholder="UPC" ng-model="data.product_upc"/>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="EventName"> Weight</label>
                                        <input type="text" class="form-control" placeholder="Weight" ng-model="data.product_weight"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="EventName"> Active</label>
                                        <div class="onoffswitch">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch4" ng-model="data.status" checked>
                                            <label class="onoffswitch-label" for="myonoffswitch4"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="EventName"> Shippable</label>
                                        <div class="onoffswitch">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch5" ng-model="data.shippable" checked>
                                            <label class="onoffswitch-label" for="myonoffswitch5"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!--Links Closed -->     
                    <div class="editr" ng-class="{ 'has-error' : userForm.description.$invalid && !userForm.description.$pristine }">
                        <label>Description</label>
                        <div ckeditor="option_ckeditor" ng-model="data.description" ready="onReady()"></div>
                        <p ng-show="userForm.description.$invalid && !userForm.description.$pristine" class="error-fld ng-binding">Enter Description.</p>
                    </div>
                </div>
                <div>
                    <!-- Event Detail Form -->
                    <!-- Search options Start -->
                    <div class="form-group clearfix">
                        <section class="prof-hd">
                            <i class="fa fa-search hdicon pos-l16"></i>
                            <h2>Upload Images <span class="rt-img"><i class="fa fa-caret-down"></i></span></h2>
                        </section>
                        <section class="gray-frame">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="EventName"> Image1 </label>     
                                    <section class="top-buttons">
                                        <span class="file-input btn pink-btn btn-small btn-file">
                                            Choose File
                                            <input  id="inputFileToLoad_1" type="file" onchange="angular.element(this).scope().encodeImageFileAsURL(this,1)" file-model="file.myFiles" accept="image/x-png, image/gif, image/jpeg" > 
                                            <div id="imgTest_1" ng-model="picDatatest1" width="100" height="100"></div>
                                            <img height="100" width="100" ng-src="/images/products/{{data.image_1}}" ng-show="data.image_1 && data.image_1 != 'undefined'">     
                                        </span>
                                    </section>
                                </div>
                                <div class="col-sm-4">
                                    <label for="EventName"> Image2</label> 
                                    <section class="top-buttons">
                                        <span class="file-input btn pink-btn btn-small btn-file">
                                            Choose File
                                            <input  id="inputFileToLoad_2" type="file" onchange="angular.element(this).scope().encodeImageFileAsURL(this,2)" file-model="file.myFiles"  accept="image/x-png, image/gif, image/jpeg" >
                                            <div id="imgTest_2" ng-model="picDatatest2"></div>
                                            <img height="100" width="100" ng-src="/images/products/{{data.image_2}}" ng-show="data.image_2 && data.image_2 != 'undefined'">
                                        </span>
                                    </section>
                                </div>
                                <div class="col-sm-4">
                                    <label for="EventName"> Image3</label> 
                                    <section class="top-buttons">
                                        <span class="file-input btn pink-btn btn-small btn-file">
                                            Choose File
                                            <input  id="inputFileToLoad_3" type="file" onchange="angular.element(this).scope().encodeImageFileAsURL(this,3)" file-model="file.myFiles"  accept="image/x-png, image/gif, image/jpeg" >
                                            <div id="imgTest_3" ng-model="picDatatest3"></div>
                                            <img height="100" width="100" ng-src="/images/products/{{data.image_3}}" ng-show="data.image_3 && data.image_3 != 'undefined'">
                                        </span>
                                    </section>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="EventName"> Image4</label> 
                                    <section class="top-buttons">
                                        <span class="file-input btn pink-btn btn-small btn-file">
                                            Choose File
                                            <input  id="inputFileToLoad_4" type="file" onchange="angular.element(this).scope().encodeImageFileAsURL(this,4)" file-model="file.myFiles"  accept="image/jpeg" >
                                            <div id="imgTest_4" ng-model="picDatatest4"></div>
                                            <img height="100" width="100" ng-src="/images/products/{{data.image_4}}" ng-show="data.image_4 && data.image_4 != 'undefined'">
                                        </span>
                                    </section>
                                </div>
                                <div class="col-sm-4">
                                    <label for="EventName"> Image5</label>      
                                    <section class="top-buttons">
                                        <span class="file-input btn pink-btn btn-small btn-file">
                                            Choose File
                                            <input  id="inputFileToLoad_5" type="file" onchange="angular.element(this).scope().encodeImageFileAsURL(this,5)" file-model="file.myFiles"  accept="image/jpeg" >
                                            <div id="imgTest_5" ng-model="picDatatest5"></div>
                                            <img height="100" width="100" ng-src="/images/products/{{data.image_5}}" ng-show="data.image_5 && data.image_5 != 'undefined'">
                                        </span>
                                    </section>
                                </div>
                                <div class="col-sm-4">
                                    <section class="top-buttons">
                                        &nbsp;
                                    </section>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!-- Search options Closed -->
                    <div class="editor-btn">
                        <button class="pink-btn btn" ng-click="saveProduct(1)" ng-disabled="userForm.$invalid">Save</button>
                        <!--<button class="pink-btn btn" ng-click="click_menu(steps[1])" ng-disabled="userForm.$invalid">Next</button>-->
                    </div>
                </div>
            </div>
            <!-- Step 1 end ------------------->
        </form>
        <!-- Step 2 start ------------------->
        <form class="event-form" name="userForm2" novalidate>
            <div ng-show="step_2">
                <!-- //Event Detail Form -->
                <!--Links Start -->
                <div class="module">
                    <section class="prof-hd">
                        <i class="fa fa-link hdicon pos-l16"></i>
                        <h2>Product Details 2<span class="rt-img"><i class="fa fa-caret-down"></i></span></h2>
                    </section>
                    <section class="gray-frame">
                    <div class="row">
                    <div class="col-sm-12">
<p>The total order will also include a <strong>Flat Shipping Fee</strong></p><br/>
<p>Fulfillment Fees are contracted between the seller and the fulfiller. ALIST Solutions LLC does not add this fee; it is included in the <strong>Retail Price.</strong></p><br/>
<p>After each sale, ALIST Solutions LLC records the <strong>Fulfillment Fee</strong> owed to the fulfiller.</p><br/><br/>
<hr/>

                    </div>
                    </div>

                        <div class="row">
                            <div class="col-sm-4" ng-class="{ 'has-error' : userForm2.retail_price.$invalid && !userForm2.retail_price.$pristine }">
                                <div class="form-group">
                                    <label for="EventName"> Retail Price ($)<span class="req">*</span></label>
                                    <input  type="number" min="0" class="form-control" name="retail_price" placeholder="Product Price" ng-model="data.retail_price" ng-blur="calculateBuyerPrice()" required/>
                                    <p ng-show="userForm2.retail_price.$invalid && !userForm2.retail_price.$pristine" class="error-fld ng-binding">Enter valid retail price.</p>
                                   
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="EventName"> Shipping Cost ($)</label>
                                    <input  type="number" min="0" class="form-control" placeholder="Shipping Cost" ng-model="data.ship_cost" ng-blur="calculateBuyerPrice()" name="ship_cost"/>
                                    <p ng-show="userForm2.ship_cost.$invalid && !userForm2.ship_cost.$pristine" class="error-fld ng-binding">Enter valid shipping cost.</p>
                                   
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="EventName"> Service Fee Covered (%)</label>
                                    <input  type="number" min="0" class="form-control" placeholder="Service Fee Covered" ng-model="data.service_fee" name ="service_fee" tooltips tooltip-template="The percentage (0 – 100) of the per product service fee that you’re paying. If you’re passing the entire service fee on to the customer, set to 0%."/>
                                    <p ng-show="userForm2.service_fee.$invalid && !userForm2.service_fee.$pristine" class="error-fld ng-binding">Enter valid service fee.</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="EventName"> Taxable</label>
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch6" ng-model="data.taxable" checked>
                                        <label class="onoffswitch-label" for="myonoffswitch6"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="EventName"> Buyer pays ($)</label>
                                    <input type="number" min="0" class="form-control" placeholder="Buyer pays" ng-model="data.buyer_pays" name="buyer_pays"/>
                                     <p ng-show="userForm2.buyer_pays.$invalid && !userForm2.buyer_pays.$pristine" class="error-fld ng-binding">Enter valid amount that buyer will pay.</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="EventName"> Seller pays ($)</label>
                                    <input type="number" min="0" class="form-control" placeholder="Seller pays" ng-model="data.seller_pays" name="seller_pays"/>
                                     <p ng-show="userForm2.seller_pays.$invalid && !userForm2.seller_pays.$pristine" class="error-fld ng-binding">Enter valid amount that seller will pay.</p>
                                </div>
                            </div>
                        </div>
                        <div class="editor-btn">
                            <button class="pink-btn btn" ng-click="click_menu(steps[0]);">Prev</button>
                            <button class="pink-btn btn" ng-click="saveProduct(2)" ng-disabled="userForm2.$invalid">Save</button>
                            <button class="pink-btn btn" ng-click="click_menu(steps[2]);" ng-disabled="userForm2.$invalid">Next</button>
                        </div>
                    </section>
                </div>
                <!--Links Closed -->     
            </div>
            <!-- Step 2 end ------------------->
        </form>
        <!-- Step 3 start ------------------->
        <form class="event-form" name="userForm3" novalidate>
            <div ng-show="step_3">
                <!-- //Event Detail Form -->
                <!--Links Start -->
                <div class="module">
                    <section class="prof-hd">
                        <i class="fa fa-link hdicon pos-l16"></i>
                        <h2>Product Details 3<span class="rt-img"><i class="fa fa-caret-down"></i></span></h2>
                    </section>
                    <section class="gray-frame">

                     <div class="row">
                    <div class="col-sm-12">
<p>If the product has multiple sizes, colors, or formats for the buyer to choose, define them here.</p><br/>
<p>If the product is one-size-fits-all (e.g., pens, glowsticks) then select "Single" and define an inventory.</p><br/><br/>
<hr/>
                    </div>
                        <div class="row">
                            <div class="col-sm-3" ng-class="{ 'has-error' : userForm3.configuration.$invalid && !userForm3.configuration.$pristine }">
                                <div class="form-group">
                                    <label for="EventName"> Configuration (Single/Multiple)</label>
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch9" ng-model="data.configuration" ng-change="showConfig();">
                                        <label class="onoffswitch-label" for="myonoffswitch9"></label>
                                    </div>
                                    <p ng-show="userForm3.configuration.$invalid && !userForm3.configuration.$pristine" class="error-fld ng-binding">Enter Configuration.</p>
                                </div>
                            </div>
                            <div class="col-sm-9" ng-show="data_configuration">
                                <div class="form-group">
                                    <label for="EventName"> Display Name  (Option - e.g., "Size", "Color")</label>
                                    <input type="text" class="form-control" placeholder="Display Name" ng-model="data.display_name"/>
                                </div>
                                
                            </div>
			    <div class="col-sm-3" ng-show="!data_configuration">
                                <div class="form-group" >
                                    <label for="EventName"> Print Voucher </label>
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch10" ng-model="data.print_voucher">
                                        <label class="onoffswitch-label" for="myonoffswitch10"></label>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="!data_configuration">
                                    <label for="EventName"> &nbsp;</label>
                                </div>
                            </div>
			    
			    <div class="col-sm-2" ng-show="!data_configuration">
			    <div class="form-group"  ng-class="{ 'has-error' : userForm3.inventory.$invalid && !userForm3.inventory.$pristine }">
                                    <label for="EventName"> Inventory <span class="req">*</span></label>
                                    <input  type="number" min="0" maxlength="5" max="99999" class="form-control" placeholder="Inventory" ng-model="data.inventory" ng-required="!data_configuration" required name="inventory" tooltips tooltip-template="Current inventory" />
                                    <p ng-show="userForm3.inventory.$invalid && !userForm3.inventory.$pristine" class="error-fld ng-binding">Enter Inventory.</p>

                                </div>
			    </div>
			    
			    
			     <div class="col-sm-3" ng-show="!data_configuration" ng-class="{ 'has-error' : userForm3.pre_sale_limit.$invalid && !userForm3.pre_sale_limit.$pristine }">
                                <div class="form-group">
                                    <label for="EventName"> Pre Sale Limit <span class="req">*</span></label>
                                    <input  type="number" min="0" name="pre_sale_limit" class="form-control"  ng-model="data.pre_sale_limit" ng-required="!data_configuration" tooltips tooltip-template="Max items per sale" >
                                    <p ng-show="userForm3.pre_sale_limit.$invalid && !userForm3.pre_sale_limit.$pristine" class="error-fld ng-binding">Enter Pre Sale Limit.</p>
                                    
                                </div>
                            </div>
                        
                        </div>
                        <!-- Step 4  -->
                       
                        <!--- Step 4 -->
                        <section class="grid-widget" ng-show="data_configuration">
                        <br/><label>Value (e.g., Small, Medium, Large, Red, Blue, Black)</label>
                        <br/><br/>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th width="5%">Active</th>
                                            <th width="14%">SKU</th>
                                            <th width="14%">Internal Name</th>
                                            <th width="14%">Display Name</th>
                                            <th width="20%">Description</th>
                                            <th width="3%" title="Print Voucher">Print</th>
                                            <th width="12%">Pre Sale Limit</th>
                                            <th width="12%">Inventory</th>
                                            <th width="3%">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="key in componentdata">
                                            <td><input type="checkbox" ng-model="cdata[key.id].active"></td>
                                            <td>
                                                <input type="text" class="form-control" placeholder="SKU" ng-model="cdata[key.id].sku"/>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" placeholder="Name" ng-model="cdata[key.id].internal_name"/>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" placeholder="Display" ng-model="cdata[key.id].display_name"/>
                                            </td>
                                            <td><textarea class="form-control" placeholder="Details" ng-model="cdata[key.id].description"/></textarea></td>
                                            <td><input type="checkbox" ng-model="cdata[key.id].print_voucher"></td>
                                            <td><input type="number" min="0" class="form-control" placeholder="limit" ng-model="cdata[key.id].pre_sale_limit" name="pre_sale_limit" tooltips tooltip-template="Max items per sale"/>
<p ng-show="userForm3.pre_sale_limit.$invalid && !userForm3.pre_sale_limit.$pristine" class="error-fld ng-binding">Enter valid limit.</p>
                                            </td>
                                            <td><input type="text" class="form-control" placeholder="Inventory" ng-model="cdata[key.id].inventory" name="inventory" tooltips tooltip-template="Current Inventory"/>
                                            <p ng-show="userForm3.inventory.$invalid && !userForm3.inventory.$pristine" class="error-fld ng-binding">Enter valid inventory.</p>
                                            </td>
                                            <td><a  ng-click="removeMoreRowKey($index,key.id)"><i class="fa fa-trash"></i></a></td>
                                        </tr>
                                        <tr ng-repeat="add in addmore">
                                            <td><input type="checkbox" ng-model="cdata[add].active"></td>
                                            <td>
                                                <input type="text" class="form-control" placeholder="SKU" ng-model="cdata[add].sku"/>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" placeholder="Name" ng-model="cdata[add].internal_name"/>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" placeholder="Display" ng-model="cdata[add].display_name"/>
                                            </td>
                                            <td><textarea class="form-control" placeholder="Details" ng-model="cdata[add].description"/></textarea></td>
                                            <td><input type="checkbox" ng-model="cdata[add].print_voucher"></td>
                                            <td><input type="text" class="form-control" placeholder="limit" ng-model="cdata[add].pre_sale_limit"/></td>
                                            <td><input type="text" class="form-control" placeholder="Inventory" ng-model="cdata[add].inventory"/></td>
                                            <td><a  ng-click="removeMoreRow($index,add)"><i class="fa fa-trash"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <div class="row" ng-show="data_configuration">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <button class="pink-btn btn" ng-click="addMoreRow();">Add More</button>         
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="EventName">Purchasable Without Tickets</label>
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch7" ng-model="data.purchsable_ticket" checked>
                                        <label class="onoffswitch-label" for="myonoffswitch7"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="editor-btn">
                            <button class="pink-btn btn" ng-click="click_menu(steps[1]);">Prev</button>
                            <button class="pink-btn btn" ng-click="saveProduct(3)" ng-disabled="userForm3.$invalid">Save</button>
                            <button class="pink-btn btn" ng-click="saveProduct(4)" ng-disabled="userForm3.$invalid">Submit</button>
                        </div>
                       
                    </section>
                </div>
                <!--Links Closed -->     
            </div>
        </form>
        <!-- Step 3 end ------------------->
    </div>
    <!-- //Form COntainer --> 
</div>
