<div class="container">
    <h1>PRODUCT OVERVIEW</h1>
    <!-- Form COntainer -->
    <div class="form-section  wt-frame">

    <section class="top-buttons bb-1 text-right">
                <a href="#/edit_product/{{data.id}}">
                    <button class="btn pink-btn btn-small" type="button">
                    <i class="glyphicon glyphicon-pencil">
                    </i> Edit
                    </button>
                    </a>

                <button class="btn pink-btn btn-small" ng-confirm-clicks="Would you like to change Product status ?"  type="button" ng-click="delProduct(data.id)">
                    <i class="glyphicon glyphicon-remove">
                    </i> Delete
                    </button>

                  <button class="btn pink-btn btn-small"  type="button" ng-if="data.status == 0" ng-click="changeStatus(data.id,data.status)">
                    <i class="glyphicon glyphicon-pause">
                    </i> Resume Sale
                    </button>
                    <button class="btn pink-btn btn-small"  type="button" ng-if="data.status == 1" ng-click="changeStatus(data.id,data.status)">
                    <i class="glyphicon glyphicon-pause">
                    </i> Pause Sale
                    </button>  

                      <a href="#/view_products/list">
                    <button class="btn pink-btn btn-small" type="button">
                    <i class="glyphicon glyphicon-arrow-left">
                    </i> Back to products
                    </button>
                    </a> 

            </section>

        <section class="form-group field-group row">
  <section class="gray-frame">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <h4 ng-if="data.status == 1">Products sales are currently live.</h4>
                        <h4 ng-if="data.status == 0">Product sales are paused.</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <h5>This product is not attached to any events.</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <p class="marklist"> 
                                <i class="glyphicon glyphicon-arrow-right"></i>
                                 Go to step 2 (pricing) of event  to attach this product.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <p class="marklist">
                        <i class="glyphicon glyphicon-arrow-right"></i>
                         The product price paid by the buyer is <strong>${{data.buyer_pays}}</strong></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <p class="marklist">
                        <i class="glyphicon glyphicon-arrow-right"></i>
                         The total order will also include a flat <strong>${{data.ship_cost}}</strong> shipping fee.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <p class="marklist">
                        <i class="glyphicon glyphicon-arrow-right"></i>
                         Fulfillment fees are contracted between the seller and the fulfiller. ALIST Solutions LLC does not add this fee it is included in the <strong>${{data.retail_price}}</strong> Retail Price.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <p class="marklist">
                        <i class="glyphicon glyphicon-arrow-right"></i>
                         After each Sale , ALIST Solution LLC records the fulfillment fee owed to the fulfiller.</p>
                    </div>
                </div>
            </div>
        
            <div class="table-responsive product_overview_sales">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="8%">CONFIGURATION</th>
                            <th width="8%" class="numbers">INVENTORY</th>
                            <th width="8%" class="numbers">SOLD</th>
                            <th width="8%" class="numbers">REMAINING</th>
                            <!--  <th width="15%">&nbsp;</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="key in componentdata">
                            <td>
                                <strong>
                                    <p ng-if="data.configuration == true || data.configuration == 1">Multiple</p>
                                    <p ng-if="data.configuration == false || data.configuration == 0">Single</p>
                                </strong>
                            </td>
                            <td class="numbers">{{key.inventory}}</td>
                            <td class="numbers">0</td>
                            <td class="numbers">0</td>
                        </tr>

                         <tr ng-if="componentdata == ''">
                                        <td colspan="4" align="center">No Record found!</td>
                                    </tr>

                        <tr ng-show="loader">
                            <td colspan="7" align="center"><img src="/images/icons/loader.gif"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        </section>
    </div>
</div>
