<link rel="stylesheet" href="stylesheets/timepicker.css" type="text/css" />
<script src="javascripts/timepicker.js" type="text/javascript"></script>

<div class="container">
    <div ng-show="pageloader"><img src="/images/icons/loader.gif"></div>
    <h1>Create an Series Event</h1>
    <!-- Step Form -->
    <div class="stage-container clearfix">
        <div class="stage" ng-repeat="step in steps" ng-class="{current: isActive2(step)}" ng-click="click_menu(step)">
            <div class="stage-icon"><i class="{{step.icon}}"></i> </div>
            <div class="stage-title">{{step.title}}</div>
        </div>
    </div>
    <!-- //Step Form -->
    <!-- Form COntainer -->
    <span ng-hide="error_message"><p class="error-fld" >{{error}}</p></span>
    <div class="form-section  wt-frame">

      <div ng-hide="eventdetail_div">
        
        <form  name="myForm" class="event-form"  ng-submit="savedata(data)" novalidate>
          <div class="form-group" ng-class="{ 'has-error' : myForm.eventname.$dirty && myForm.eventname.$invalid }"  >
            <label for="eventname">Series Name<span class="req">*</span></label>
            <input type="text" tooltips tooltip-template="This is the title of your event. Minimum 3 characters, maximum 50 characters." name="eventname" ng-model="data.eventname" class="event_name_wd form-control" placeholder="Title of your Event" minlength="3" maxlength="50" required>
            <p class="help-inline error-fld ng-binding"  ng-show="myForm.eventname.$dirty && myForm.eventname.$invalid">Event Name is required (Minimum 3 characters , maximum 50 characters)</p>
          </div>
          <div class="form-group"  >
            <label for="eventname">Event Url<span class="req">*</span></label>
           
            <section class="form-group"  ng-class="{ 'has-error' : myForm.eventurl.$dirty && myForm.eventurl.$invalid }">
                        <div class="domain-name"><input  type="text" name="eventurl" ng-model="data.eventurl" class="event_short_url form-control" tooltips tooltip-template="A ticketing page's unique URL. By default, the Event Name is plugged in as the last part of the URL. Must be 5 - 30 characters in length." placeholder="Url of your Event" onkeypress="return keypress(event)" ng-pattern="/^\s*\w*\s*$/" ng-blur="checkeventurl();" minlength="5" maxlength="30" required><span class="d1name">.alistixs.com</span></div>
                         <input type="hidden"  ng-model="data.domain_url_availability" class="form-control" required> 
                        <span ng-hide="successuniquemessage">
                            <p class="success-fld">{{unique}}</p>
                        </span>
                        <span ng-hide="erroruniquemessage">
                            <p class="error-fld">{{unique}}</p>
                        </span>
                        <p class="help-inline error-fld ng-binding"  ng-show="myForm.eventurl.$dirty && myForm.eventurl.$invalid">Event Url is required (spaces not allowed)</p>
                      </section>
            
          </div>
          <div class="form-group field-group">
            <label>Date and Time<span class="req">*</span></label>
            <div class="event-date fieldSection">
              <!-- Nav tabs -->
              <!-- <div class="content-tab">
                <ul class="nav nav-tabs responsive-tabs" id="event-date" role="tablist">
                  <li ng-repeat="event in events"  ng-class="{active: isActive(event)}" ><a class="pointer" ui-sref="{{event.href}}" >{{event.name}}</a>
                  </li>
                
              </ul>
               <input type="hidden" name="eventtype" ng-init="data.eventtype='multiple'" ng-model="data.eventtype" >
            </div> -->
            
            <!-- Tab panes -->
            <div class="tab-content">
             <!-- <div role="tabpanel" class="active"  id="single-event" ng-hide="single_event_div">
                <div class="row">
                  <div class="col-lg-5 col-sm-7">
                    <div class="form-group">
                      
                      
                      <uib-datepicker ng-model="start_date" class="well well-sm" datepicker-options="options" ng-change="single_eventstart(this)"></uib-datepicker>
                      
                    </div>
                  
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="StartTime">Start Time</label>
                      <div class="input-group bootstrap-timepicker timepicker">
                        <input  ng-model="starttime" ng-change="changedstarttime()"  class="form-control input-small timepick" type="text"/><span class="input-group-addon timepick1"><i class="glyphicon glyphicon-time"></i></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="EndTime">End Time</label>
                      <div class="input-group bootstrap-timepicker timepicker">
                        <input ng-model="endtime" ng-change="changedendtime()" class="form-control input-small timepick" type="text"/><span class="input-group-addon timepick1"><i class="glyphicon glyphicon-time"></i></span>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="row" ng-hide="error_message"><p class="error-fld" >{{error}}</p></div>
                <div class="row" ng-hide="select_delect_event">
                  <div class="col-xs-12">
                    <label>Select/Deselect Events</label>
                    <div class="clearfix list-event-date">
                      <div class="col-sm-3 pull-right text-right lss-top"> <a  href="javascript:void(0)" ng-click="remove_event()"><i class="fa fa-close"></i></a> </div>
                      <div class="col-sm-3"> {{selectevent_date }} <span style="display:none;">{{single_start_date}}</span> </div>
                      <div class="col-sm-3"> Start Time :{{startevent_time}}</div>
                      <div class="col-sm-3"> End Time :{{endevent_time}} </div>
                      
                    </div>
                  </div>
                </div>
              </div>-->
              <div role="tabpanel"  id="multiple-event"  ng-hide="multiple_event_div">
                
                <div ng-hide="error_message"><p class="error-fld" >{{error}}</p></div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="EndTime">Start Date<span class="req">*</span></label>
                      <div class="form-group datepicker">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="multiple_start_date" is-open="popup1.opened" datepicker-options="dateOptions3"  close-text="Close" alt-input-formats="altInputFormats"  ng-change="recurring_period('start')"/>
                        <span class="input-group-btn">

                        <button type="button" class="dtn-date btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="EndTime">End Date<span class="req">*</span></label>
                                            <div class="form-group datepicker">
                                                <input type="text" class="form-control" uib-datepicker-popup ng-model="multiple_end_date" is-open="popup2.opened" datepicker-options="dateOptions4" close-text="Close" ng-change="recurring_period('end')" />
                                                <span class="input-group-btn">
                          <button type="button" class="dtn-date btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label for="City">Recurring<span class="req">*</span></label>
                                        <div class="form-group">
                                            <select class="form-control" ng-model="data.period" ng-change="recurring_period('period')">
                                                <option ng-repeat="option in timeperiod" value="{{option.id}}">{{option.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" ng-if="dailyrecurring_div">
                                        <label>Repeat Every (Days)<span class="req">*</span></label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" ng-model="rec_days_value" ng-change="rec_days_func(rec_days_value)" required>
                                        </div>
                                    </div>
                                    <!-- YEARLY WAALA DIV -->
                                    <!--                   <div class="col-sm-4" ng-if="yearlyrecurring_div">
                    <label>Repeat Every (Days)<span class="req">*</span></label>
                    <div class="form-group">
                      <input type="text" class="form-control" ng-model="rec_days_value" ng-change="rec_days_func(rec_days_value)" required>
                    </div>
                  </div>
 -->
                                    <!-- YEARLY END -->
                                    <!-- CHECKBOXES WAALA DIV -->
                                    <div class="col-sm-8 event" ng-hide="days_div">
                                        <div class="form-group custom-check m-t40">
                                            <p class="custom-check" ng-repeat="(key,day) in days">
                                                <input type="checkbox" ng-model="day.selected" id={{day.id}} ng-change="select_checkbox(day.selected)" ng-checked="day.checked == 1" value={{day.id}}>
                                                <label for="{{day.id}}">{{day.name}}</label>
                                            </p>
                                        </div>
                                    </div>
                                    <!-- DIV END -->
                                    <div class="col-sm-4 event" ng-hide="weekly_div">
                                        <div class="form-group custom-check m-t30">
                                            <select ng-model="data.weekly_option" ng-change="weekly_option_change()" class="form-control">
                                                <option ng-repeat="day in days" value="{{day.id}}">{{day.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- MONTHLY START -->
                                    <div class="col-sm-8 event m-t40" ng-hide="monthly_div">
                                        <div class="inline-radio">
                                            <label class="radiolabel">
                                                <input type="radio" name="everythisday" value="everythisday" ng-model="monthly.type"><span>Select Particular Day </span></label>
                                        </div>
                                        <div class="inline-radio">
                                            <label class="radiolabel">
                                                <input type="radio" name="everythisweek" value="everythisweek" ng-model="monthly.type"><span>Select Particular Week's Day</span></label>
                                        </div>
                                        <div class="monthly-padding" ng-show="monthly.type == 'everythisday'">
                                            On day
                                            <select ng-model="data.monthly_option" ng-change="change_month()" class="form-control sml-sel w-auto">
                                                <option ng-repeat="date in dates" value="{{date.id}}">{{date.id}}</option>
                                            </select>
                                            of every month
                                        </div>
                                        <div class="monthly-padding" ng-show="monthly.type == 'everythisweek'">
                                            On the
                                            <select ng-model="data.monthly_week_value" ng-change="rec_monthly_func()" class="form-control sml-sel w-auto">
                                                <option ng-repeat="week_value in month_week_selection" value="{{week_value.id}}">{{week_value.name}}</option>
                                            </select>
                                            <select ng-model="data.monthly_day_value" ng-change="rec_monthly_func()" class="form-control sml-sel w-auto">
                                                <option ng-repeat="day in days" value="{{day.id}}">{{day.name}}</option>
                                            </select>
                                            of every month
                                            <br><span style="color: red">{{monthly_error}}</span>
                                        </div>
                                    </div>
                                    <!-- MONTHLY END -->
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="StartTime">Start Time<span class="req">*</span></label>
                                            <div class="input-group bootstrap-timepicker timepicker">
                                                <input ng-model="multiple_starttime" class="form-control input-small timepick" type="text" ng-change="multiplestart()" /><span class="input-group-addon timepick1"><i class="glyphicon glyphicon-time"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="EndTime">End Time</label>
                                            <div class="input-group bootstrap-timepicker timepicker">
                                                <input ng-model="multiple_endtime" class="form-control input-small timepick" type="text" ng-change="multipleend()" /><span class="input-group-addon timepick1"><i class="glyphicon glyphicon-time"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-hide="error_time_message">
                                            <p class="error-fld">{{error_time_display_message}}</p>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12" ng-show="between_date">
                                        <label>Select/Deselect Events</label>
                                    <div class="DocumentList">
                                        <div class="clearfix list-event-date form-inline" ng-repeat="between in between_date track by $index">              
                                            <div class="col-sm-1 pull-right text-right lss-top">
                                                 <label> &nbsp; </label>
                                                <a ng-click="removediv($index)"><i class="fa fa-close"></i></a> </div>
                                            <div class="sel-d col-sm-3">
                                                <label> &nbsp; </label>
                                                 <div class="input-group">{{between| date:'EEEE MMMM dd,yyyy'}}</div>
                                            </div>
                                            <div class="sel-d col-sm-4">
                                                <label for="exampleInputName2">Start Time:</label>
                                                <div class="input-group bootstrap-timepicker timepicker">
                                                    <input class="form-control input-small timepick" type="text" ng-model="data.starttimeloop1[$index]" /><span class="input-group-addon timepick1"><i class="glyphicon glyphicon-time"></i></span>
                                                </div>
                                            </div>
                                            <div class="sel-d col-sm-4">
                                                <label for="exampleInputEmail2">End Time : </label>
                                                <div class="input-group bootstrap-timepicker timepicker">
                                                    <input class="form-control input-small timepick" type="text" ng-model="data.endtimeloop1[$index]" ng-change="checkStartEndTime($index)" /><span class="input-group-addon timepick1"><i class="glyphicon glyphicon-time"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group field-group">
                    <label for="Location" tooltips tooltip-template="The Location where your event is taking place.">Location <span class="req">*</span></label>
                    <!-- Date Event Group -->
                    <div class="event-date fieldSection">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <ul class="nav nav-tabs responsive-tabs">
                                    <li ng-repeat="venue in venues" ng-click="select_venue(venue)" ng-class="{active: isActive1(venue)}"><a class="pointer" href="javascript:void(0)">{{venue.name}}</a> </li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" id="venue-event" ng-hide="venue_event_div">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="EventName">Venue Type<span class="req">*</span></label>
                                                    <select class="form-control" name="venuetype" ng-model="data.venuetype" ng-required='!venue_event_div'>
                                                        <option>General Admission</option>
                                                        <option>Seated</option>
                                                    </select>
                                                    <span style="color:red" ng-show="myForm.venuetype.$dirty && myForm.venuetype.$invalid">  <span  ng-show="myForm.venuetype.$error.required">Venue Type is required</span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="Venue">Venue<span class="req">*</span></label>
                                                    <input type="text" class="form-control" ng-model="data.venuename" name="venuename" value="" ng-required='!venue_event_div'>
                                                    <span style="color:red" ng-show="myForm.venuename.$dirty && myForm.venuename.$invalid">  <span  ng-show="myForm.venuename.$error.required">Venue name is required</span></span>
                                                    <input type="hidden" class="form-control" ng-model="data.venueid">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="Address">Address<span class="req">*</span></label>
                                                    <input type="text" class="form-control" name="place" ng-model="data.place" g-places-autocomplete required autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="City">City<span class="req">*</span></label>
                                                    <input type="text" class="form-control" name="city" ng-model="data.city" ng-required='!venue_event_div'>
                                                    <span style="color:red" ng-show="myForm.city.$dirty && myForm.city.$invalid">  <span  ng-show="myForm.city.$error.required">City is required</span></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="Zipcode">Zipcode<span class="req">*</span></label>
                                                    <input type="text" class="form-control" ng-model="data.zipcode" name="zipcode" ng-required='!venue_event_div'>
                                                    <span style="color:red" ng-show="myForm.zipcode.$dirty && myForm.zipcode.$invalid">  <span  ng-show="myForm.zipcode.$error.required">Zipcode is required</span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="City">State<span class="req">*</span></label>
                                                    <input type="text" class="form-control" ng-model="data.state" name="state" ng-required='!venue_event_div'>
                                                    <span style="color:red" ng-show="myForm.state.$dirty && myForm.state.$invalid">  <span  ng-show="myForm.state.$error.required">State is required</span></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="Zipcode">Country<span class="req">*</span></label>
                                                    <input type="text" class="form-control" ng-model="data.country" name="country" ng-required='!venue_event_div'>
                                                    <span style="color:red" ng-show="myForm.country.$dirty && myForm.country.$invalid">  <span  ng-show="myForm.country.$error.required">Country is required</span></span>
                                                    <input type="hidden" class="form-control" ng-model="data.latitude">
                                                    <input type="hidden" class="form-control" ng-model="data.longitude">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" id="location-event" ng-hide="location_event_div">
                                    <div class="row">
                                        <div class="col-sm-12 loc-list ScrollVenueList">
                                            <ul>
                                                <li ng-repeat="venue in total_venue track by $index">
                                                    <i class="fa fa-map-marker"></i>
                                                    <a ng-click="venue_info(venue,1)">{{venue.venue_name}}</a>
                                                    <span>{{venue.address}}, {{venue.city}}&nbsp;,&nbsp;{{venue.state}}&nbsp;,&nbsp;{{venue.zipcode}}</span>
                                                </li>
                                                <li ng-show="venueloader">
                                                 <img src="/images/icons/loader.gif">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Tab panes -->
                            <div class="col-sm-12 col-md-6">
                                <!--<img src="images/map.jpg" class="img-responsive" alt="" />-->
                                <div id="map" style="height: 400px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
               
      <div class="form-group field-group" ng-show="data.venuename">
                    <label for="Location">Selected Venue</label>
                    <div class="fieldSection">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                             <i class="fa fa-map-marker"></i> <strong>
                             {{data.venuename}}
                            </strong>
                            
                            </div>
                        </div>
                        <div class="row">&nbsp;</div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                            <span>{{data.address}}, {{data.city}}&nbsp;,&nbsp;{{data.state}}&nbsp;,&nbsp;{{data.zipcode}}</span>
                            </div>
                        </div>
                    </div>
      </div>
      
      
      
      
      <div class="editr">
        <label>Event Description<span class="req">*</span></label>
        <div ckeditor="option_ckeditor" name="content" tooltips tooltip-template="The area of the ticketing page where you can display additional details about the event. The description box is HTML enabled, which means that you can add HTML code to change the color and size of the font in this area of the ticketing page, as well as embed images, video and audio."  required ng-model="data.content" ready="onReady()" value=''></div>
        
        <div class="editor-btn">
          <!--<button type="submit"
          ng-disabled="myForm.$invalid" class="gray-btn btn">Save</button>-->
          <button type="submit"
          ng-disabled="myForm.$invalid" class="pink-btn btn">Save &amp Continue</button>
          <!--<button type="button" ng-disabled="myForm.$invalid" ng-click="click_menu(steps[1] , data)" class="pink-btn btn">Next</button>-->
        </div>
        <div ng-hide="error_message"><p class="success-fld ng-binding">{{success}}</p></div>
      </div>
    </form>
    
    <span ng-show="success_message" class="ng-hide"><p class="success-fld ng-binding">{{success}}</p></span>
    <div ng-show="saveloader" align="center">
          <img src="/images/icons/loader.gif">
    </div>
</div>
</div>

</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Remove Previous Event</h3>
    </div>
    <div class="modal-body">
        Are you sure to remove this previous created Event?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="remove()">Remove</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
