<link rel="stylesheet" href="stylesheets/timepicker.css" type="text/css" />
<script src="javascripts/timepicker.js" type="text/javascript"></script>
<div class="container">
    <h1>Assign Discount</h1>
    <!-- Form COntainer -->
    <div class="form-section  wt-frame">
        <form class="venue-form" name="userForm" id="venue-form" ng-submit="assignDiscounts()" novalidate>
            <!-- Event Detail Form -->
            <div>
                <!-- Location Group -->
                <div class="form-group field-group">
                    <!-- Date Event Group -->
                    <div class="event-date fieldSection">
                        <div class="row">
                            <div>
                                <p class="error-fld" ng-show="error_message" >{{error}}</p>
                            </div>
                            <!--<div><p class="error-fld" ng-show="error_message" ng-bind-html="trustedHtml"></p></div>-->
                            <div>
                                <p class="success-fld" ng-show="success_message">{{success}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-md-8">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th width="40%">Discount Name</th>
                                            <th width="40%">Discount Code</th>
                                            <th width="20%">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(key,list) in discountlist">
                                            <td>{{list.coupon_name}}</td>
                                            <td>{{list.coupon_code}}</td>
                                            <td><a ng-click="removeMoreRow($index,key)"><i class="fa fa-close"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- Tab panes -->
                            </div>
                            <div class="col-sm-4 col-md-4"></div>
                        </div>
                        <div class="row" ng-show="enableDiscountDiv">
                            <div class="col-sm-4 col-md-4">
                                <select class="form-control" name="add_code" ng-model="add_code" ng-change="pushDiscount();">
                                    <option ng-repeat="(key,list) in alldiscountlist" value="{{key}}">{{list.coupon_name}}({{list.coupon_code}})</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <label for="EventName">&nbsp;</label>   
                                <a ng-click="addMoreRow()">Add Another Discount</a>   
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                &nbsp;  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="tab-content">
                                    <div role="tabpanel">
                                        <div class="row">
                                             <div class="col-sm-6" ng-class="{ 'has-error' : userForm.events.$invalid && !userForm.events.$pristine }" >
                                                <div class="form-group">
                                                    <label for="EventName">Select one or more events</label>
                                                    <input type="radio" class="assignEvents" value="all" name="events" ng-click="enableBox(1)" ng-model="data.events" /> Apply coupon(s) globally across all events
                                                    
                                                </div>
                                                <p ng-show="userForm.events.$invalid && !userForm.events.$pristine" class="error-fld ng-binding">Select event.</p>
                                            </div>
                                             <div class="col-sm-6" ng-class="{ 'has-error' : userForm.events.$invalid && !userForm.events.$pristine }" >
                                               <div class="form-group">
                                                    <label for="EventName">&nbsp;</label>
                                                    <input type="radio" class="assignEvents" value="one" name="events" ng-click="enableBox(2)"  ng-model="data.events" />Assign to individual event and pricing levels
                                                </div>
                                                <p ng-show="userForm.events.$invalid && !userForm.events.$pristine" class="error-fld ng-binding">Select event.</p>
                                            </div>
                                        </div>
                                        
                                        <div class="row" ng-show="enable_event_box">
                                             <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="EventName">&nbsp;</label>
                                                    <a ng-click="showEventPopup()">Add Event</a>
                                                </div>
                                                
                                            </div>
                                             <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="EventName">&nbsp;</label>
                                                    
                                                </div>
                                               
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <!-- Tab panes -->
                            </div>
                            <div class="col-sm-12 col-md-6"></div>
                        </div>
                    </div>
                </div>
                <!-- //Location Group -->
                <!-- //Event Detail Form -->
            </div>
            <div class="module" ng-show="enable_coupan_box">
                <section class="prof-hd" >
                    <!-- add  class="prof-hd"if u need to display this as tab -->
                    <i class="fa fa-link hdicon pos-l16"></i>
                    <h2> Coupon Limiting <span class="rt-img"><i class="fa fa-caret-down"></i></span></h2>
                </section>
                <section class="gray-frame">
                    <div class="row">
                        <div class="col-sm-4" >
                            <div class="form-group">
                                <label for="EventName">Use Limit<span class="req-limit">*</span></label>
                                <input  type="number" min="0" class="form-control" placeholder="Limit" ng-model="data.bundle_limit" name="bundle_limit" />
                                <p ng-show="userForm.bundle_limit.$invalid && !userForm.bundle_limit.$pristine" class="error-fld ng-binding">Enter valid bundle limit.</p>
                            </div>
                            
                          
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="EventName"> Timezone</label>
                                <select class="form-control" placeholder="Select Timezone" ng-model="data.timezone">
                                    <option>UTC-4: Atlantic Standard Time (AST)</option>
                                    <option>UTC-5: Eastern Standard Time (EST)</option>
                                    <option>UTC-6: Central Standard Time (CST)</option>
                                    <option>UTC-7: Mountain Standard Time (MST)</option>
                                    <option>UTC-8: Pacific Standard (PST)</option>
                                    <option>UTC-9: Alaska Standard Time (AKST)</option>
                                    <option>UTC-10: Hawaii-Aleutian Standard Time (HST)</option>
                                    <option>UTC-11: Samoa Standard Time</option>
                                    <option>UTC+10: Chamorro Standard Time</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="EventName"> Taggable?</label>
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch2" ng-model="data.multiple_ticket_holder" checked>
                                    <label class="onoffswitch-label" for="myonoffswitch2"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="EndTime">Start Date<span class="req">*</span></label>
                                <div class="form-group datepicker">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="multiple_start_date" is-open="popup1.opened" datepicker-options="dateOptions"  close-text="Close" alt-input-formats="altInputFormats"  ng-change="recurring_period('start')"/>
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 event" >
                            <div class="form-group">
                                <label for="StartTime">Start Time</label>
                                <div class="input-group bootstrap-timepicker timepicker">
                                    <input  ng-model="starttime"  class="form-control input-small timepick" ng-change="changedstarttime()" type="text"/><span class="input-group-addon timepick1"><i class="glyphicon glyphicon-time"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="EndTime">End Date<span class="req">*</span></label>
                                <div class="form-group datepicker">
                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="multiple_end_date" is-open="popup2.opened" datepicker-options="dateOptions"  close-text="Close"  ng-change="recurring_period('end')"/>
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 event" >
                            <div class="form-group">
                                <label for="EndTime">End Time</label>
                                <div class="input-group bootstrap-timepicker timepicker">
                                    <input ng-model="endtime" class="form-control input-small timepick" ng-change="changedendtime()" type="text"/><span class="input-group-addon timepick1"><i class="glyphicon glyphicon-time"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="editor-btn">
                <button class="pink-btn btn" ng-disabled="userForm.$invalid">Save Assignment</button>
            </div>
        </form>
    </div>
    <!-- //Form COntainer --> 
</div>
<!-------------------------------------------- EVENT POPUP START ---------------------------------------->

 <script type="text/ng-template" id="eventModalContent.html">
        <div  class="modal-header">
            <h3 class="modal-title" style="float:left;">Select Events for discount </h3><a style="float:right;cursor: pointer;" ng-click="cancel()">X</a>
        </div>
        <form  name="pricelevelForm" class="pricelevelForm"  ng-submit="saveData(data1)" novalidate>
        <div  class="modal-body">
        <!-- {{data1}}-->
            <fieldset  class="table table-striped" style="padding-top:10px">

                <div class="col-sm-5 form-group datepicker">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-change="viewEvents()"/>
                                    <span class="input-group-btn assign-discount">
                                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button></span>
               </div>
                         
               <div class="col-sm-4">
                    <select name="search_type" class="form-control btn-date" ng-model="search_type">
                                <option value="1">Specific Date</option>
                                <option value="2">All Dates Before</option>
                                <option value="3">All Dates After</option>
                    </select>
               </div>

               <div class="col-sm-1">&nbsp;</div>
               <div class="col-sm-3">
                    <button ng-show="enableEventAssign" ng-click="eventmakeAssignment();" class="btn btn-primary"  type="submit">Make Selection</button>
               </div>
            </fieldset>
                        
            <div class="table-responsive">
                        <table ng-table="tableParams" class="table table-striped table-ng-style">
                        <tbody>
                                    <tr ng-repeat="edata in $data | filter:filter">
                                                                             
                                        <td  width="5%" header-class="'header-text-align'" header="'ng-table/headers/checkbox4.html'"><input type="checkbox" name="checkall" ng-model="edata.selected"  ng-click="eventoptionToggled(edata.id);" >
					</td>
                                        <td width="15%" header-class="'header-text-align'" title="'Event Name'" filter="{ title: 'text'}" sortable="'title'"><strong>{{edata.title}}</strong>
					</td>
                                        <td width="12%" header-class="'header-text-align'" title="'Venue'" filter="{ event_address: 'text'}" sortable="'event_address'">{{edata.event_address}}
					</td>
                                        <td width="12%" header-class="'header-text-align'" title="'City'" filter="{ city: 'text'}" sortable="'city'" class="numbers">{{edata.city}}</td>
                                    </tr>
				    <tr ng-if="$data == ''">
                                        <td colspan="4" align="center">No Record found!</td>
                                    </tr>
                                    <tr ng-show="loader">
                                        <td colspan="4" align="center"><img src="/images/icons/loader.gif"></td>
                                    </tr>
                                </tbody>
                            </table>
          </div>
        

        </div>
        <div class="modal-footer">
             <button ng-show="enableEventAssign" ng-click="eventmakeAssignment();" class="btn btn-primary"  type="submit">Make Selection</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
        </form>
         <script type="text/ng-template" id="ng-table/headers/checkbox4.html">
          <input type="checkbox" name="checkall" ng-model="eventisAllSelected"ng-click="eventtoggleAll(all_check_point);">
        </script>
    </script>

<!-------------------------------------------- EVENT POPUP END ---------------------------------------->
