<div class="container">
    <h1 >Coupons for {{event_title}} Event name </h1> 
    <!--<a href="1"  tooltips tooltip-template="tooltip" > hello </a>-->
    <!-- Form COntainer -->
    <div class="wt-frame form-section">
        <form class="event-form">
            <!-- Event Detail Form -->
          
 <div class="form-group row">
                <section class="col-sm-12">
                    <section class="search-event">
                       <label><i class="fa fa-note"></i>  Some coupons can be assigned to multiple events, and will have Manage options restricted here. To modify those coupons, go to <a href="#/view_discounts/list"> All Coupons</a>.</label>

                    </section>
                </section>
            </div>

           

            <!--Ticket Types Start -->
            <div class="module">
                <section class="gray-frame sub-fields">
                    <section class="grid-btn-top row">
                        <section class="col-sm-12">
                            <section class="top-buttons">
                                <a href="#" ><button class="btn pink-btn btn-small" type="button"><i class="fa fa-plus-square"></i> All Uses for this Event</button></a>

                                 <a  href="#"><button class="btn pink-btn btn-small" type="button"><i class="fa fa-plus-square"></i> Export CSV</button></a>


                             <a href="#/single_event_overview/{{eventType}}/{{eventId}}">
                    <button class="btn pink-btn btn-small" type="button">
                    <i class="glyphicon glyphicon-arrow-left" >
                    </i> Back to Event Overview {{eventType}}
                    </button>
                    </a> 


                            </section>
                        </section>
                       
                    </section>
                    <section class="grid-widget">



               <section class="gray-frame" ng-repeat="data1 in commonAssignIds">

               <div class="row">
                        <div class="col-sm-5">
                          
                        </div>

                        <!--<div class="col-sm-7">
                             <a ng-click="delPriceLevelDiscAssignment(data1)"  ng-confirm-clicks="Would you like to delete this Discount Assignment?"><button type="button" class="btn pink-btn btn-small"><i class="fa fa-plus-square"></i> Delete Assignment</button></a>

                     <button type="button" class="btn pink-btn btn-small">Edit</button>

                     <button type="button" class="btn pink-btn btn-small">Uses for this offer</button>
                        </div>

                        -->
                     </div>
                
<div class="row">
                        <div class="col-sm-12">
                           <hr/>
                        </div>
                     </div>



              

                  <section  class="grid-widget">
                     <div class="table-responsive">
                        <table ng-table="tableParams" class="table table-striped table-ng-style">
                          <tbody>
                           
                              <tr ng-if="data1 == data.common_id" ng-repeat="data in discountAssignments | filter:filter">

                                 <td  header-class="'header-text-align'" title="'Discount Name'" filter="{ coupon_name: 'text'}" sortable="'coupon_name'"  ><strong>{{data.coupon_name}}</strong>
                                 </td>


 <td header-class="'header-text-align'" title="'Discount Code'" filter="{ coupon_code: 'text'}" sortable="'coupon_code'"  ><strong>{{data.coupon_code}}</strong>
                                 </td>


 <td header-class="'header-text-align'" title="'Discount Type'" filter="{ coupon_type: 'text'}" sortable="'coupon_type'"  ><strong>{{data.coupon_type}}</strong>
                                 </td>

                                  <td header-class="'header-text-align'" title="'Total Used'">0</td>
                                  <td header-class="'header-text-align'" title="'Uses on This Event'">0</td>
                                  <td header-class="'header-text-align'" title="'Held'">0</td>

                                 <td   header-class="'header-text-align'" title="'Price Level'" filter="{ coupon_type: 'text'}" sortable="'price_level_name'" ><span ng-if="data.price_level_name != NULL" >{{data.price_level_name}}</span>

                                 <span ng-if="data.price_level_name == NULL" >All Price Levels</span>

                                 </td>

                                 <td   header-class="'header-text-align'" title="'Start Date'" filter="{ start_date: 'text'}" sortable="'start_date'" >{{data.start_date | date:"dd MMMM yyyy"}}<span ng-if="data.start_time != 'undefined' && data.start_time != '' ">  {{data.start_time}}</span>
                                 </td>

                                 <td  width="15%" header-class="'header-text-align'" title="'End Date'" filter="{ end_date: 'text'}" sortable="'end_date'" >{{data.end_date | date:"dd MMMM yyyy"}}<span ng-if="data.end_time != 'undefined' && data.end_time != '' "> {{data.end_time}}</span>
                                 </td>


                                 <td  width="10%" title="'Manage'"  class="action unassign">
                                    
                                    <a ng-click="delDiscountAssignment(data.id , data.discount_id )" ng-confirm-clicks="Would you like to delete this Discount?"  ><i class="fa fa-trash"></i></a>
                                 </td>

                              </tr>
                              
                              <tr ng-if="discountAssignments == ''">
                                 <td colspan="10" align="center">No Record found!</td>
                              </tr>
                              <tr ng-show="loader">
                                 <td colspan="10" align="center"><img src="/images/icons/loader.gif"></td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </section>

<section class="grid-bottm clearfix">

                        
                </section>

               </section>


                       
                    </section>
                    <section class="grid-bottm clearfix">
                        <section class="paging">
                            <label class="lt-label"></label>
                            <dir-pagination-controls pagination-id="paginate2" ></dir-pagination-controls>
                        </section>
                        <section class="gr-right pull-right">
                            <ul class="legends">
                                <li><i class="fa fa-trash"></i><span>Unassign</span></li>
                            </ul>
                        </section>
                    </section>
                </section>
            </div>
            <!-- Ticket Types Closed --> 
        </form>

	 <script type="text/ng-template" id="ng-table/headers/checkbox3.html">
          <input type="checkbox" name="checkall" class="listing-check" ng-model="check.isAllSelected"ng-click="toggleAll(all_check_point);">
        </script>
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Remove Previous Event</h3>
            </div>
            <div class="modal-body">
                Are you sure to remove this previous created Event?
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="remove()">Remove</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </script>
    </div>
    <!-- //Form COntainer --> 
</div>
