<div class="container">
    <h1>Event Overview</h1>
    <!-- Form COntainer -->
    <div class="wt-frame form-section">
        <section class="top-buttons bb-1 text-right">
            <a href="/#/create_event_step1/{{event_id}}" ><button type="button" class="btn pink-btn btn-small" ><i class="fa fa-edit"> </i>  Edit</button></a>
            <button type="button" class="btn pink-btn btn-small" ng-click="delEvent(event_id)"><i class="fa fa-trash"> </i>  Delete</button>
            <button type="button" class="btn pink-btn btn-small" ng-click="pauseSales(event_id)"><i class="fa fa-pause"> </i>  {{sales_pause_status}}</button>
            <!--<button type="button" class="btn pink-btn btn-small"><i class="fa fa-copy"> </i>  Duplicate</button>-->
            <a href="/#/view_event/{{event_id}}" > <button type="button" class="btn pink-btn btn-small"> View Event</button></a>
            <button type="button" class="btn pink-btn btn-small" ng-click="addFavouriteEvent(event_id)"><i class="fa fa-star"> </i> {{favorite_status}}</button> 
            <!--<button type="button" class="btn pink-btn btn-small"><i class="fa fa-copy"> </i>  View Listing</button>
                <button type="button" class="btn pink-btn btn-small"><i class="fa fa-mail"> </i>  Send Invitation</button>
                <button type="button" class="btn pink-btn btn-small"><i class="fa fa-group"> </i>  Admissions</button>
                <button type="button" class="btn pink-btn btn-small"><i class="fa fa-list"> </i>  Guest List</button> -->
        </section>
        <!--/Top Buttons-->
        <form class="event-form">
            <!-- Event Detail Form -->
            <section class="module">
                <section class="prof-hd">
                    <i class="fa fa-database hdicon pos-l16"></i>
                    <h2>Event Information <span class="rt-img"></span></h2>
                </section>
                <section class="gray-frame sub-fields">
                    <section class="grid-widget" >
                        <h3> {{title}}</h3>
                        <hr/>
                        <h5> <i class="fa fa-calendar"> </i> {{event_date}}</h5>
                        <h5><i class="fa fa-home"> </i>  {{event_address}} </h5>
                        <h5><i class="fa fa-link"> </i><a href="#"> http://alistixs.com/{{user_id}}/{{event_id}}</a></h5>
                        <!--<h5><i class="fa fa-qrcode"> </i>  </h5>-->
                        <br/><br/>
                        <hr/>
                        <div class="event-status-container">
                            <!-- Recurring Event (Prime) -->
                            <div class="event-status status-onsale">
                                <div class="event-status-type">
                                    Ticket sales are currently {{sales_status}} <i  class="fa fa-checkmark"></i>
                                </div>
                                <div class="event-status-detail">
                                    Sales will close on <strong>{{online_sales_close}}</strong>.
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
            </section>
            <!-- Event Detail Form -->
            <!-- Select Tickets Form -->
            <section class="module">
                <section class="prof-hd">
                    <i class="fa fa-database hdicon pos-l16"></i>
                    <h2>Select Tickets <span class="rt-img"></span></h2>
                </section>
                <section class="gray-frame sub-fields">
                    <section class="grid-widget">
                        <h5>Event Inventory: {{inventory}}</h5>
                        <h5> Total Tickets Issues: 0 </h5>
                        <h5> Remaining Tickets: {{inventory}} </h5>
                    </section>
                </section>
            </section>
            <!-- Select Tickets Form -->
            <section class="form-group field-group row">
                <section class="col-sm-8">
                    <!-- price level details Starts -->
                    <section class="module">
                        <section class="prof-hd">
                            <i class="fa fa-database hdicon pos-l16"></i>
                            <h2>Price Levels <span class="rt-img"></span></h2>
                        </section>
                        <section class="gray-frame sub-fields">
                            <section class="grid-widget" >
                                <div class="table-responsive">
                                    <table ng-table="tableParams" class="table table-striped table-ng-style">
                                        <tbody>
                                            <tr ng-repeat="data in $data | filter:filter">
                                                <td width="15%" header-class="'header-text-align'" title="'Level'" filter="{ price_level_name: 'text'}" sortable="'price_level_name'"><strong>{{data.price_level_name}}</strong></td>
                                                <td width="12%" header-class="'header-text-align'" title="'Inventory'" filter="{ quantity_available: 'number'}" sortable="'quantity_available'">{{data.quantity_available}}</td>
                                                <!--<td width="12%" header-class="'header-text-align'" title="'Issued'" filter="{ coupon_code: 'number'}" sortable="'issued'" >
                                                    <p ng-if="data.issued">GET FROM API</p>
                                                    <p ng-if="data.issued == '' || data.issued == null || data.issued == undefined">0</p>
                                                    </td>-->
                                                <td width="12%" header-class="'header-text-align'" title="'Issued'" >0</td>
                                                <!--<td width="12%" header-class="'header-text-align'" title="'Held'" filter="{ amount: 'number'}" sortable="'held'" class="numbers">
                                                    <p ng-if="data.held">GET FROM API</p>
                                                    <p ng-if="data.held == '' || data.held == null || data.held == undefined || data.held == 0">0</p>
                                                    </td>-->
                                                <td width="12%" header-class="'header-text-align'" title="'Held'">0</td>
                                                <td width="16%" header-class="'header-text-align'" title="'Remaining'" filter="{ quantity_available: 'number'}"  >{{data.quantity_available}}</td>
                                            </tr>
                                            <tr ng-if="$getPricelevel == ''">
                                                <td colspan="5" align="center">No Price Level!</td>
                                            </tr>
                                            <tr ng-show="loader">
                                                <td colspan="5" align="center"><img src="/images/icons/loader.gif"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </section>
                    </section>
                    <!-- price level details Ends -->
                    <!--  <section class="panel panel-grey">
                        <section class="prof-hd">
                           <h5 class="m-b0">Questions</h5>
                        </section>
                        <section class="panel-body">
                           <section class="grid-btn-top row">
                              <section class="col-sm-5 pull-right text-right">
                                 <button class="pink-btn btn btn-small m-fw" type="button" ng-click="download_answers('lg')">Download Answers</button>
                              </section>
                           </section>
                           <span ng-show="success_message_bundle" class="ng-hide">
                              <p class="success-fld ng-binding">{{success_bundle}}</p>
                           </span>
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                           <section class="module">
                              <section class="prof-hd">
                                 <i class="fa fa-database hdicon pos-l16"></i>
                                 <h2> ABC Price Level Questions <span class="rt-img"></span></h2>
                              </section>
                              <section class="gray-frame sub-fields">
                                 <section class="grid-btn-top row">
                                    <section class="col-sm-5 pull-right text-right">
                                       <button class="pink-btn btn btn-small m-fw" type="button" ng-click="assign_price_level_questions('lg')">Assign</button>
                                    </section>
                                 </section>
                                 <section class="grid-widget" ng-show="showPriceLevelQuestionList">
                                    <div class="table-responsive">
                                       <table class="table table-striped">
                                          <thead>
                                             <tr>
                                                <th width="15%">Question</th>
                                                <th width="10%" class="numbers">Ask Once Per</th>
                                                <th width="23%">&nbsp;</th>
                                             </tr>
                                          </thead>
                                          <tbody>
                                             <tr ng-repeat="question in priceLevelQuestionList track by $index">
                                                <td><strong>{{question.question_name}}</strong></td>
                                                <td >
                                                   <select name="" ng-model="" />
                                                      <option>Sale</option>
                                                      <option>Ticket</option>
                                                      <option>Event</option>
                                                   </select>
                                                </td>
                                                <td class="action">
                                                   <a ng-click="edit_question('lg',question.id)" tooltips tooltip-template="Edit Question" style="cursor: pointer;"><i class="fa fa-edit"></i></a>
                                                   <a ng-click="change_question_status(question.id,question.status)" ng-confirm-click="Would you like to change bundle status ?" tooltips tooltip-template="Activate/Deactivate" >
                                                   <i class="fa fa-check-circle" ng-if="question.status == 'true'"></i>
                                                   <i class="fa fa-times" ng-if="question.status == 'false'"></i>
                                                   </a>
                                                   <a ng-click="unassign_question('',$index,question.id)" style="cursor: pointer;"><i class="fa fa-trash" tooltips tooltip-template="Unassign" ></i></a>
                                                </td>
                                             </tr>
                                             <tr ng-if="questionList == '' ">
                                                <td colspan="3" align="left">No Questions have been assigned to this price level.  </td>
                                             </tr>
                                             <tr ng-show="loader_bundle">
                                                <td colspan="3" align="center"><img src="/images/icons/loader.gif"></td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </div>
                                 </section>
                              </section>
                           </section>
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                           <section class="module">
                              <section class="prof-hd">
                                 <i class="fa fa-database hdicon pos-l16"></i>
                                 <h2> Event Questions <span class="rt-img"></span></h2>
                              </section>
                              <section class="gray-frame sub-fields">
                                 <section class="grid-btn-top row">
                                    <section class="col-sm-5 pull-right text-right">
                                       <button class="pink-btn btn btn-small m-fw" type="button" ng-click="assign_event_questions('lg')">Assign</button>
                                    </section>
                                 </section>
                                 <section class="grid-widget" ng-show="showEventQuestionList">
                                    <div class="table-responsive">
                                       <table class="table table-striped">
                                          <thead>
                                             <tr>
                                                <th width="15%">Question</th>
                                                <th width="10%" class="numbers">Ask Once Per</th>
                                                <th width="23%">&nbsp;</th>
                                             </tr>
                                          </thead>
                                          <tbody>
                                             <tr ng-repeat="question in eventQuestionList track by $index">
                                                <td><strong>{{question.question_name}}</strong></td>
                                                <td >
                                                   <select name="" ng-model="" />
                                                      <option>Sale</option>
                                                      <option>Ticket</option>
                                                      <option>Event</option>
                                                   </select>
                                                </td>
                                                <td class="action">
                                                   <a ng-click="edit_question('lg',question.id)" tooltips tooltip-template="Edit Question" style="cursor: pointer;"><i class="fa fa-edit"></i></a>
                                                   <a ng-click="change_question_status(question.id,question.status)" ng-confirm-click="Would you like to change bundle status ?" tooltips tooltip-template="Activate/Deactivate" >
                                                   <i class="fa fa-check-circle" ng-if="question.status == 'true'"></i>
                                                   <i class="fa fa-times" ng-if="question.status == 'false'"></i>
                                                   </a>
                                                   <a ng-click="unassign_question('',$index,question.id)" style="cursor: pointer;"><i class="fa fa-trash" tooltips tooltip-template="Unassign" ></i></a>
                                                </td>
                                             </tr>
                                             <tr ng-if="questionList == '' ">
                                                <td colspan="3" align="left">No Questions have been assigned to this price level.  </td>
                                             </tr>
                                             <tr ng-show="loader_bundle">
                                                <td colspan="3" align="center"><img src="/images/icons/loader.gif"></td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </div>
                                 </section>
                              </section>
                           </section>
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                           <section class="module">
                              <section class="prof-hd">
                                 <i class="fa fa-database hdicon pos-l16"></i>
                                 <h2> Global Questions <span class="rt-img"></span></h2>
                              </section>
                              <section class="gray-frame sub-fields">
                                 <section class="grid-widget" ng-show="showGlobalQuestionList">
                                    <div class="table-responsive">
                                       <table class="table table-striped">
                                          <thead>
                                             <tr>
                                                <th width="15%">Question</th>
                                             </tr>
                                          </thead>
                                          <tbody>
                                             <tr ng-repeat="question in globalQuestionList track by $index">
                                                <td><strong>{{question.question_name}}</strong></td>
                                             </tr>
                                             <tr ng-if="globalQuestionList == '' ">
                                                <td colspan="3" align="left">No Global Questions exists.</td>
                                             </tr>
                                             <tr ng-show="loader_globalQuestions">
                                                <td colspan="3" align="center"><img src="/images/icons/loader.gif"></td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </div>
                                 </section>
                              </section>
                           </section>
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        </section>
                        </section> -->
                    <!-- event level question start -->
                    <section class="module">
                        <section class="prof-hd">
                            <i class="fa fa-database hdicon pos-l16"></i>
                            <h2>Questions <span class="rt-img"></span></h2>
                        </section>
                        <section class="gray-frame sub-fields">
                            <section class="grid-btn-top row">
                                <section class="col-sm-5 pull-right text-right">
                                    <button class="pink-btn btn btn-small m-fw" type="button" ng-click="open1('lg')">Assign Questions</button>
                                </section>
                            </section>
                            <section class="grid-widget" >
                                <div class="table-responsive">
                                    <table ng-table="tableParamsQuestions" class="table table-striped table-ng-style">
                                        <tbody>
                                            <tr  ng-repeat="pdata in $data | filter:filter">
                                                
                                                <td width="44%" header-class="'header-text-align'" title="'Name'" filter="{ question_name: 'text'}" sortable="'question_name'"><strong>{{pdata.question_name}}</strong></td>

                                                <td width="18%" header-class="'header-text-align'" title="'Type'" filter="{ question_type: 'text'}" sortable="'question_type'" >{{pdata.question_type}}</td>

                                               
<td width="5%" header-class="'header-text-align'" title="Position">
<select name="view_question_location[$index]" ng-model="pdata.view_question_location"  ng-change="saveQuestionLocation(pdata.view_question_location , pdata.id)" >

    <option ng-selected="{{location.id == pdata.view_question_location}}" ng-repeat="location in questionLocations" value="{{location.id}}"  >{{location.name}} </option>
</select></td> 


                                                <td width="15%" header-class="'action-text-align'" title="'Actions'" align="center" class="action">
                                                     <a ng-click="unassignQuestionEvent(pdata.id , pdata.question_id , eventId )" ng-confirm-clicks="Would you like to delete this Question?"><i class="fa fa-trash"></i></a>

                                                </td>
                                            </tr>
                                            <tr ng-show="loader">
                                                <td colspan="4" align="center"><img src="/images/icons/loader.gif"></td>
                                            </tr>
                                            <tr ng-if="$getQuestions == ''">
                                                <td colspan="4" align="center">No Record found!</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </section>
                    </section>
                   
                    <!-- event level questions end -->
                    <!-- Discount Starts -->
                    <section class="module">
                        <section class="prof-hd">
                            <i class="fa fa-database hdicon pos-l16"></i>
                            <h2>Coupons <span class="rt-img"></span></h2>
                        </section>
                        <section class="gray-frame sub-fields">
                            <section class="grid-btn-top row">
                                <section class="col-sm-5 pull-right text-right">
                                    <button class="pink-btn btn btn-small m-fw" type="button" ng-click="add_bundle('lg')">Assign Coupons</button>
                                </section>
                            </section>
                            <section class="grid-widget" >
                                <span ng-show="success_message_bundle" class="ng-hide">
                                    <p class="success-fld ng-binding">{{success_discount}}</p>
                                </span>
                                <a href="#/view_event_discounts/singleEvent/{{eventId}}">
                                    <strong>
                                        <p>{{getCountDiscountsOfEvent}} assignments for this event</p>
                                    </strong>
                                </a>
                                <!--<div class="table-responsive">
                                    <table ng-table="tableParamsDiscounts" class="table table-striped table-ng-style">
                                       <tbody>
                                            <tr ng-repeat="data in $data | filter:filter">
                                                       <td  width="5%" header-class="'header-text-align'" header="'ng-table/headers/checkbox3.html'"><input type="checkbox" name="checkall" ng-model="data.selected"  ng-click="optionToggled(data.id);" >
                                    </td>
                                                       <td width="15%" header-class="'header-text-align'" title="'Name'" filter="{ coupon_name: 'text'}" sortable="'coupon_name'"><strong>{{data.coupon_name}}</strong>
                                    </td>
                                                       <td width="12%" header-class="'header-text-align'" title="'Type'" filter="{ coupon_type: 'text'}" sortable="'coupon_type'">{{data.coupon_type}}
                                    </td>
                                                       <td width="12%" header-class="'header-text-align'" title="'Code'" filter="{ coupon_code: 'text'}" sortable="'coupon_code'" >
                                                           <p ng-if="data.coupon_code">{{data.coupon_code}}</p>
                                                           <p ng-if="data.coupon_code == '' || data.coupon_code == null || data.coupon_code == undefined"></p>
                                                       </td>
                                                       <td width="12%" header-class="'header-text-align'" title="'Discount'" filter="{ amount: 'text'}" sortable="'amount'" class="numbers">
                                                           <p ng-if="data.amount">{{data.amount}}</p>
                                                           <p ng-if="data.amount == '' || data.amount == null || data.amount == undefined || data.amount == 0"></p>
                                                       </td>
                                                       <td width="16%" header-class="'header-text-align'" title="'Amount Type'" filter="{ amount_type: 'text'}" sortable="'amount_type'" >{{data.amount_type}}
                                    </td>
                                                       <td width="14%" header-class="'header-text-align'" title="'Assigned To'"  class="">
                                                           <a href="#/discount_assignment_overview/{{data.id}}"><strong><p ng-if="event_count[data.id] > 0">{{event_count[data.id]}} Assignments</p></strong></a>
                                    
                                                           <p ng-if="event_count[data.id] == '' || event_count[data.id] == null">0 Assignments</p>
                                                            </td>
                                    
                                                       <td width="23%" title="'Action'"  class="action">
                                                           <a href="#/edit_discount/{{data.id}}"><i class="fa fa-edit"></i></a>
                                                           <a ng-click="changeStatus(data.id,data.status)" ng-confirm-click="Would you like to change Discount status ?"><i class="fa fa-check-circle" ng-if="data.status == 1"></i><i class="fa fa-times" ng-if="data.status == 0"></i></a>
                                                           <a ng-click="delDiscount(data.id)" ng-confirm-clicks="Would you like to delete this Discount?" ng-if="event_count[data.id] == '' || event_count[data.id] == null"><i class="fa fa-trash"></i></a>
                                                       </td>
                                                   </tr>
                                    
                                    <tr ng-if="$data == ''">
                                                       <td colspan="5" align="center">No coupons have been assigned to this event. </td>
                                                   </tr>
                                                   <tr ng-show="loader">
                                                       <td colspan="7" align="center"><img src="/images/icons/loader.gif"></td>
                                                   </tr>
                                    
                                       </tbody>
                                    </table>
                                    </div> -->
                            </section>
                        </section>
                    </section>
                    <!-- Discount Ends -->
                    <!-- Email Report Start -->
                    <section class="module">
                        <section class="prof-hd">
                            <i class="fa fa-database hdicon pos-l16"></i>
                            <h2>Email Reports <span class="rt-img"></span></h2>
                        </section>
                        <section class="gray-frame sub-fields">
                            <section class="grid-btn-top row">
                                <section class="col-sm-12 ">
                                    <p class="success-fld" ng-show="success_message_email_report">{{successEmailReport}}</p>
                                </section>
                            </section>
                            <section class="grid-btn-top row">
                                <section class="col-sm-5 pull-right text-right">
                                    <button class="pink-btn btn btn-small m-fw" type="button" ng-click="add_emailReport('lg')" >Add an Email Report</button>
                                </section>
                            </section>
                            <section class="grid-widget" >
                                <span ng-show="success_message_emailReport" >
                                    <p class="success-fld ng-binding">{{success_emailReport}}</p>
                                </span>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th width="15%">Email Address</th>
                                                <th width="10%" class="numbers">Send Time</th>
                                                <th width="14%" class="numbers">Timezone Name</th>
                                                <th width="13%" class="numbers">Format</th>
                                                <th width="23%">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="email in EmailReportsList">
                                                <td><strong>{{email.email_address}}</strong></td>
                                                <td class="numbers">{{email.send_time}}</td>
                                                <td class="numbers">{{email.timezone_name}}</td>
                                                <td class="numbers">{{email.export_format}}</td>
                                                <td class="action">
                                                    <a ng-click="add_emailReport('lg' , email.id )" style="cursor: pointer;"><i class="fa fa-edit"></i></a>
                                                    <a ng-click="delete_emailReport('lg' , email.id)" style="cursor: pointer;"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr ng-if="EmailReportsList == '' ">
                                                <td colspan="5" align="left">No email reports assigned to this event. </td>
                                            </tr>
                                            <tr ng-show="loader_emailReport">
                                                <td colspan="5" align="center"><img src="/images/icons/loader.gif"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </section>
                    </section>
                    <!-- Email Report Ends -->
                </section>
                <section class="col-sm-4">
                    <!-- Templates -->
                    <section class="module">
                        <section class="prof-hd">
                            <i class="fa fa-database hdicon pos-l16"></i>
                            <h2>Templates <span class="rt-img"></span></h2>
                        </section>
                        <section class="gray-frame sub-fields">
                            <section class="grid-btn-top row">
                                <section class="col-sm-12 pull-right text-right">
                                    <button class="pink-btn btn btn-small m-fw" type="button" ng-click="assignTemplate('lg')">Assign a template</button>
                                </section>
                            </section>
                            <section class="grid-widget" ng-show="showEmailReportList">
                                <span ng-show="success_message_template" class="ng-hide">
                                    <p class="success-fld ng-binding">{{success_template}}</p>
                                </span>
                                <div class="table-responsive">
                                    You are currently using the template: <a href="">{{template_name}}</a>
                                    <br/><br/><br/>
                                    <img height="400" width="250" class="center" src="{{data.preview_image}}">
                                </div>
                            </section>
                            <section class="module row">
                                <section class="col-sm-12 temp-view" ng-repeat="template in templates track by $index">
                                    <section class="form-group" ng-if="template.id == template_id">
                                        <p class="temp-image"><img src="{{template.image}}" alt=""/></p>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                    <!-- Templates -->
                </section>
            </section>
        </form>
    </div>
    <!-- //Form COntainer --> 
</div>
<!-- *************************************************************************************** -->

<script type="text/ng-template" id="questions.html">
    <div class="modal-header">
    
        <a style="float:right;cursor: pointer;" ng-click="Cancel()">X</a>
    </div>
    <div class="modal-body">

     <section class="grid-btn-top row">
         <section class="col-sm-6 right-btns text-right">
             <a ng-click="makeAssignment();" ng-show="enableAssign"><button class="btn pink-btn btn-small" type="button"><i class="fa fa-plus-square"></i> Assign Question</button></a> 
         </section>
     </section>

    
    <table ng-table="tableParams" class="table table-striped table-ng-style">                        
     <tbody>
         <tr  ng-repeat="pdata in $data | filter:filter">
            <td width="5%" header-class="'header-text-align'" header="'ng-table/headers/checkbox.html'"><input type="checkbox" name="checkall" ng-model="pdata.selected"  ng-click="optionToggled(pdata.id);" ></td>
             
             <td width="80%" header-class="'header-text-align'" title="'Name'" filter="{ question_name: 'text'}" sortable="'question_name'"><strong>{{pdata.question_name}}</strong></td>
             <td width="15%" header-class="'header-text-align'" title="'Type'" filter="{ question_type: 'text'}" sortable="'question_type'" >{{pdata.question_type}}</td>
         </tr>
         <tr ng-show="loader">
             <td colspan="3" align="center"><img src="/images/icons/loader.gif"></td>
         </tr>
    <tr ng-if="$data == ''">
             <td colspan="3" align="center">No Record found!</td>
         </tr>
     </tbody>
    </table>

     <script type="text/ng-template" id="ng-table/headers/checkbox.html">
                        <input type="checkbox" name="checkall" class="listing-check" ng-model="check.isAllSelected" ng-click="toggleAllQuestions(all_check_point)">
                    </script>
    </div>
</script>
<!-- *************************************************************************************** -->
<script type="text/ng-template" id="myModalEmailReport.html">
    <div class="modal-header">
    
        <h3 class="modal-title">Add a Email Report</h3><a style="float:right;cursor: pointer;" ng-click="cancel()">X</a>
    </div>
    <form  name="reportForm" ng-submit="reportForm.$valid && addEmailReport(report)" novalidate>
    <div class="modal-body">
        
        <fieldset class="form-group">
           <div class="col-sm-4">Email Address<span class="req">*</span></div>
           <div class="col-sm-8">
           <input type="email" ng-model="report.email_address" name="email_address" class="form-control"  placeholder="Email Address" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
    
            <p ng-show="reportForm.email_address.$invalid && !reportForm.email_address.$pristine || reportForm.email_address.$error.pattern" class="error-fld ng-binding">Email address is required.</p>
            </div>
    
           </div>
        </fieldset>
    
        <fieldset class="form-group">
           <div class="col-sm-4">Timezone<span class="req">*</span></div>
           <div class="col-sm-8"><select class="form-control " id="timezone_name" name="timezone_name" ng-model="report.timezone_name" required >
            <option value="America/New_York">Eastern Time</option><option value="America/Chicago">Central Time</option><option value="America/Denver">Mountain Time</option><option value="America/Phoenix">Mountain Time (Arizona)</option><option value="America/Los_Angeles">Pacific Time</option><option value="America/Juneau">Alaskan Time</option><option value="Pacific/Honolulu">Hawaiian Time</option><option value="Pacific/Samoa">Samoa Standard Time</option>
        </select><p ng-show="reportForm.timezone_name.$invalid && !reportForm.timezone_name.$pristine" class="error-fld ng-binding">Timezone name is required.</p></div> 
        
        </fieldset>
    
    
    
    
    
               <fieldset class="form-group">
           <div class="col-sm-4"> Send Time<span class="req">*</span></div>
           <div class="col-sm-2">
           
    <select class="form-control" name="category" ng-model="report.send_time.hours" required>
    <option ng-repeat="hour in hours" value="{{hour.id}}" >{{hour.id}}</option>
    </select>
    </div>
    <div class="col-sm-2">
    <select class="form-control" name="category" ng-model="report.send_time.minutes" required>
    <option ng-repeat="minute in minutes" value="{{minute.id}}" >{{minute.id}}</option>
    </select> </div>
    <div class="col-sm-2">
    <select class="form-control" name="category" ng-model="report.send_time.seconds" required>
    <option ng-repeat="second in seconds" value="{{second.id}}" >{{second.id}}</option>
    </select>
    
    
    
                <p ng-show="reportForm.send_time.$invalid && !reportForm.send_time.$pristine" class="error-fld ng-binding">Send time is required.</p>
    
                 <p ng-show="reportForm.input.$error.time" class="error-fld ng-binding">Not a valid time</p>
    
           </div>
           
          
           </div>
        </fieldset>
    
        
        <fieldset class="form-group">
           <div class="col-sm-4">Export Format<span class="req">*</span></div>
           <div class="col-sm-8">
           <select id="export_format" class="form-control"  name="export_format" ng-model="report.export_format" required>
            <option value="PDF">PDF</option>
            <option value="CSV">CSV</option>
            <option value="Embedded HTML">Embedded HTML</option>
        </select>
        <p ng-show="reportForm.export_format.$invalid && !reportForm.export_format.$pristine" class="error-fld ng-binding">Export format is required.</p>
        </div> </div>
        </fieldset>
         
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-disabled="reportForm.$invalid"  >Submit</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
    </form>
</script>
<!-- *************************************************************************************** -->
<!-- *************************************************************************************** -->
<script type="text/ng-template" id="myModalAssignTemplate.html">
    <div class="modal-header">
    <h3 class="modal-title">Email Template</h3><a style="float:right;cursor: pointer;" ng-click="cancel()">X</a>
    </div>
    
    <span ng-show="success_message_template" class="ng-hide">
       <p class="success-fld ng-binding">{{success_template}}</p>
    </span>
    
     <form  name="templateForm" ng-submit="templateForm.$valid && assignEmailTemplate(templateData)" novalidate>
     <div class="modal-body">
         <section class="module row">
        
        
    
    
             <section class="col-sm-12 temp-view" ng-repeat="template in templates">
                <section class="form-group">
                <section class="col-sm-6">
                   
                     <div class="form-group">
                     <section class="radio-sec with-ftext">
                           <section class="radio-inline">
                               <input id="radio111" type="radio" id="{{template.id}}" name="template_id"  value="{{template.id}}" ng-model="templateData.template_id"> 
                               <label for="radio111"><span></span>{{template.template_name}}</label>
                           </section>
                            
                    </section>
                   </div>
                </section>
                <section class="col-sm-6"><p class="temp-image"><img src="{{template.image}}" class="center" height="250" width="200" /></p>

                 </section>
             </section>
        </section>   
     </div>
    
     <div class="modal-footer">
         <button class="btn btn-primary" type="submit" ng-disabled="templateForm.$invalid"  >Submit</button>
         <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
     </div>
     </form>
</script>
<!-- *************************************************************************************** -->
