<div class="container">
    <h1>View all Events</h1>
    <!-- Form COntainer -->
    <div class="wt-frame form-section">
        <form class="event-form">
            <!-- Event Detail Form -->
            <div class="form-group row">
                <section class="col-sm-6">
                    <section class="search-event">
                        <input type="text" name="eventname" ng-model="searchfield" class="form-control search-field" placeholder="Enter your keyword">
                        <i class="fa fa-search"></i>
                    </section>
                </section>
            </div>
            <!--Ticket Types Start -->
            <div class="module">
                <section class="gray-frame sub-fields">
                    <section class="grid-btn-top row">
                        <section class="col-sm-7">
                            <section class="top-buttons">
                                <button class="btn pink-btn btn-small" type="button"><i class="fa fa-plus-square"></i> Create Event</button><span class="file-input btn pink-btn btn-small btn-file">Export CSV <input type="file" multiple></span>
                            </section>
                        </section>
                        <section class="col-sm-5 right-btns text-right">
                            <section class="inline-section">
                                <select class="form-control select30">
                                    <option value="Ticket">Filter by</option>
                                </select>
                            </section>
                            <section class="inline-section">
                                <select class="form-control select30">
                                    <option value="Ticket">Sort by</option>
                                </select>
                            </section>
                            <button class="pink-btn btn btn-small m-fw">Date Range</button>
                        </section>
                    </section>
                    <section class="grid-widget">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th width="10%">ID</th>
                                    <th width="24%">Event</th>
                                    <th width="20%">Start Date</th>
                                   <!-- <th width="12%" class="numbers">Sold</th>
                                    <th width="12%" class="numbers">Inventory</th>-->
                                    <th width="22%">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
				
                                <tr pagination-id="paginate1" dir-paginate="upcoming in upcoming_event_data | itemsPerPage: 25|filter:searchfield">
                                    <td><a href="#"><strong>{{upcoming.id}}</strong></a></td>
                                    <td>
                                        <p><a href="#"><strong>{{upcoming.title}}</strong></a></p>
                                        
                                    </td>
                                    <td>{{upcoming.start_date | date:"dd MMMM yyyy"}}</td>
                                  <!--  <td class="numbers">{{upcoming.sold}}</td>
                                    <td class="numbers">{{upcoming.inventory}}</td>-->
                                    <td class="action"><a href="javascript:void(0)"><i class="fa fa-pie-chart"></i></a><a href="javascript:void(0)"><i class="fa fa-calendar-o"></i></a><a href="javascript:void(0)"><i class="fa fa-edit"></i></a><a href="javascript:void(0)"><i class="fa fa-eye"></i></a></td>
                                </tr>
                            </tbody>
                        </div>
                    </section>
                    <section class="grid-bottm clearfix">
                        <section class="paging">
                           <dir-pagination-controls pagination-id="paginate1" ></dir-pagination-controls>
                        </section>
                        <section class="gr-right pull-right">
                            <ul class="legends">
                                <li><i class="fa fa-pencil-square-o"></i> <span>Edit</span></li>
                                <li><i class="fa fa-tags"></i><span>change price</span></li>
                                <li><i class="fa fa-check-circle"></i><span>active</span></li>
                                <li><i class="fa fa-trash"></i><span>delete</span></li>
                            </ul>
                        </section>
                    </section>
                </section>
            </div>
            <!-- Ticket Types Closed --> 
            <!--<div class="editor-btn">
                <button class="gray-btn btn">Back</button>
                <button class="pink-btn btn">Save</button>
                <button class="pink-btn btn">Next</button>
            </div>-->
        </form>
    </div>
    <!-- //Form COntainer --> 
</div>
