<div class="container">
    <h1>View all Events</h1>
    <!-- Form COntainer -->
    <div class="wt-frame form-section">
        <form class="event-form">
            <!-- Event Detail Form -->
            <div class="form-group row">
                <section class="col-sm-6">
                    <section class="search-event">
                        <input type="text" name="eventname"  ng-model="filter" class="form-control search-field" placeholder="Enter your keyword">
                        <i class="fa fa-search"></i>
                    </section>
                </section>
            </div>
            <!--Ticket Types Start -->
            <div class="module">
                <section class="gray-frame sub-fields">
                    <section class="grid-btn-top row">
                        <section class="col-sm-6">
                            <section class="top-buttons">
                                <a ng-if = checkPermission(permission[0],'add') class="btn pink-btn btn-small" ui-sref="create_an_event" href="#/create_an_event"><i class="fa fa-plus-square"></i>&nbsp;Create an Event</a>
                                <!-- <a href="/event/exportAllEventCSV?ids={{common_ids}}&seller={{seller_id}}"><button class="btn pink-btn btn-small" type="button"><i class="fa fa-plus-square"></i> Export CSV</button></a> -->

                                <a href="/event/exportAllEventCSV?seller={{seller_id}}"><button class="btn pink-btn btn-small" type="button"><i class="fa fa-plus-square"></i> Export CSV</button></a>

                            </section>
                        </section>
                        <section class="col-sm-6 right-btns text-right">
                            <section class="inline-section">
                                <select class="form-control select30" name="eventType" ng-model="allevent.eventType" ng-change="getAllEvent(allevent)">
                                    <option value="">Event Type</option>
                                    <option value="single">Single Event</option>
                                    <option value="series">Series Event</option>
                                </select>
                            </section>
                            
                            <section class="inline-section">
                                <select class="form-control select30" name="eventFilter" ng-model="allevent.eventFilter" ng-change="getAllEvent(allevent)">
                                    <option  value="">No Filter</option>
                                    <option value="upcoming">Upcoming</option>
                                    <option value="past">Past</option>
                                    <option value="approval">For Approval</option>
                                </select>
                            </section>

                            <button class="pink-btn btn btn-small m-fw" ng-click="add_product('lg',allevent)">Date Range</button>
                        </section>
                    </section>
                    <section class="grid-widget">
                        <div class="table-responsive">
                            <table ng-table="tableParams"  class="table table-striped table-ng-style">
                               
                            <tbody>
                                <tr  ng-repeat="pdata in $data | filter:filter">
                                    <td theader-class="'header-text-align'" title="'Id'" header-class="'header-text-align'" filter="{ id: 'number'}" sortable="'id'" width="10%"><a href="#"><strong>{{pdata.id}}</strong></a></td>
				    <td title="'Alistixs Id'" header-class="'header-text-align'" filter="{ showclix_id: 'number'}" sortable="'showclix_id'" width="15%">
                                        <p><a href="#"><strong>{{pdata.showclix_id}}</strong></a></p>
                                    </td>
                                    <td title="'Name'" header-class="'header-text-align'" filter="{ title: 'text'}" sortable="'title'" width="30%">
                                        <p><a href="#"><strong>{{pdata.title}}</strong></a></p>
                                    </td>
				    
                                    <td title="'Start date'" header-class="'header-text-align'" filter="{ title: 'start_date'}" sortable="'start_date'" width="16%">{{pdata.recurring_or_not == 0 ? (pdata.start_date | date:"dd MMMM yyyy") : 'Event Series'}}</td>
                                    
                                    <!--  <td class="numbers">{{upcoming.sold}}</td>-->
                                    <td title="'Action'" class="action" width="24%">


                                        <a title="Overview" href="javascript:void(0)"  ng-click="viewOverviewHref(pdata.id,pdata.recurring_or_not.toString())" ><i class="fa fa-pie-chart"></i></a>
                                        <a title="Schedules" ng-if="pdata.recurring_or_not == 1" href="/#/event_schedule/{{pdata.id}}"><i class="fa fa-calendar-o"></i></a>
                                        <a title="Guest List" ng-if="pdata.recurring_or_not != 1" href="javascript:void(0)"><i class="fa fa-list-ul"></i></a>
					<a  title="Preview" href="preview_template/{{seller_id}}/{{pdata.id}}"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>

                                        <a ng-if = checkPermission(permission[0],'view') title="View" href="javascript:void(0)" ng-click="viewHref(pdata.id,pdata.recurring_or_not.toString())"><i class="fa fa-eye"></i></a>
                                        <a ng-if = checkPermission(permission[0],'edit') title="edit" href="javascript:void(0)" ng-click="recurringHref(pdata.id,pdata.recurring_or_not.toString())"><i class="fa fa-edit"></i></a>
                                        <a ng-if = checkPermission(permission[0],'delete') style="cursor:pointer;" title="delete" ng-confirm-clicks="Would you like to delete this Event?" ng-click="delEvent(pdata.id,pdata.showclix_id)"><i class="fa fa-trash"></i></a>


                                    </td>
                                </tr>
                                <tr ng-show="loader">
                                    <td colspan="4" align="center"><img src="/images/icons/loader.gif"></td>

                                </tr>
			        <tr ng-if="$data == ''">
                                    <td colspan="4" align="center">No Record found!</td>
                                </tr>
                                <tr ng-show="eventloader">
                                    <td colspan="7" align="center"><img src="/images/icons/loader.gif"></td>
                                </tr>
                            </tbody>
</table>
                        </div>
                    </section>
                    <section class="grid-bottm clearfix">
                        <section class="paging">
                            <label class="lt-label"></label>
                                                        
                        </section>
                        <section class="gr-right pull-right">
                            <ul class="legends">
                                <li><i class="fa fa-pie-chart"></i><span>Overview</span></li>
                                <li><i class="fa fa-calendar-o"></i> <span>Schedules</span></li>
                                <li><i class="fa fa-list-ul"></i><span>Guest List</span></li>
                                <li><i class="fa fa-eye-slash" aria-hidden="true"></i><span>Preview</span></li>
				<li ng-if = checkPermission(permission[0],'view') ><i class="fa fa-eye"></i><span>View</span></li>
                                <li ng-if = checkPermission(permission[0],'edit') ><i class="fa fa-edit"></i><span>Edit</span></li>
                                <li ng-if = checkPermission(permission[0],'delete')><i class="fa fa-trash"></i><span>delete</span></li>
                            </ul>
                        </section>
                    </section>
                </section>

            </div>
        </form>
    </div>

    <!-- //Form COntainer --> 
</div>


<script type="text/ng-template" id="myModalContentDate.html">
    <div class="modal-header">
        <h3 class="modal-title">Date Range Search</h3><a style="float:right;cursor: pointer;" ng-click="cancel()">X</a>
    </div>
    <form  name="dateForm" ng-submit="searchDate(dateEvent,allevent)" novalidate>
    
    <div class="modal-body">
        
        <fieldset class="form-group">
           <div class="col-sm-12">
               <span class="l-b">Search for events falling between the following two dates. Leave one of the two fields blank to un-restrict the date range on that end.</span>
               <span class="l-b">For example, setting a date on the "To" field and leaving the "From" field blank will pull all events up to the "To" date selected. </span>
           </div>
        </fieldset>

        <fieldset class="form-group">
           <div class="col-sm-4">From</div>
           <div class="col-sm-6 datepicker">
               <input type="date" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dateEvent.searchFromDate" is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close"   />
               <span class="input-group-btn">
               <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button></span>
           </div>
        </fieldset>
        
        <fieldset class="form-group">
            <div class="col-sm-4">To</div>
            <div class="col-sm-6 datepicker">
               <input type="date" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dateEvent.searchToDate" is-open="popup2.opened" datepicker-options="dateOptions" close-text="Close"   />
               <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
               </span>
            </div> 
        </fieldset>
        
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" >Submit</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
    </form>
</script>
