<div class="container">
    <h1>Financial Setting</h1>
    <div class="form-section  wt-frame">
        <form class="event-form" name="addUserForm" novalidate>
            <section class="gray-frame">
                <div>
                    <p class="error-fld" ng-show="error_message" >{{error}}</p>
                </div>
                <div>
                    <p class="success-fld" ng-show="success_message">{{success}}</p>
                    
                </div>
                <div class="row">
                    <div class="col-sm-6 section-col" ng-class="{ 'has-error' : addUserForm.first_name.$invalid && !addUserForm.first_name.$pristine }">
                        <label>First Name <span class="req">*</span></label>
                        <input type="text" name="first_name" ng-model="user.first_name" class="form-control" placeholder="First Name" ng-pattern="/^[a-z ,.'-]+$/i" required> 
                        <p ng-show="addUserForm.first_name.$invalid && !addUserForm.first_name.$pristine" class="error-fld ng-binding">Enter First Name.</p>
                    </div>
                    <div class="col-sm-6 section-col" ng-class="{ 'has-error' : addUserForm.last_name.$invalid && !addUserForm.last_name.$pristine }">
                        <label>Last Name <span class="req">*</span></label>
                        <input type="text" name="last_name" ng-model="user.last_name" ng-pattern="/^[a-z ,.'-]+$/i" class="form-control" placeholder="Last Name" required> 
                        <p ng-show="addUserForm.last_name.$invalid && !addUserForm.last_name.$pristine" class="error-fld ng-binding">Enter Last Name.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6" ng-class="{ 'has-error' : addUserForm.phone.$invalid && !addUserForm.phone.$pristine }">
                        <div class="form-group">
                            <label> Contact Number</label>
                            <input type="text" class="form-control" name="phone" placeholder="Contact Number"  ng-pattern="/^\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})$/"  ng-model="user.phone"/>
                             <p ng-show="addUserForm.phone.$error.pattern" class="error-fld ng-binding">Not a valid number!</p>
                        </div>
                    </div>
                    <div class="col-sm-6 section-col" ng-class="{ 'has-error' : addUserForm.email.$invalid && !addUserForm.email.$pristine }">
                        <label>Email Address <span class="req">*</span></label>
                        <input type="email" name="email" ng-model="user.email" class="form-control" placeholder="Email Address" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required> 
                        <p ng-show="(addUserForm.email.$invalid && !addUserForm.email.$pristine) || addUserForm.email.$error.pattern" class="error-fld ng-binding">Enter Email.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 section-col" ng-class="{ 'has-error' : addUserForm.cheque_name.$invalid && !addUserForm.cheque_name.$pristine }">
                        <label>Name For Cheque <span class="req">*</span></label>
                        <input type="text" name="cheque_name" ng-model="user.cheque_name" class="form-control" placeholder="Name For Cheque" required> 
                        <p ng-show="addUserForm.cheque_name.$invalid && !addUserForm.cheque_name.$pristine" class="error-fld ng-binding">Enter Name For Cheque.</p>
                    </div>
                    <div class="col-sm-6 section-col" ng-class="{ 'has-error' : addUserForm.address.$invalid && !addUserForm.address.$pristine }">
                        <label>Address <span class="req">*</span></label>
                        <textarea name="address" ng-model="user.address" class="form-control" placeholder="Enter Address" required></textarea>
                        <p ng-show="addUserForm.address.$invalid && !addUserForm.address.$pristine" class="error-fld ng-binding">Enter Address.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 section-col" >
                        <label>City </label>
                        <input type="text" name="city" ng-model="user.city" class="form-control" placeholder="Name of City"> 
                    </div>
                    <div class="col-sm-6 section-col">
                        <label>Zipcode</label>
                        <input type="text" name="zipcode" ng-model="user.zipcode" class="form-control" placeholder="Enter Zipcode" >
                    </div>
                </div>

                

                

                <div class="row">
                 <div class="col-sm-6 section-col" ng-class="{ 'has-error' : addUserForm.country.$invalid && !addUserForm.country.$pristine }">
                        <label>Country <span class="req">*</span></label>
                        <select class="form-control"  name="country" title="" ng-model="user.country" ng-change="showState();" required>
                         <option ng-repeat="countryName in countriesOptions">{{countryName}}</option>
                        </select>
                        <p ng-show="addUserForm.country.$invalid && !addUserForm.country.$pristine" class="error-fld ng-binding">Enter Country.</p>
                </div>

                    <div class="col-sm-6 section-col"  ng-show="enableState">
                        <label>State </label>
                        <select class="form-control" ng-model="user.state" >
                         <option ng-repeat="usaStateName in usaStatesOptions">{{usaStateName}}</option>
                        </select>

                    </div>
                </div>
            </section>
        </form>
        <div class="editor-btn">
            <button class="pink-btn btn" ng-click="submitFinancialDetails()" ng-disabled="addUserForm.$invalid">Add Credit Card Processing</button>          
        </div>
    </div>
</div>
