<div class="container">
    <h1>{{page_title}} Financial Setting</h1>
    <div class="form-section  wt-frame">
        <form class="event-form" name="customMerchantForm" novalidate>
            <section class="gray-frame">
                <div>
                    <p class="error-fld" ng-show="error_message" >{{error}}</p>
                </div>
                <div>
                    <p class="success-fld" ng-show="success_message">{{success}}</p>
                    <p class="success-fld" ng-show="success_message_already">{{success_already}}</p>
                </div>
                <div class="row">
                    <div class="col-sm-6 section-col" ng-class="{ 'has-error' : customMerchantForm.merchant_type.$invalid && !customMerchantForm.merchant_type.$pristine }">
                        <label>Merchant Type <span class="req">*</span></label>
                        <select class="form-control"  name="merchant_type" title="" ng-model="user.merchant_type" ng-change="showPageLayout();" ng-disabled="readonlyFlag" required  >
                            <!--<option>CyberSource</option>
                            <option>CardConnect</option>
                            <option>BeanStream</option>-->
                            <option>First Data</option>
                            <option>Authorize.NET</option>
                            <option>Authorize.NET Card Present</option>
                            <option>PayFlow</option>
                            <option>PayPal Express</option>
                           <!-- <option>Do Not Use</option>
                            <option>DirectPay</option>
                            <option>ICICI Bank</option>-->
                            <option>Stripe</option>
                           <!-- <option>GoEmerchant</option>
                            <option>Alignet</option>
                            <option>Cielo</option>
                            <option>PagoEfectivo</option>
                            <option>CC Avenue</option>
                            <option>PayGate</option>
                            <option>AirPay</option>
                            <option>FirstDataGlobalGatewayE4</option>
                            <option>T1 Authorize.Net Emulator</option>
                            <option>Transact Authorize.NET Emulator</option>
                            <option>NMI Authorize.NET Emulator</option>
                            <option>GoCoin</option> -->
                        </select>
                        <p class="error-fld ng-binding"  ng-show="customMerchantForm.merchant_type.$invalid && !customMerchantForm.merchant_type.$pristine">Select Merchant Type</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label> Organization</label>
                            <input type="text" class="form-control" name="organization" placeholder="Organization"  ng-model="user.organization"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" class="form-control" name="description" placeholder="Description"  ng-model="user.description" />
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="memo_div">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label> Memo</label>
                            <input type="text" class="form-control" name="memo" placeholder="Memo that appear on credit card statements"  ng-model="user.memo"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 section-col" ng-class="{ 'has-error' : customMerchantForm.currency_code.$invalid && !customMerchantForm.currency_code.$pristine }">
                        <label>Currency <span class="req">*</span></label>
                        <select class="form-control"  name="currency_code" title="" ng-model="user.currency_code" required>
                            <option value="USD">US Dollar</option>
                            <option value="AUD">Australian Dollar</option>
                            <option value="BBD">Barbados Dollar</option>
                            <option value="BRL">Brazilian Real</option>
                            <option value="CAD">Canadian Dollar</option>
                            <option value="CZK">Czech Korona</option>
                            <option value="DKK">Danish Krone</option>
                            <option value="EUR">Euro</option>
                            <option value="HKD">Hong Kong Dollar</option>
                            <option value="HUF">Hungarian Forint</option>
                            <option value="INR">Indian Rupee</option>
                            <option value="ILS">Israeli Shekel</option>
                            <option value="JPY">Japanese Yen</option>
                            <option value="MXN">Mexican Pesos</option>
                            <option value="NZD">New Zealand Dollar</option>
                            <option value="NOK">Norwegian Krone</option>
                            <option value="PEN">Peruvian Nuevo Sol</option>
                            <option value="PHP">Philippine Peso</option>
                            <option value="PLN">Polish Zloty</option>
                            <option value="GBP">Pound Sterling</option>
                            <option value="SGD">Singapore Dollar</option>
                            <option value="ZAR">South African Rand</option>
                            <option value="SEK">Swedish Krona</option>
                            <option value="CHF">Swiss Franc</option>
                        </select>
                        <p ng-show="customMerchantForm.currency_code.$invalid && !customMerchantForm.currency_code.$pristine" class="error-fld ng-binding">Select Currency Code.</p>
                    </div>
                </div>
                <div class="row" ng-show="keyfile_name_div">
                    <div class="col-sm-6" >
                        <div class="form-group">
                            <label> Keyfile Name</label>
                            <input type="text" class="form-control" name="keyfile_name" placeholder="Keyfile Name"  ng-model="user.keyfile_name"/>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="store_number_div">
                    <div class="col-sm-6" >
                        <div class="form-group">
                            <label> Store Number</label>
                            <input type="text" class="form-control" name="store_number" placeholder="Store Number"  ng-model="user.store_number"/>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="account_password_div">
                    <div class="col-sm-6" >
                        <div class="form-group">
                            <label> Password</label>
                            <input type="password" class="form-control" name="account_password" placeholder="Password in PayFlow or Paypal"  ng-model="user.account_password" />
                           
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="account_id_div">
                    <div class="col-sm-6" >
                        <div class="form-group">
                            <label> Account Id</label>
                            <input type="text" class="form-control" name="account_id" placeholder="Account Id/Username"  ng-model="user.account_id" />
                            
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="vendor_div">
                    <div class="col-sm-6" >
                        <div class="form-group">
                            <label> Vendor</label>
                            <input type="text" class="form-control" name="vendor" placeholder="Name of vendor or Merchant Id from Payflow settings."  ng-model="user.vendor"/>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="key_div">
                    <div class="col-sm-6" >
                        <div class="form-group">
                            <label> Key</label>
                            <textarea class="form-control" name="key" placeholder="Key"  ng-model="user.key"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="zero_auth_div">
                    <div class="col-sm-6" >
                        <div class="form-group">
                            <label> Zero Auth</label>
                            <div class="onoffswitch">
                                <input type="checkbox" checked="checked" ng-true-value="1" ng-false-value="0" ng-model="user.zero_auth" id="zero_auth_id" class="onoffswitch-checkbox" name="zero_auth" >
                                <label for="zero_auth_id" class="onoffswitch-label"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="capture_mode_div">
                    <div class="col-sm-6" >
                        <div class="form-group">
                            <label> Capture Mode</label>
                            <div class="onoffswitch">
                                <input type="checkbox" checked="checked" ng-true-value="1" ng-false-value="0" ng-model="user.capture_mode" id="capture_mode_id" class="onoffswitch-checkbox" name="capture_mode" >
                                <label for="capture_mode_id" class="onoffswitch-label"></label>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6" >
                        <div class="form-group">
                            <label> Accepted Cards</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        <div class="form-group">
                            <input type="checkbox" class="form-control" ng-model="user.visa" ng-true-value="1" >
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="form-group">
                            <span class="merchant-card-types">Visa</span>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="form-group">
                            <input type="checkbox" class="form-control" ng-model="user.discover" ng-true-value="1" >
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="form-group">
                            <span class="merchant-card-types">Discover</span>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="form-group">
                            <input type="checkbox" class="form-control" ng-model="user.master_card" ng-true-value="1" >
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <span class="merchant-card-types">Master Card</span>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="form-group">
                            <input type="checkbox" class="form-control" ng-model="user.american_express" ng-true-value="1" >
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <span class="merchant-card-types">American Express</span>
                        </div>
                    </div>
                </div>
            </section>
        </form>
        <div class="editor-btn">
            <button class="pink-btn btn" ng-click="submitCustomFinancialDetails()" ng-disabled="customMerchantForm.$invalid">{{button_title}} Credit Card Processing</button>          
        </div>
    </div>
</div>
