<div class="container">
    <h1>Financial Setting</h1>
    <!-- Form COntainer -->
    <div class="wt-frame form-section">
        <section class="row">
            <section class="col-sm-6">
                <section class="events-col">
                    <p class="ev-icon"><span><img src="images/icons/event-single.png" alt=""/></span></p>
                    <h2>Alist Credit Card Processor</h2>
                    <p class="col-con">Create a new one-time event. Edit ticket inventory and details.</p>
                    <p><a  href="#/add_financial_setting/alist" class="btn pink-btn">More details</a></p>
                </section>
            </section>
            <!--/Single Event-->
            <section class="col-sm-6">
                <section class="events-col">
                    <p class="ev-icon"><span><img src="images/icons/event-series.png" alt=""/></span></p>
                    <h2>Custom Credit Card Processor</h2>
                    <p class="col-con">Create a recrurring event and determine a schedule.</p>
                    <p><a  href="#/view_custom_financial_setting/list" class="btn pink-btn">More details</a></p>
                </section>
            </section>
            <!--/Event Series-->
        </section>
    </div>
    <!-- //Form COntainer --> 
</div>
