<div class="container">
    <h1>Merchant Accounts</h1>
    <!-- Form COntainer -->
    <div class="wt-frame form-section">
        <form class="event-form">
            <div class="form-group row">
                <section class="col-sm-6">
                    <section class="search-event">
                        <input type="text" name="filter" class="form-control search-field" placeholder="Enter your keyword" ng-model="filter">
                        <i class="fa fa-search"></i>
                    </section>
                </section>
            </div>
            <div class="module">
                <section class="gray-frame sub-fields">
                    <section class="grid-btn-top row">
                        <section class="col-sm-4">
                            <section class="top-buttons">
                                <a href="#/add_financial_setting/custom"><button class="btn pink-btn btn-small" type="button"><i class="fa fa-plus-square"></i> Add New Merchant Account Details</button></a>
                            </section>
                        </section>
                        <section class="col-sm-4">
                            <section class="top-buttons">
                                <!--href="/event_setting/exportDiscountCSV"-->
                                <!--<a  ng-click="exportDiscountCSV();"><button class="btn pink-btn btn-small" type="button"><i class="fa fa-plus-square"></i> Export CSV</button></a> -->
                            </section>
                        </section>
                    </section>
                    <section class="grid-widget">
                        <div class="table-responsive">
                            <p class="success-fld" ng-show="success_message">{{success}}</p>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="15%">Id</th>
                                        <th width="10%" class="numbers">Organization</th>
                                        <th width="14%" class="numbers">Type</th>
                                        <th width="14%" class="numbers">Currency</th>
                                        <th width="23%">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr pagination-id="paginate2" dir-paginate="data in merchantFinancialData | itemsPerPage: 2 | filter:filter">
                                        <td><strong>{{data.id}}</strong></td>
                                        <td class="numbers">
                                            <p ng-if="data.organization">{{data.organization}}</p>
                                            <p ng-if="data.organization == '' || data.organization == null || data.organization == undefined"></p>
                                        </td>
                                        <td class="numbers">{{data.merchant_type}}</td>
                                        <td class="numbers">{{data.currency_code}}</td>
                                        <td class="action">
                                            <a href="#/edit_financial_setting/{{data.id}}"><i class="fa fa-edit"></i></a>
                                        </td>
                                    </tr>
                                    <tr ng-show="loader">
                                        <td colspan="5" align="center"><img src="/images/icons/loader.gif"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <section class="grid-bottm clearfix">
                        <section class="paging">
                            <label class="lt-label"></label>
                            <dir-pagination-controls pagination-id="paginate2" ></dir-pagination-controls>
                        </section>
                        <section class="gr-right pull-right">
                            <ul class="legends">
                                <li><i class="fa fa-pencil-square-o"></i> <span>Edit</span></li>
                                <li><i class="fa fa-check-circle"></i><span>active</span></li>
                                <li><i class="fa fa-trash"></i><span>delete</span></li>
                            </ul>
                        </section>
                    </section>
                </section>
            </div>
        </form>
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Remove Previous Event</h3>
            </div>
            <div class="modal-body">
                Are you sure to remove this previous created Event?
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="remove()">Remove</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </script>
    </div>
    <!-- //Form COntainer --> 
</div>
