
 <div class="container">
     <h1>Add Event Widget</h1>
         <div class="form-section  wt-frame">

<p>Create a customized event widget to easily display your upcoming events on any website.<br>
<br>
Simply customize your settings below and copy/paste the code where you'd like your widget to be displayed.</p>
<br>
<h3>Settings</h3>
<br>
<form  name="myForm" class="event-form">
<div class="gray-frame sub-fields">
 <div class="row">
	<div class=col-sm-12>
	  <div class=col-sm-6>
       <section class="form-group">
            <label>Display Title Bar</label>
              <div class="onoffswitch mt-3">
              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch2" checked>
              <label class="onoffswitch-label" for="myonoffswitch2"></label>
              </div>
         </section>
        </div>
	   <div class=col-sm-6>
           <section class="form-group">
            <label>Group Event Series</label>
            <div class="onoffswitch mt-3">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch3" checked>
           <label class="onoffswitch-label" for="myonoffswitch3"></label>
     </div>
      </section>
       </div>
	</div>
  </div>

 <div class="row">
	<div class=col-sm-12>
	  <div class=col-sm-6>
       <section class="form-group">
            <label for="title">Title Text</label>
<input type="text" name="title" ng-model="data.title" class="form-control" placeholder="upcoming event" required>
         </section>
        </div>
	 <div class=col-sm-6>
           <section class="form-group">
            <label for="max_event">Max # of event</label>
<input type="text" name="max_event" ng-model="data.max_event" class="form-control" placeholder="4" required>
      </section>
       </div>
	  </div>
	  </div>


	  <div class="row">
	<div class=col-sm-12>
	  <div class=col-sm-6>
       <section class="form-group">
            <label>Display Date Block?</label>
              <div class="onoffswitch mt-3">
              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch4" checked>
              <label class="onoffswitch-label" for="myonoffswitch4"></label>
              </div>
         </section>
        </div>
	 <div class=col-sm-6>
           <section class="form-group">
            <label>Display image?</label>
            <div class="onoffswitch mt-3">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch5" checked>
           <label class="onoffswitch-label" for="myonoffswitch5"></label>
     </div>
      </section>
       </div>
	  </div>
	  </div>


	  <div class="row">
	<div class=col-sm-12>
	  <div class=col-sm-6>
       <section class="form-group">
            <label>Display Full Date?</label>
              <div class="onoffswitch mt-3">
              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch6" checked>
              <label class="onoffswitch-label" for="myonoffswitch6"></label>
              </div>
         </section>
        </div>
	 <div class=col-sm-6>
           <section class="form-group">
            <label>Display Time?</label>
            <div class="onoffswitch mt-3">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch7" checked>
           <label class="onoffswitch-label" for="myonoffswitch7"></label>
     </div>
      </section>
       </div>
	  </div>
	  </div>

	  <div class="row">
	<div class=col-sm-12>
	  <div class=col-sm-6>
       <section class="form-group">
            <label>Display Vanue?</label>
              <div class="onoffswitch mt-3">
              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch8" checked>
              <label class="onoffswitch-label" for="myonoffswitch8"></label>
              </div>
         </section>
        </div>
	 <div class=col-sm-6>
           <section class="form-group">
            <label>Display Ticket Link?</label>
            <div class="onoffswitch mt-3">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch9" checked>
           <label class="onoffswitch-label" for="myonoffswitch9"></label>
     </div>
      </section>
       </div>
	  </div>
	  </div>


</div>
</form>
<br>
<br>
<h3>style</h3>
<div class="gray-frame sub-fields">

 <div class="row">
	<div class=col-sm-12>
	  <div class=col-sm-6>
       <section class="form-group">
            <label>Preview</label>
         </section>
        </div>
        </div>
        </div>
 <div class="row">
     <div class="module template-view">
         <div class="image-main">
              <img src="images/img/f-img.jpg" alt="" style="border:2px solid black;"/>
         </div>
     </div>
</div>
<br>
<!-- <div class="form-group">
<div class="row">
<div class=col-sm-12>
<div class=col-sm-2.4>

                      <label class="form-label">Set Width</label>
                   </div>
                    <div class="col-sm-2.4">
                     <label for="height">Height in PIxel</label>
                  </div>

                    <div class="col-sm-2.4">
                     <label for="width">Width in Pixel</label>
                    </div>
                    </div>
                 </div> 


</div> -->
  </div>
<br>
<br>
<h3>Size</h3>
<div class="gray-frame sub-fields">

            <!-- Date Event Group -->
            <div class="event-date fieldSection">
              <div class="row">
        <div class="col-sm-12">
        <div class="col-sm-4">
                      <label class="form-label">Set Width</label>
                    </div>
                    <div class="col-sm-4">
                     <label for="height">Height in PIxel</label>
                    </div>

                    <div class="col-sm-4">
                     <label for="width">Width in Pixel</label>
                    </div>
                    </div>
                    <section class="radio-sec with-ftext col-sm-12">
                          <div class="col-sm-4">

                          <section class="radio-inline">
                              <input type="radio"  name="auto"id="radio10"/>
                              <label for="radio10"><span></span>Auto</label>
                          </section>
                          <section class="radio-inline">
                          <input type="radio"   name="fixed" id="radio9"/>
                          <label for="radio9"><span></span>Fixed</label>
                          </section>
                        </div>
                        <div class="col-sm-4">
                         <input type="text" name="height"  class="form-control" placeholder="160" required>
                       </div>
                        <div class="col-sm-4">
                          <input type="text" name="height"  class="form-control" placeholder="330" required> 
                        </div>
            </section>
        </div>
  </div>
</div>

<br>
<br>
<h3>Embed</h3>
<div class="gray-frame sub-fields">
<p><b>Simply click below and copy the code onto your website to display your customized event widget!</b> </p>
 <br>
 <br>
      <section class="row">
         <section class="col-sm-8">
            <section class="form-group">
              <textarea name="textarea" class="form-control" cols="150" rows="5"></textarea>
             </section>
          </section>  
      </section>
 
</div>
<div class="editr">        
        <div class="editor-btn">
         <button class="gray-btn btn">Save</button>
        </div>
      </div>
</div>
</div>