<style>
     .table-ng-style thead th {
  text-align: left;/*change that parameter to left/right*/
}
</style>
<div class="container">
    <h1>View all Questions</h1>
    <!-- Form COntainer -->
    <div class="wt-frame form-section">
        <form class="event-form">
            <!-- Event Detail Form -->
            <div class="form-group row">
                <section class="col-sm-6">
                    <section class="search-event">
                        <input type="text" name="filter" class="form-control search-field" placeholder="Enter your keyword" ng-model="filter">
                        <i class="fa fa-search"></i>
                    </section>
                </section>
            </div>
            <!--Ticket Types Start -->
            <div class="module">
                <section class="gray-frame sub-fields">
                    <section class="grid-btn-top row">
                        <section class="col-sm-7">
                            <section class="top-buttons">
                                <a href="#/add_question"><button class="btn pink-btn btn-small" type="button"><i class="fa fa-plus-square"></i> Add New Question</button></a>
                            </section>
                        </section>
                        <section class="col-sm-5 right-btns text-right">
                            <a ng-click="goPath();" ng-show="enableAssign"><button class="btn pink-btn btn-small" type="button"><i class="fa fa-plus-square"></i> Assign Question</button></a> 
                        </section>
                    </section>
                    <section class="grid-widget">
                        <div class="table-responsive">
                           <p class="success-fld" ng-show="success_message">{{success}}</p>
                            <table ng-table="tableParams" class="table table-striped table-ng-style">
                                <!--<thead>
                                    <tr>
                                        <th width="5%"><input type="checkbox" name="checkall" class="listing-check" ng-model="isAllSelected"ng-click="toggleAll();"></th>
                                        <th width="15%">Name</th>
                                        <th width="10%" class="numbers">Type</th>
                                        <th width="14%" class="numbers">Assigned To</th>
                                        <th width="23%">&nbsp;</th>
                                    </tr>
                                </thead>-->
                                <tbody>
                                    <tr  ng-repeat="pdata in $data | filter:filter">
                                        <td header="'ng-table/headers/checkbox.html'"><input type="checkbox" name="checkall" ng-model="pdata.selected"  ng-click="optionToggled(pdata.id);" ></td>
                                        <td header-class="'text-left'" title="'Name'" filter="{ name: 'text'}" sortable="'question_name'"><strong>{{pdata.question_name}}</strong></td>
                                        <td title="'Type'" filter="{ name: 'text'}" sortable="'question_type'" >{{pdata.question_type}}</td>
                                        <td title="'Assigned To'" filter="{ name: 'text'}"  >
                                            <p ng-if="event_count[pdata.id] > 0">{{event_count[pdata.id]}}  Events</p>
                                            <p ng-if="event_count[pdata.id] == '' || event_count[pdata.id] == null">0  Event</p>
                                        </td>
                                        <td title="'Actions'" class="text-center action">
                                            <a href="#/edit_question/{{pdata.id}}"><i class="fa fa-edit"></i></a>
                                            <a ng-click="changeStatus(pdata.id,pdata.status)" ng-confirm-click="Would you like to change Question status ?"><i class="fa fa-check-circle" ng-if="pdata.status == 1"></i><i class="fa fa-times" ng-if="pdata.status == 0"></i></a>
                                            <a ng-click="delQuestion(pdata.id)" ng-confirm-clicks="Would you like to delete this Question?" ng-if="event_count[pdata.id] == '' || event_count[pdata.id] == null"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    <tr ng-show="loader">
                                        <td colspan="7" align="center"><img src="/images/icons/loader.gif"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <section class="grid-bottm clearfix">
                        <!--<section class="paging">
                            <label class="lt-label"></label>
                            <dir-pagination-controls pagination-id="paginate2" ></dir-pagination-controls>
                        </section>-->
                        <section class="gr-right pull-right">
                            <ul class="legends">
                                <li><i class="fa fa-pencil-square-o"></i> <span>Edit</span></li>
                                <li><i class="fa fa-check-circle"></i><span>active</span></li>
                                <li><i class="fa fa-trash"></i><span>delete</span></li>
                            </ul>
                        </section>
                    </section>
                </section>
            </div>
            <!-- Ticket Types Closed --> 
        </form>
	 <script type="text/ng-template" id="ng-table/headers/checkbox.html">
        <input type="checkbox" name="checkall" class="listing-check" ng-model="check.isAllSelected" ng-click="toggleAll(1);">
        </script>
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Remove Previous Event</h3>
            </div>
            <div class="modal-body">
                Are you sure to remove this previous created Event?
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="remove()">Remove</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </script>
    </div>
    <!-- //Form COntainer --> 
</div>
