<!-- Container -->
<div class="container">
    <h1>Event Settings</h1>
    <!-- Form COntainer -->
    <div class="wt-frame form-section">
        <section class="module" ng-if = checkPermission(permission[1],'add') || checkPermission(permission[1],'edit') || checkPermission(permission[1],'delete') || checkPermission(permission[1],'view') >
            <section class="prof-hd no-icon" ng-click="openTab1(id1)">
                <!--<i class="fa fa-ticket hdicon pos-l16"></i>-->
                <h2>Venues  <span class="rt-img"><i class="fa {{venuetabclass}}"></i></span></h2>
            </section>
            <section class="gray-frame"  ng-show="venuetab">
            <label>Location information for events (incl. name, address, time zone, etc.).</label>
                <ul class="btns-widget clearfix">
                    <li><a href="{{redirectvenue}}"><i class="fa fa-list-ul icon-fa"></i>{{ venuecount }}  Venues</a></li>
                    <li><a href="#/add_venue"><i class="fa fa-home icon-fa"></i>Add Venue</a></li>
                </ul>
            </section>
        </section>
        <!--/Customers-->
        <section class="module" ng-if = checkPermission(permission[6],'add') || checkPermission(permission[6],'edit') || checkPermission(permission[6],'delete') || checkPermission(permission[6],'view')>
            <section class="prof-hd no-icon" ng-click="openTab2(id2)">
                <!--<i class="fa fa-ticket hdicon pos-l16"></i>-->
                <h2>Products <span class="rt-img"><i class="fa {{producttabclass}}"></i></span></h2>
            </section>
            <section class="gray-frame" ng-show="producttab">
            <label>Merchandise or other items included with ticket purchases.</label>
                <ul class="btns-widget clearfix">
                    <li><a href="{{redirectproduct}}"><i class="fa fa-list-ul icon-fa"><span class="fa fa-list-ul sub-fa"></span></i>{{productcount}} Products</a></li>
                    <li><a href="#/add_product"><i class="fa fa-qrcode icon-fa"></i>Add Product</a></li>
                </ul>
            </section>
        </section>
        <!--/Users-->
        <section class="module" ng-if = checkPermission(permission[3],'add') || checkPermission(permission[3],'edit') || checkPermission(permission[3],'delete') || checkPermission(permission[3],'view')>
           <section class="prof-hd no-icon" ng-click="openTab3(id3)">
                <!--<i class="fa fa-ticket hdicon pos-l16"></i>-->
                <h2>Discount <span class="rt-img"><i class="fa {{discounttabclass}}"></i></span></h2>
            </section>
            <section class="gray-frame" ng-show="discounttab">
            <label>Codes for special offers (e.g. discounts, presales, comps, reserve).</label>
                <ul class="btns-widget clearfix">
                    <li><a href="{{redirectdiscount}}"><i class="fa fa-calendar-o icon-fa"></i>{{discountcount}} Discount Codes</a></li>
                    <li><a href="#/add_discount"><i class="fa fa-shopping-cart icon-fa"></i>Add Discount Code</a></li>
                </ul>
            </section>
        </section>
        <!--/Widgets-->
        <section class="module" ng-if = checkPermission(permission[4],'add') || checkPermission(permission[4],'edit') || checkPermission(permission[4],'delete') || checkPermission(permission[4],'view')>
            <section class="prof-hd no-icon" ng-click="openTab4(id4)">
                <!--<i class="fa fa-ticket hdicon pos-l16"></i>-->
                <h2>Question <span class="rt-img"><i class="fa {{questiontabclass}}"></i></span></h2>
            </section>
            <section class="gray-frame" ng-show="questiontab">
            <label>Questions during checkout for collecting customer info (ex. surveys, marketing).</label>
                <ul class="btns-widget clearfix">
                    <li><a href="{{redirectques}}"><i class="fa fa-plus-square-o icon-fa"></i>{{ quescount }} Question</a></li>
                    <li><a href="#/add_question"><i class="fa fa-ticket icon-fa"></i>Add Question</a></li>
                </ul>
            </section>
        </section>
        <!--/Downloads-->
       <!-- <section class="module">
            <section class="prof-hd no-icon" ng-click="openTab(5)">
                <!--<i class="fa fa-ticket hdicon pos-l16"></i>-->
                <!--<h2>Bundle <span class="rt-img"><i class="fa {{bundletabclass}}"></i></span></h2>
            </section>
            <section class="gray-frame" ng-show="bundletab">
                <ul class="btns-widget clearfix">
                    <li><a href="#/add_bundle"><i class="fa fa-ticket icon-fa"></i>Add Bundle</a></li>
                </ul>
            </section>
        </section> -->
        <!--/Downloads-->
    </div>
    <!-- //Form COntainer --> 
</div>
<!-- //Container --> 
</div>

