  
  
  
  <!-- Container -->
  <div class="container">
      <h1>Venue Overview</h1>
    
    <!-- Form COntainer -->
    
    <div class="wt-frame form-section">
        <section class="d-panel">
            <section class="d-panel-body">
            	<section class="row">
                    <section class="col-sm-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col">
                                       Venue Details
                                    </div>
                                    
                                </div>
                            </div>
                           <div class="panel-footer same-as text-center">Same as past 30 days</div>
                        </div><!--Tickets Sold-->
                        <div class="panel panel-pink">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-usd fa-4x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">0.00</div>
                                        <div>Tickets Revenue</div>
                                    </div>
                                </div>
                            </div>
                           <div class="panel-footer same-as text-center">Same as past 30 days</div>
                        </div><!--Tickets Revenue-->
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-percent fa-4x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">0.0</div>
                                        <div>Conversion Rate</div>
                                    </div>
                                </div>
                            </div>
                           <div class="panel-footer same-as text-center">Same as past 30 days</div>
                        </div><!--Conversion Rate-->
                    </section>
                    <section class="col-sm-8">
                    	<section class="panel graph-frame">
                            <section class="panel-body">Graph area</section>
                        </section>
                    </section>
                </section>
            </section>
        </section> <!--/Top Section-->
  
    </div>
    
    <!-- //Form COntainer --> 
  </div>
  <!-- //Container --> 
  
</div>
